[2021-08-20 07:28] GMishx commented on #2085
Please note that the issue not strictly related to licenses created by ojo as currently it creates all licenses as candidate license.
Rather any license with `rf_flag=1` have this issue. I faced it because of a hash collision.

[2021-08-20 07:31] GMishx commented on #2085
[code]

[2021-08-23 05:09] namangirdhar16 commented on #1966
Hi @GMishx , i would like to work on this issue, can you suggest me how to get started ?

[2021-08-25 10:03] dl9pf opened #2090 "ununpack lockup on libzip source tree"
### Description

When uploading libzip sources, ununpack will end-up in a loop or bad state.
The job is not able to recover and will stick in the scheduler. No recovery possible so far.

job:1246 status:JOB_STARTED type:ununpack, priority:0 running:1 finished:0 failed:0

job:1282 status:JOB_STARTED type:ununpack, priority:0 running:1 finished:0 failed:0

job:1514 status:JOB_STARTED type:ununpack,

[2021-08-25 15:56] dl9pf commented on #2090
Another case:
ERROR traverse.c.229: pfile (null) Command zcat failed on: /firefox-60.9.0esr.source.tar.xz.dir/firefox-60.9.0/third_party/rust/flate2/tests/corrupt-file.gz

So we do not handle the case gracefully of (intentionally) corrupt archives.

We do need to improve here and handle this gracefully !

[2021-08-25 15:57] dl9pf commented on #2090
Example file #2:  https://archive.mozilla.org/pub/firefox/releases/60.9.0esr/source/firefox-60.9.0esr.source.tar.xz

[2021-08-26 12:32] NicolasToussaint opened #2092 "SQL queries in PHP IsAlreadyScheduled function"
### Description

The SQL query in PHP `IsAlreadyScheduled`function seems broken - the effect is that (supposely when the some resources (like newtwork cnx or filesystem) are slow), identical jobs are triggered multiple times, because is does not detect that it has already been scheduled.

https://github.com/fossology/fossology/blob/a3ba2c87f5dd7f39ff4b6392ea8956cbfd099e27/src/lib/php/common-job.ph

[2021-08-31 13:37] NicolasToussaint commented on #2092
Closing, I probably jumped to conclusions here.

[2021-08-31 13:37] #2092 closed

[2021-09-01 11:21] reachaadrika opened #2097 "Documentation of precise steps to install FOSSOLOGY in WSL2 along with steps to overcome issues associated with it."
### Description
1 . Steps to install the FOSSOLOGY  repository in WSL2.
2.  Steps of how to  overcome some issues that are associated with installation in WSL2  . (One of them is the "postgresql error")

Addition of these steps would make it easier for new contributors who are using WSL2 to install Fossology.

[2021-09-01 11:56] reachaadrika commented on #2097
If this is a valid issue , Can I work on this ?

[2021-09-19 00:41] rahulmohang opened #2100 "'Clean Text' button click does not clean texts with character, '*'"
### Description

The action on 'Clean Text' button does not remove the character, '*', that is very common  part of texts.

#### How to reproduce

1. Go to Bulk recognition on a file with a license text starting with the '*' character.
2. Paste the reference text to the 'Reference text' field.
3. Click the 'Clean Text' button.

#### Screenshots

If applicable, add screenshots to help explain your

[2021-09-30 00:03] eclipsewebmaster opened #2103 "dbmigrate_change_db_encoding.php needs GB of memory"
While upgrading Eclipse's fossology, I am running into:

  Processed 950000 rows for copyright table
PHP Fatal error:  Allowed memory size of 1073741824 bytes exhausted (tried to allocate 67108864 bytes) in /usr/local/share/fossology/vendor/monolog/monolog/src/Monolog/Logger.php on line 322

I've already increased memory_limit, and have set it to 4G to finish the process.

[2021-10-01 04:31] GMishx commented on #2103
Please consider using the `fo_unicode_clean` utility to migrate if error persists.
It requires some basic knowledge on [`pg_dump`](https://www.postgresql.org/docs/11/app-pgdump.html) and `psql`.

Steps to recode are documented here: https://github.com/fossology/fossology/wiki/Migration-to-UTF-8-DB#fixing-pg_dump-fast

[2021-10-01 04:36] GMishx commented on #2103
Alternatively, try reducing the number of rows at

https://github.com/fossology/fossology/blob/dbd4115294fe6a50a1f621c3095267cdb3912af4/install/db/dbmigrate_3.7-3.8.php#L31

[2021-10-01 07:41] GMishx commented on #2100
I though I replied already but there is a PR with more comment identifiers
https://github.com/fossology/fossology/pull/2073

[2021-10-01 08:27] rahulmohang commented on #2100
ok, thank you. One comment though - Most of the characters are cleaned as of now. As per what I observed, '*' is not.

[2021-10-01 08:45] GMishx commented on #2100
Yeah, the PR adds following new symbols to the mix
- `dnl`
- `,`
- `*`
- `'''`
- `"""`

Also, ability to provide your own list per scan.

[2021-10-01 08:59] rahulmohang opened #2104 "Selected files in a folder should be editable in one step"
### As of now, the edit function, for files in a folder, from the license browser view (Please see the attached screenshot for the view), works only for individual files. Selected files could be processed or applied a decision using a common edit button similar to the 'MarkAsIrrelevant' button.

#### Steps followed and expected result
1. Select an upload.
2. Browse to any folder.
3. In the files v

[2021-10-02 03:43] rahulmohang commented on #2100
Thank you.

[2021-10-02 17:30] dineshr93 opened #2105 "Fossology token is not accepted by sw360 but token works well if executed in api testing sw Insomnia (like postman)"
[//]: # (Copyright Siemens AG, 2021. Part of the SW360 Portal Project)
[//]: # (This program and the accompanying materials are made)
[//]: # (available under the terms of the Eclipse Public License 2.0)
[//]: # (which is available at https://www.eclipse.org/legal/epl-2.0/)
[//]: # (SPDX-License-Identifier: EPL-2.0)

### Description

The token generated in fossology 3.11.0 is not working in sw360

[2021-10-04 07:44] GMishx commented on #2104
A suggestion: We can remove the `Download` and `Edit` from each row. Add a drop down in the header of the table and Download/Edit selected files.

[2021-10-04 07:46] GMishx commented on #2097
Using Virtual Box or Vagrant will be much more preferred instead of WSL. The architecture of WSL is slightly different than of native Linux.

[2021-10-04 08:41] rahulmohang commented on #2104
Yes, that is a good suggestion.

[2021-10-04 13:36] eclipsewebmaster commented on #2103
I got it working with enough memory_limit, Is it normal that these tables are so large? Or are we missing a maintenance/cleanup?

[2021-10-04 16:36] GMishx commented on #2105
Hello @dineshr93,

We would need some more information on this.
1. What is the commit or version where SW360 connection failed? There are some changes in API which need to be propagated to SW360 I think.
2. What is the endpoint SW360 hits to check the working of token?
3. Will it be possible to share output of `http://fossology/repo/api/v1/info` (removing private info, if any)?

Also, in the logs

[2021-10-05 03:40] reachaadrika commented on #2097
@GMishx Should I close this issue ?

[2021-10-05 06:04] GMishx commented on #2103
The only section I see consuming that much memory is
https://github.com/fossology/fossology/blob/dbd4115294fe6a50a1f621c3095267cdb3912af4/install/db/dbmigrate_3.7-3.8.php#L78-L82

It concatenate all rows into a single, huge string. So it might grow as per the records in DB.

Also, the error you've received is from monolog, used for logging SQL queries. I am assuming something is happening there.

[2021-10-05 06:06] GMishx commented on #2097
You can submit documentation if you prefer. We can put it on wiki.
But we would not like to publish anything resembling "FOSSology officially supports WSL".
As long as it's an experimental step, it should be fine.

[2021-10-05 12:05] dineshr93 commented on #2105
Hi @GMishx
1. sw360 version is Version: 13.4.0 | Branch: UNKNOWN (e9856a4)
2.  I am not sure which endpoint it hits
3. The output of `http://fossology/repo/api/v1/info` is `500 server error` and below is the log output
[code]

The output for `http://fossology/repo/api/v1/users` is **successful** and below is the log output

[code]

[2021-10-05 12:40] eclipsewebmaster commented on #2103
Memory allocation fails in Logger.php on line 322 -- since there is no log output on screen, perhaps it is accumulating a log to memory?

[2021-10-07 13:16] GMishx commented on #2105
[code]
Seeing your logs, I can see `/repo/api/v1/version` and `/repo/api/v1/users` respond.

[code]

But `/repo/api/v1/info` fails with 500 saying service not found.

I am assuming it is a Docker container FOSSology is running on. Will it possible to share either the image version or the version string of FOSSology, like `Version: [3.11.0.1], Branch: [head], Commit: [#c93921] 2021/08/02 13:10 IST

[2021-10-07 15:15] dineshr93 commented on #2105
Hi @GMishx,

Yes we run fossy in docker and version is
`**Version: [3.11.0], Branch: [HEAD], Commit: [#c93921] 2021/07/30 07:40 UTC built @ 2021/10/02 14:57 UTC**`

[2021-10-11 12:37] rahulmohang opened #2108 "Add a 'Clean Text' button to the 'License Text' field"
### Description

It would be good if  a 'Clean Text' button is added to the 'License Text' field.

#### Steps followed and expected result

1. Copy text of a license from the file browser window.
2. Click on the 'License Text' field to paste the text in to the field.
3. If the text has delimiters, it has to be manually removed now.
4. It would be helpful if the delimiters could be removed with a b

[2021-10-11 12:42] rahulmohang opened #2109 "Selection of multiple licenses in the filter for licenses in the browser view"
### Description

If there is option to filter multiple license, review of audit results could become easy.

#### Steps followed and expected result

1. Select a component.
2. Browse to the license view.
3. Filter for files licensed under specific license.
4. Only one license could be selected.
5. It would be good if multiple licenses could be selected in the drop downs for  filtering licenses.

##

[2021-10-11 13:01] rahulmohang opened #2110 "Display 'All' option in license browser table"
### Description

There are use cases where a display all files inside a folder in the 'License Browser' view could be helpful. e.g.. When we do an edit function for multiple files, it would be nice to display all files in a single window, with a scroll bar, so that all the files of a folder could be brought under the scope of the edit operation. Please see the screenshot.

#### Steps followed and

[2021-10-18 12:54] rahulmohang opened #2111 "Identification of licenses by Fossology scanners may be based on latest SPDX identifiers"
### Description

As per https://spdx.org/licenses/, the SPDX identifiers used for 'or later' licenses have changed from the '+' sign to 'or later'. Fossology scan still identifies the identifiers that are deprecated.

#### How to reproduce

1. Please scan a source package.
2. Go to a file with any license that allows it to be licensed under a later version.
3. Fossology scanner identifies the iden

[2021-10-20 13:22] GMishx commented on #2105
Can you please capture logs from Apache (FOSSology side) when SW360 is trying to check the connection?

There can be something we are missing...

[2021-10-31 12:03] dineshr93 opened #2113 "Cancel the direct and indirect(transitive) dependencies jobs automatically when the master job is cancelled"
### Description

The dependencies jobs(both direct and indirect) remain active/queued state even after the master job (wget) gets killed/cancelled in the UI

#### How to reproduce

1. Trigger an upload via api
2. cancel the wget in the UI

The dependencies job remains active in the UI.

Ideally when master job is cancelled all its dependencies also should be cancelled.

#### Screenshots

![image](

[2021-11-01 08:43] dineshr93 opened #2114 "Delete a license via REST API"
### Description

Ability to Delete a license via a REST API

#### Proposal and expected result

input: **license_short_name** at the end of url
[code]
Output: delete the license

[2021-11-05 05:58] dineshr93 commented on #1983
@todd101.  Here is the wiring of the software heritage agent https://www.sandipbhuyan.com/updates/4

[2021-11-08 14:41] Nilesh0590 opened #2116 "Could not connect to FOSSology database."
### Description

I have installed fossology on RHEL 8 from source

#### How to reproduce

Describe the bug and list the steps you used when the issue occurred.

#### Screenshots

If applicable, add screenshots to help explain your problem.

### Versions

* Last commit id on master:
* Operating System (lsb_release -a):

LSB Version:    :core-4.1-amd64:core-4.1-noarch:cxx-4.1-amd64:cxx-4.1-noarch:de

[2021-11-08 14:43] Nilesh0590 commented on #2116
pg_hba.conf as below:

# TYPE  DATABASE        USER            ADDRESS                 METHOD

# "local" is for Unix domain socket connections only
local   all             all                                     md5
# IPv4 local connections:
host    all             all             127.0.0.1/32            md5
# IPv6 local connections:
host    all             all             ::1/128

[2021-11-08 14:45] Nilesh0590 commented on #2116
Db.conf

dbname=fossology;
host=127.0.0.1;
user=fossy;
password=fossy;
client_encoding=utf8;

[2021-11-10 10:02] reachaadrika commented on #2097
@GMishx Should I share the changes made in documentation here ?

[2021-11-11 06:29] GMishx commented on #2097
Hey, that's great. Yeah you can drop the patch file here for review or over Slack and we can put them on Wiki.

[2021-11-15 02:49] reachaadrika commented on #2097
Done .!

[2021-11-17 13:14] reachaadrika commented on #2097
Done with the changes in wiki .

[2021-11-17 13:14] #2097 closed

[2021-11-20 17:42] soham4abc commented on #1935
@GMishx  is the issue still open. If so I can work on this!

[2021-11-20 20:56] Olegt0rr commented on #1932
Get the same issue on MacBook M1

### How to reproduce
Docker image `python:3.8-slim`
Requirements: `psycopg2-binary==2.9.2`
`psycopg2.OperationalError: SCRAM authentication requires libpq version 10 or above`

### Workaround
Docker image `python:3.8-slim` + libpq-dev
Requirements: `psycopg2==2.9.2`
Works fine!

Should I create a new issue?

[2021-11-22 08:51] NicolasToussaint commented on #1935
Just wondering, I do not see what is wrong which the underlined text in the screen shot
What would you like to change for ?

[2021-11-25 21:18] elfring opened #2121 "Increase the usage of expressions with combined operators"
### Description
:eyes: Some source code analysis tools can help to find opportunities for improving software components.
:thought_balloon: I propose to [increase the usage of combined operators](https://www.php.net/manual/en/language.operators.assignment.php#language.operators.assignment.arithmetic "Description for assignment operators") accordingly.

### Change suggestion
[code]

[2021-11-27 06:04] DawnArchi01 commented on #2110
Hey ! I want to contribute . How can I help ?
@GMishx @rahulmohang

[2021-11-27 06:07] DawnArchi01 commented on #2061
Can you assign me for this task ? I would be glad to work on it

[2021-11-27 12:39] SanjaySinghRajpoot commented on #2114
I would like to work on this issue. Could you please which files are to be modified?
 Thank You

[2021-11-27 12:40] SanjaySinghRajpoot commented on #2081
I would like to work on this issue.

[2021-11-28 20:53] rahulmohang commented on #2110
@DawnArchi01, thank you. Please see the drop down pointed to in the attached picture. Now, there is no option to display all files in a single widow. There is a limit of 100 files. It would be better to display all files in a window.

[2021-11-29 12:37] #1930 closed

[2021-11-30 16:14] DawnArchi01 commented on #2110
Ok. Please assign me the task

[2021-12-02 06:04] Aditi-Roy-coder commented on #2114
I want to work on this issue.

[2021-12-02 06:09] Aditi-Roy-coder commented on #2061
I want to work on this issue.

[2021-12-02 06:23] Aditi-Roy-coder commented on #1966
I would like to work on this issue.

[2021-12-02 06:25] Aditi-Roy-coder commented on #1929
I would like to work on this issue.

[2021-12-04 16:47] rahulchandra17 commented on #2108
Hey I want to work on this issue please assign

[2021-12-05 11:09] sameer786m commented on #2061
i would like to work on this. please assign me this task

[2021-12-09 05:18] GMishx commented on #2116
What happens if you connect it via `psql -h localhost -d fossology -U fossy`?

I am guessing the reason being `ident` method for IPv6 mechanism `host all all ::1/128 ident`. The user creating the connection can be `www-data` (PHP) or `fossy` (scheduler) but the database being named `fossology` and thus will fail for `ident`. Changing it to `md5` should solve the problem.

[2021-12-09 05:24] GMishx commented on #1935
Closing the issue as it needs changes in license text which is copyrighted by FSF which is not permitted.
[code]

Please reopen the issue if changes are required in other sections of the page.

[2021-12-09 05:24] #1935 closed

[2021-12-17 16:10] DimpoCpp opened #2125 "Uploaded zip file is not recognized"
### Description

I am uploading a zip file, [OpenCV](https://github.com/opencv/opencv), to test it on Fossology.
I am getting "no file selected" when doing so.
I have tried using smaller files and it works.
Trying to single out a specific folder, in OpenCV, by extracting and zipping it into a new .zip file, also works.
What could be the reason for this ? Size ?

#### How to reproduce

Upload the o

[2021-12-28 13:57] Auricmondal commented on #2109
Hey,
I am new to this opensource contribution and would like to contribute to Fossology.
I have not much idea of how should I get started. It will be really great if anyone please guide me through the process.
I have my skills on HTML, CSS, JAVASCRIPT and MongoDB.

Looking forward for your reply for I can not wait to start contributing to the platform.

[2022-01-06 05:03] GMishx commented on #2125
![image](https://user-images.githubusercontent.com/18077542/148330640-402f643b-f8e6-43b7-a035-ecd2196409b6.png)

I just tested the upload and it seems to be working.

Can you please provide more info like:

- Apache's error log and access log (available under `/var/log/apache2/` in Ubuntu/Debian)?
- Try capturing the `POST` request from your browser using Web Developer Tool (or what your browser s

[2022-01-06 05:06] GMishx commented on #2116
Closing the issue for now. @Nilesh0590 please reopen if issue persist.

[2022-01-06 08:00] NicolasToussaint commented on #2125
Also tried, works well

It could also be a file permission problem ?
That's the message I get when trying to upload a file for which my current user has no `read` permission.

[2022-01-18 15:11] DawnArchi01 commented on #2061
@eschenbachertq @GMishx I've made a PR #2142 on this particular issue . Please review and let me know if some changes are to be done .

[2022-01-20 09:48] SidharajYadav commented on #2081
I would like to work on this issue.
please guide me

[2022-01-24 16:48] thegeekymuggle commented on #2114
Hi, I would love to work on the issue.

[2022-01-24 16:51] thegeekymuggle commented on #2108
Hi, I would love to work on this issue

[2022-01-26 13:53] rohitpandey49 commented on #83
Hi, I am looking to work on this issue but unable to get the code for login.

[2022-01-26 16:41] jmhartle opened #2146 "Docker container Fossology won't upload a file greater than 1MB, even when the size set is 700MB"
### Description
The company I work for has an IT team which created a Fossology Docker container for our internal use as CaaS.  But when I try to upload any zip file that is greater than 1MB, it reports that the entity is too large.  I have uploaded these same files on the server "https://fossology.osuosl.org/repo/" and they uploaded just fine.  I searched your database before and saw the article

[2022-01-27 04:52] Rahulrajak1710 commented on #2114
Hi,
I am rahul,a cse undergraduate.I am new to open source contributions but I am well aware of Java,C,Html,Css,JavaScript,React.js.I would love contribute in fossology
 organization  could you please tell me how to get started?
Hoping to hear from you soon.
Regards
Rahul

[2022-01-27 04:57] Rahulrajak1710 commented on #1972
Hi,
I am rahul,a cse undergraduate.I am new to open source contributions but I am well aware of Java,C,Html,Css,JavaScript,React.js.I would love contribute in  organization  could you please tell me how to get started?
Hoping to hear from you soon.
Regards
Rahul

[2022-01-27 04:58] Rahulrajak1710 commented on #2108
Hi, I would love to work on this issue

[2022-01-27 04:59] Rahulrajak1710 commented on #2081
Hi,
I am rahul,a cseundergraduate.I am new to open source contributions but I am well aware of Java,C,Html,Css,JavaScript,React.js.I would love contribute in  organization  could you please tell me how to get started?
Hoping to hear from you soon.
Regards
Rahul

[2022-01-27 05:01] Rahulrajak1710 commented on #2061
i would like to work on this. please assign me this task

[2022-01-27 05:02] Rahulrajak1710 commented on #1929
@GMishx I would like to work on this issue

[2022-01-27 05:02] Rahulrajak1710 commented on #1371
@GMishx I would like to work on this issue:)

[2022-01-27 11:49] GMishx commented on #83
Hello @rohitpandey49 ,

You can access the page where users can update their password by navigating to Admin > Users > Edit User Account (http://localhost/repo/?mod=user_edit). It is `src/www/ui/user-edit.php` as per the `mod` name.
The page where forgot password can appear is default home page (http://localhost/repo/?mod=home). Which is `src/www/ui/page/HomePage.php` and `src/www/ui/core-auth.php

[2022-01-27 15:01] GMishx commented on #2146
Hello @jmhartle , from the screenshot I see the response if coming from nginx server. However, the default Docker container runs apache2 server instead.

I am assuming there is a a reverse proxy between you and the container or the container is modified.
You'll need to add `client_max_body_size 700M;` to appropriate context in nginx.

[2022-01-27 15:05] GMishx commented on #2125
Closing the for now. Please reopen if issue persists @DimpoCpp

[2022-01-27 15:05] #2125 closed

[2022-01-27 15:45] GMishx commented on #1429
The license is now part of license ref at least since https://github.com/fossology/fossology/pull/2069

[2022-01-27 15:45] #1429 closed

[2022-01-27 15:52] buxtonpaul opened #2147 "Allow decider to automatically decide Ojo licenses when Nomos doesn't recognize them"
When using an SPDX LicenseRef license these will normally not be recognized by Nomos., as a result Nomos will report it as License Not Found, which the decider sees and refuses to conclude that license.

 If the license is one that the team has used before and is on the main list of licenses then it should be possible to automatically conclude that license so long as other matchers do not disagree

[2022-01-27 15:53] GMishx commented on #1375
Closing the issue for now. @RaphaelHerd please reopen if needed.

[2022-01-27 15:53] #1375 closed

[2022-01-27 15:56] GMishx commented on #1163
waffle.io is shutdown. The issue is no longer valid.

[2022-01-27 15:56] #1163 closed

[2022-01-27 16:00] GMishx commented on #1114
See https://github.com/fossology/fossology/pull/1560 and https://github.com/fossology/fossology/pull/2142 for sample implementation.

[2022-01-27 16:06] GMishx commented on #894
Continued at https://github.com/fossology/fossology/issues/1966

[2022-01-27 16:08] GMishx commented on #816
Closing the issue for now. Please reopen if issue still exists.

[2022-01-27 16:08] #816 closed

[2022-01-27 16:18] GMishx commented on #515
Hello @suppadeliux. It should be available with #2123

[2022-01-31 06:04] #2061 closed

[2022-02-01 09:21] buxtonpaul opened #2149 "Software Heritage Scanner failing"
### Description
I am testing out the Software Heritage Scanner to see what it produces on a typical component we use. After adding an authentication token to lift the rate limit (as otherwise it was sitting at about 17 files analysed), the scanner seems to be failing after scanning 220 files (the codebase has about 3000).

It is possible I am doing something incorrect, but I don't think so....
Any

[2022-02-04 05:18] GMishx commented on #1929
Please go ahead with it @Rahulrajak1710

[2022-02-04 08:20] GMishx commented on #1892
Hello @cvanslyke ,

I just tried the request on my server and downloaded a JSON of 18.3 MB size.

Worked on Postman
![image](https://user-images.githubusercontent.com/18077542/152494476-990dab3c-2d2d-4b00-8f92-d156bf4ef302.png)

And curl as well
[code]

However, I would recommend to try turning off [PHP output buffering](https://www.php.net/manual/en/outcontrol.configuration.php#ini.output-bufferi

[2022-02-04 17:49] Boldie opened #2152 "Unknown version in fossology container fossology/fossology:4.0.0 from docker hub"
### Description

Fossology shows an unknown version: Fossology version unknown (code revision unknown). We are using the fossology container from the docker hub and set up our server using the adapted docker-compose.yml from this repo. Also the direct usage from the tutorial will reproduce this: docker run -p 8081:80 fossology/fossology:4.0.0

#### How to reproduce

docker run -p 8081:80 fossology

[2022-02-08 20:00] MrMichaelJKelly commented on #1657
We use Fossology for separate projects - so when a project is done, it's done and want to be able to remove it.  Right now we can only delete at the entire Software Repository folder which seems wrong.  I'd like to be able to delete an old project (including the analysis work).

[2022-02-09 15:10] GMishx commented on #1657
Hey @MrMichaelJKelly , you do not need to delete entire folder. You can goto "Organize > Uploads > Delete Uploaded File" and select the uploads you wish to remove.
You can also use the REST API to do the same.

You can also create separate folder for each project and create a heirarchy out of them in FOSSology.

The issue here is to have an option to delete the uploads from Browse page itself.

[2022-02-10 07:20] #1966 closed

[2022-02-10 07:33] #1767 closed

[2022-02-12 12:31] SanjaySinghRajpoot commented on #2147
hey!! I would like to work on this issue.

[2022-02-13 07:57] buxtonpaul commented on #2147
Awesome. Let me know if you need someone to help test it or any more detail on the problem.

[2022-02-13 08:04] rohitpandey49 commented on #2110
Raised PR #2155

[2022-02-14 08:29] #2006 closed

[2022-02-14 17:08] rohitpandey49 commented on #2108
Raised PR #2157

[2022-02-15 06:19] GMishx commented on #2110
Closed by #2155

[2022-02-15 06:19] #2110 closed

[2022-02-16 08:47] #1114 closed

[2022-02-17 06:23] GMishx commented on #305
Fix with a different approach in https://github.com/fossology/fossology/pull/2093 using maintenance agent to remove files older than a given date.

[2022-02-17 17:49] JOY2OP commented on #2081
I would like to work on this issue

[2022-02-18 12:02] kannan-seenivasan opened #2162 "Author Table Duplicates issue (3.11)"
### Description

We found duplicates records inserted in the author table.

### Example ###

For the Same agent_fk = XXX and  pfile_fk=<pfile_fk>, the author information inserted multiple times for same copy_startbyte and copy_endbyte.

Example:
`select agent_fk, pfile_fk,copy_startbyte, copy_endbyte from author where pfile_fk=<pfile_fk>
and hash='<hash value>'
and copy_startbyte=<copy_startbyte>

[2022-02-23 13:42] rohitpandey49 commented on #1972
@GMishx I am not getting clearer idea on how to approach it. Can you please help me to reproduce it?

[2022-02-23 13:43] rohitpandey49 commented on #1972
Steps screenshots will work.

[2022-02-23 15:51] scanoss-cs opened #2166 "Add SCANOSS Agent"
### Description

Build a SCANOSS scanner agent to provide file/snippet scanning support to FOSSology.

#### Steps followed and expected result

Using an example agent, build a SCANOSS equivalent to scan source files and report back licensing information.

[2022-02-24 07:55] rohitpandey49 commented on #1371
Raised PR #2168

[2022-02-25 08:33] #496 closed

[2022-02-25 15:09] Pendyala-thanvi commented on #1921
Hello @GMishx ,
I've been trying to add the git checkout for commit in the file mentioned. But it's not working. Could you please help me?

[2022-03-01 11:00] #515 closed

[2022-03-02 08:16] shaheemazmalmmd opened #2171 "Enhance SCANCODE agent"
### Description

   Implement remaining futures for SCANCODE agent.

   | category | task | status |
   |----------|------|--------|
   |license DB|Inserting license text for new license in fossology| &#9744; |
   |copyright|email and URL info scanned by scancode| &#9744; |
   |copyright UI|Highlight working for copyright| &#9744;|
   |copyright report|Including scancode copyright in the report| &

[2022-03-02 16:43] jmhartle commented on #2146
Hi Mishra,
Thanks for your suggestions.  It took a while for IT to get this fixed, but you were correct on your thinking.  Thanks to you, our instance is now working very well.

Regards,
Judy

[2022-03-02 22:50] GMishx commented on #2146
Thanks for the confirmation. :-)

I think we can close the issue now. Please reopen if needed.

[2022-03-02 22:50] #2146 closed

[2022-03-09 09:43] GMishx opened #2178 "REST api: Unable to upload file"
### Description

The file upload from rest api fails.

#### How to reproduce

Post a file to `/repo/api/uploads`

### Versions

* Last commit id on master: fcf1de2f4beb714bd67131cbeeba2604f3ee1fb4

### Logs

https://github.com/fossology/fossology/blob/fcf1de2f4beb714bd67131cbeeba2604f3ee1fb4/src/www/ui/api/Helper/UploadHelper.php#L177

[2022-03-10 04:46] Raghavendrakamatagi-eng opened #2180 "No file selected"
Hello Team,

We have installed fossology-version: [3.11.0] from the deb packages in central Ubuntu Server 18.04 and accessing through the IP address and we can able to upload the smaller packages but its showing upload error as No file selected for packages greater than 50 KB.

Kindly help us to resolve **No file selected issue**

PS: This is working fine for Fossology Admin and not for other team

[2022-03-14 06:39] #2178 closed

[2022-03-15 08:46] 19shivii commented on #2108
I am interested in working on this. Please assign me.

[2022-03-15 16:14] #2108 closed

[2022-03-16 11:08] Raghavendrakamatagi-eng commented on #2180
Hello Team,

Any update on the above issue?

Regards
Raghavendra

[2022-03-16 19:56] tngraf opened #2185 "REST API: OpenAPI Description: Fix typo in HeathInfo"
### Description

There is a typo in the OpenAPI Description
* HeathInfo => HealthInfo

#### How to reproduce

See OpenAPI file, version 1.4.3,
line 155,
line 166,
line 2066

### Versions

OpenAPI file, version 1.4.3

[2022-03-16 20:05] tngraf opened #2186 "REST API: endpoint /filesearch: data type description inaccurate"
### Description

The OpenAPI description, version 1.4.3, says that the input for the /filesearch endpoint
is an array of `Hash` objects.

This is not totally correct:
* As soon as the property `size` is available in the JSON data, the call to /filesearch does not return results,
  but says `Invalid keys`.
* The example data provided,
[code]
will result in such an `Invalid keys` message.
* As soon

[2022-03-16 20:27] tngraf opened #2187 "REST API: uploading a new file (upload) is not working in docker container"
### Description

Uploading a new file (upload) is **not working** in the docker container, Commit: [#fcf1de] 2022/03/09 08:26.
It **is working** with a fully installed instance like the one running at Siemens for example.

#### How to reproduce

I tried as well the .Net method `UploadPackage` as also the Python library.

The result is always
[code]

### Versions

* Last commit id on master: Commit

[2022-03-17 05:31] GMishx commented on #2187
Hello @tngraf , this issue was fixed by #2179 and is in the commit right after fcf1de.
Can you pull the image from 2022-03-14 or later?

[2022-03-17 06:46] tngraf commented on #2187
It is working with the latest image - closing the issue.

[2022-03-17 06:46] #2187 closed

[2022-03-18 05:58] krishna9304 commented on #2185
Can i work on this?

[2022-03-18 06:23] teekhandekar commented on #2185
Can I work on this please

[2022-03-18 06:26] teekhandekar commented on #2054
Can I  work on this ? please

[2022-03-18 06:28] teekhandekar commented on #1939
Can I work on this ?

[2022-03-18 06:30] teekhandekar commented on #1657
Can I work on this ?

[2022-03-18 06:32] teekhandekar commented on #1387
Can I work on this ?

[2022-03-18 06:36] teekhandekar commented on #83
Can I work on this ?

[2022-03-18 06:47] krishna9304 opened #2188 "CORS error for the FossologyUI react client"
### Description

[**FossologyUI*](https://github.com/fossology/FOSSologyUI)* encouters CORS issue while connecting from origin `localhost:3000`.

#### How to reproduce

1. Start the FossologyUI react app.
2. Set up the fossology instance through docker.
3. Check your browser console. You'll see an error message mentioning a CORS issue like below.

#### Screenshots

<img width="663" alt="Screenshot

[2022-03-18 06:49] krishna9304 commented on #2188
How do I assign myself to this issue?

[2022-03-19 15:07] teekhandekar commented on #1751
@GMishx can I work on this issue ?

[2022-03-19 15:08] teekhandekar commented on #1680
@GMishx can I work on this ?

[2022-03-19 15:09] teekhandekar commented on #1657
@GMishx  can I work on this ?

[2022-03-19 15:13] teekhandekar commented on #1387
@GMishx can I work on this ?

[2022-03-19 15:14] teekhandekar commented on #1344
@GMishx  can I work on this ?

[2022-03-19 15:16] teekhandekar commented on #2100
@GMishx can I work on this ?

[2022-03-21 10:18] #2185 closed

[2022-03-21 10:33] GMishx commented on #1680
Please go ahead @teekhandekar

[2022-03-28 05:40] GMishx commented on #2054
Sure @teekhandekar but note the fix has to be applied to https://github.com/fossology/fossology repository as data is required from REST API.

You can look at https://github.com/Shruti3004/FOSSology-REST-API/pull/8 for sample implementation.

[2022-03-28 05:41] GMishx commented on #1939
Sure

[2022-03-28 05:42] GMishx commented on #2188
Are you working on the issue @krishna9304 ?

[2022-03-28 05:45] GMishx commented on #1751
Have you started working on this @teekhandekar ?

[2022-03-28 05:47] GMishx commented on #1387
Really you do not need to tag anyone on the issue. Just comment you are working on it so others do not start at the same time as you.
It is just filling my notifications @teekhandekar

[2022-03-28 05:50] GMishx commented on #2100
@rahulmohang , can you please check if the issue is resolved or still exists?

[2022-03-28 06:31] rahulmohang commented on #2100
@GMishx , Yes.

[2022-03-28 06:32] rahulmohang commented on #2100
I will check.

[2022-03-29 17:05] coder-whale commented on #2188
Ran into an unrelated error upon fixing this issue. Will create a new one addressing it once this is closed

[2022-03-30 17:40] coder-whale opened #2198 "Unexpected token error on login attempt in FossologyUI"
### Description

On attempting to login through FossologyUI with default credentials ('fossy', 'fossy'), an unxpected token error is thrown.

#### How to reproduce

1. Install Fossology from source and start the service.
2. Start FossologyUI app.
3. Attempt to login.

#### Screenshots

![Screenshot from 2022-03-30 20-13-55](https://user-images.githubusercontent.com/69923950/160895804-0f75877e-bd61

[2022-03-31 12:27] lakshmibhavani1 opened #2200 "Reuser fails after upgrading to 4.0 version"
### Description

We are unable to reuse older uploads after upgrading fossology to 4.0.0. The file which was uploaded in Sept, 2020 when reused now, fails in the 4.0 version. There was no issue prior to the 4.0 release. We are unable to figure out the exact reason why the reuser is failing. Please check the logs which we found on the **show jobs** page for the reuse agent.

#### ERROR LOGS FOR REU

[2022-03-31 14:06] coder-whale commented on #2031
I can take up this feature request if the enhancement is still required. Please revert if that is indeed the case.

[2022-04-04 05:37] GMishx opened #2202 "Don't allow user to run scancode if package not installed"
### Description

After installing FOSSology, if the system does not have [scancode-toolkit](https://github.com/nexB/scancode-toolkit) installed, the option to schedule the agent is shown to the user.

The UI should check if the tool is installed before showing the option to user.

#### Steps followed and expected result

Check if `scancode` executable is installed before showing the option to sche

[2022-04-04 05:43] GMishx commented on #2202
There can be a check if scancode is installed and then only register the plugin at
https://github.com/fossology/fossology/blob/77a85ca0396a7545939656a8f9b8bf9b2620cc39/src/scancode/ui/agent-scancode.php#L148

[2022-04-05 12:54] GMishx opened #2204 "Make client id as configurable claim for REST auth"
### Description

While using client credentials flow for REST API authentication, the client id claim used to authorize request is implementation dependent. Thus it should be configurable by admins.

The `client_id` claim is currently hard coded and should be configurable.

https://github.com/fossology/fossology/blob/ec36f4ed00649437bbde143cf3a78c4bdabe4591/src/www/ui/api/Helper/AuthHelper.php#L31

[2022-04-05 13:15] GMishx commented on #2204
Also update the wiki while closing the ticket

https://github.com/fossology/fossology/wiki/OpenID-Connect-authentication-configuration#verify-client-id-claim

[2022-04-05 13:24] silverhook commented on #1921
Was finally able to test 4.0.0 and can confirm that per tag this works, thank you both! :)

Looking forward to seeing if per-commit works as well. An additional cool feature would be that if it scanned master, it would store which commit master was at when it was scanned! :D

[2022-04-05 22:33] coder-whale commented on #2204
@GMishx Do note that "Application Login URI" in Auth0 only accepts `https` so the picture in the wiki is misleading

[2022-04-06 04:43] GMishx commented on #2198
Hello @coder-whale , I don't think the error you are receiving is due to the php notice you've mentioned.

Can you check the network log when you try to login? I think it is due to errors mentioned in https://github.com/fossology/FOSSologyUI/issues/181

[2022-04-06 04:52] #2198 closed

[2022-04-06 04:57] GMishx commented on #2200
I think the issue was fixed by https://github.com/fossology/fossology/pull/2164

Can you please confirm if possible @lakshmibhavani1 ?

[2022-04-06 05:47] GMishx commented on #1921
Thanks for confirming it @silverhook . The commit information can be stored by the person who uploaded the component under "Conf" page using either Version or pURL field.

![snap](https://user-images.githubusercontent.com/18077542/161904213-2b21f471-3862-4ec7-8241-92d6026ce1e0.png)

[2022-04-06 05:53] GMishx commented on #2204
Nice catch. Will fix it.

[2022-04-06 06:04] soham4abc opened #2206 "`fossology.version` returns `unknown` in `/info` endpoint in Docker"
### Description

The `/info` API returns the fossslogy version as `unknown` when the sever is running from docker.

![image](https://user-images.githubusercontent.com/63705023/161546092-5aa2294d-5389-4086-a690-343c316e12d7.png)

UI output:
![image](https://user-images.githubusercontent.com/63705023/161545690-42be418d-c2b6-4a4c-b9d6-ca81ab92cb64.png)

#### How to reproduce

Run the Fossology from D

[2022-04-06 07:50] #2204 closed

[2022-04-06 10:10] silverhook commented on #1921
Neat. That compontent ID field is new since 4.0.0? Would be great if it auto-generated, at least from version control sources :)

[2022-04-06 12:52] omkarg01 commented on #2206
I would like to work on this issue, may I know
where to look for the following versions details?
![161546092-5aa2294d-5389-4086-a690-343c316e12d7](https://user-images.githubusercontent.com/67428719/161978118-0607cfad-cd3d-47b0-b351-54bfb97970ea.png)

[2022-04-08 05:18] pret3nti0u5 opened #2208 "`default_group` not exposed in response `api/v1/users/self` endpoint."
### Description

v1 API of fossology doesn't not expose `default_group` on endpoint `/users/self`, making it impossible to login using FossologyUI. FossologyUI throws an Unexpected Syntax Error. (Ref [#198](https://github.com/fossology/FOSSologyUI/issues/198)).

#### How to reproduce

1. Setup FossologyUI and fossology
2. Attempt to login using FossologyUI.

#### Screenshots
Response from `/users/

[2022-04-13 08:15] rahulmohang commented on #2100
@GMishx , it is working. Thank you. Please excuse me for the late response. We took some time to set up the new version of Fossology.

[2022-04-13 08:50] rahulmohang opened #2211 "Obligations not formatted in the unified report"
### Description

The text in 'License section reference and short Description' column in the obligations table in the unified report is not formatted.

#### How to reproduce

1. Log in to Fossology as admin.
2. Go to Admin-Obligation Admin and check if any obligation is added.
3. If not, click 'Add Obligation' in the 'Obligation Admin' menu.
4. Add an obligation with a formatted text in the ' Obli

[2022-04-13 09:06] tngraf commented on #2111
I totally agree

[2022-04-13 13:15] GMishx commented on #2100
Thanks for confirmation @rahulmohang ,closing the issue.

[2022-04-13 13:15] #2100 closed

[2022-04-13 13:39] rahulmohang commented on #2109
@GMishx , this would be a good feature if implemented. Very helpful for discussions around results of audits.

[2022-04-13 13:41] rahulmohang commented on #2104
@GMishx , is there any update on this?

[2022-04-13 13:56] GMishx commented on #2104
I think yes, it has been implemented. Let me find the corresponding PR

[2022-04-13 14:09] GMishx commented on #2104
I guess it was #1774

Can you please check and close the issue if fixed?

[2022-04-13 18:52] anantnipunge commented on #1738
@NicolasToussaint
+1
@jeremiah
I've found it particularly useful to be able to combine pulls from multiple repos into a single Fossology upload, so that I can do things like run bulk text matches, reuse prior results, export combined SPDX files, etc., at the "project" level. That has made the process faster for me when I'm dealing with a larger number of repos, rather than clearing them one-by-one

[2022-04-27 09:19] NicolasToussaint commented on #1592
Recap on this Issue:

- Detecting the SPDX tags recommended by REUSE.
  - [x] SPDX-License-Identifier -> Done by Ojo agent
  - [ ] SPDX-FileCopyrightText -> To Do
- [x] Detecting .license files -> Done by ReSo agent (#1833)
- [ ] Detecting the LICENSES/ directory -> To Do
- Parsing .reuse/dep5, possibly.

[2022-04-27 09:49] NicolasToussaint opened #2214 "Detecting licenses declared in LICENSE file and LICENSES folder"
### Description
As discussed in Issue #1592, and to improve adoption of REUSE (https://reuse.software/) standards, Fossology could detect and display the licenses included in the `LICENSE` file, as well as licenses found in the `LICENSES` folder, both located in root folder.

The goal here is to process and report these license texts a bit differently compared to license texts found in other place

[2022-04-29 09:38] merchelmtq opened #2215 "After remove irrelevant decisions (via Actions [Edit]) the Edited Results are empty and clearing status stays green"
### Description

If you mark a file with identified license as irrelevant the “Edited Results” get empty and the “Clearing Status” stays green.
After “Remove marked irrelevant decisions” (via Actions [Edit]) the “Edited Results” remain blank and the “Clearing Status” stays green with “Cleared / Open / Total” stay 1 / 1 / 1.
The file is not cleared, but appears as a cleared file.

#### How to repro

[2022-05-09 05:30] Raghavendrakamatagi-eng commented on #2180
Hello Team,

Can you please help us to resolve the above issue?

[2022-05-09 08:04] GMishx commented on #2180
Hello @Raghavendrakamatagi-eng , can you please check for following values in `/etc/php/<version>/apache2/php.ini`?
- `post_max_size`
- `upload_max_filesize`
- `memory_limit`

Are you using any other server in between? Like a LoadBalancer or Nginx reverse proxy?

[2022-05-13 06:08] shaheemazmalmmd commented on #336
Already available with this commit https://github.com/fossology/fossology/commit/462591e8cec17c5f660892d49bba6a77e1dcfee8

[2022-05-13 06:08] #336 closed

[2022-05-13 06:16] shaheemazmalmmd commented on #317
Tested with 4.0.0 issue still exist.

[2022-05-13 06:19] shaheemazmalmmd commented on #286
Tested with 4.0.0 the UI headers are in fixed position. Please re-open if the issue persist.

[2022-05-13 06:19] #286 closed

[2022-05-13 07:49] #283 closed

[2022-05-13 08:27] #297 closed

[2022-05-14 16:18] Raghavendrakamatagi-eng commented on #2180
Hello @GMishx ,

After configuring the php upload size, issue is resolved.

Thanks a lot for your help.

[2022-05-14 16:18] #2180 closed

[2022-05-18 08:02] GMishx commented on #2121
Hey @elfring , would you like to create a PR for the changes proposed?

And I don't think `src/nomos/agent_tests/testdata` should be considered for this as it contains only testdata, no working code.

[2022-05-18 08:11] elfring commented on #2121
:crystal_ball: Do you find any of the shown change possibilities acceptable?

[2022-05-18 09:32] GMishx opened #2223 "UI of Job page is distorted for Docker container"
### Description

There is some UI issue with jobs page. See screenshot bellow.

#### How to reproduce

Run Docker container and upload a file. Check the recent jobs page.

#### Screenshots

![image](https://user-images.githubusercontent.com/18077542/169007566-47403414-2c77-49d7-acad-ad409d5783cd.png)

### Versions

* Last commit id on master: bcc1d8ab3401e2cedc25313773a80102f3275940

[2022-05-20 08:09] GMishx commented on #2223
Looks like the issue was with my browser. After clearing the cache and reloading the page, the UI is working fine now.

![image](https://user-images.githubusercontent.com/18077542/169483944-8b866ea7-b2f2-4306-93aa-5c2580c65bc2.png)

[2022-05-20 08:09] #2223 closed

[2022-05-20 08:53] GMishx commented on #2121
Yes, all the changes suggested make sense.

Please ignore the `src/nomos/agent_tests/testdata` from any code refactoring.

[2022-05-20 09:03] elfring commented on #2121
:thought_balloon: I find that adjustments can become helpful also for implementation details in test scripts.
Would you like to compare results from test variants any more? :thinking:

[2022-05-20 11:11] GMishx commented on #2121
The folder mentioned holds test data for nomos scanner. You can consider them as plain text files as they are not executed by us. nomos uses the folder to perform regression tests. So, making changes in the folder is 1) unnecessary work as the code never executes 2) avoided as it can cause issues with the regression tests.

You can fix any code you find in the codebase except anything which has "t

[2022-05-20 11:21] elfring commented on #2121
Thanks for your clarification.

I am unsure when the remaining change possibilities will be integrated. :thinking:

[2022-05-20 11:33] sseneca opened #2225 "Configure OpenID Connect auth in the config file"
### Description

If I'm reading the [documentation](https://github.com/fossology/fossology/wiki/OpenID-Connect-authentication-configuration#configure-fossology) right, the only way to set up OpenID Connect authentication is by first starting up a fossology instance, and then manually customising the values in the web UI.

For deployments that use configuration as code, all configuration values are

[2022-05-24 07:45] #1929 closed

[2022-05-24 07:46] #2054 closed

[2022-05-24 07:46] #2208 closed

[2022-05-24 08:00] #2031 closed

[2022-05-25 05:42] kannan1997 commented on #2202
Hi @GMishx ,

Can we add the below line in Dockerfile (to install scancode-toolkit via Dockerfile)?

[code]
 This is tested internally and working as expected internally.

 **How to test?**

 Run the below command inside the container.

[code]

[2022-05-25 06:07] GMishx commented on #2202
Fixed by f431c98c7610c0ae1dc0cab0d3359b5d86f84d5b

[2022-05-25 06:07] #2202 closed

[2022-05-25 06:08] GMishx commented on #2202
Hi @kannan1997 , the installation of scancode was fixed in https://github.com/fossology/fossology/pull/2221

We moved it to Python installation pipeline from C/C++ installation pipeline.

[2022-05-25 15:33] sseneca opened #2229 "oidc auth does not work"
### Description

If I fill out the necessary boxes for oidc in Fossology's web UI and try to login with it, I see this error

All the values in the web UI are correct as far as I can tell, but the JWT is invalid - https://jwt.io/#debugger-io agrees, with this error:

#### How to reproduce

- Fill out boxes for oidc auth
- Try to login

### Versions

* v4.1.0 docker image
* Operating System (lsb_re

[2022-06-02 10:51] shaheemazmalmmd commented on #2114
@dineshr93 i think it is not safe to delete a license Because,

- for actual licenses

lets say we have license "X". and some users have already added license "X" in to clearing results
if we delete license "X" then we will end up with errors in that file where license "X" got added.

So it is not safe delete a license.

- for candidate licenses

we already have a delete functionality which can be

[2022-06-03 02:18] dineshr93 commented on #2114
@shaheemazmalmmd yes I agree, there was a use case where EPL-1.0 can be upgraded to EPL-2.0 (due to inbuilt clause) and it's very hard to do it manually.  So I felt the need of this functionality.

[2022-06-06 09:47] #2081 closed

[2022-06-06 09:48] #2152 closed

[2022-06-07 15:56] soham4abc opened #2232 "No content on `/info` endpoint"
### Description

The `/info` endpoint returns 204 No content, resulting in the version and related details being rendered as unknown.

#### How to reproduce

Run the UI with the latest backend and see the footer for the details.

#### Screenshots

##### UI result
![image](https://user-images.githubusercontent.com/63705023/172425604-529ebe4b-bc4b-4700-83e5-1bb8da1c38bc.png)

##### API response

![i

[2022-06-08 01:52] GMishx commented on #2232
That is an OPTIONS request (assuming from CORS). It is supposed to be 204.

There should be a GET request following it which should have actual content.

[2022-06-08 01:54] GMishx commented on #2232
Actual issue will be #2152 and #2206

[2022-06-09 08:00] soham4abc commented on #2232
This is the response to the GET call
![image](https://user-images.githubusercontent.com/63705023/172795957-84c464e6-8e80-451d-a771-bd8c42646b21.png)

[2022-06-09 11:43] #2200 closed

[2022-06-09 11:44] lakshmibhavani1 commented on #2200
issue fixed after adding the code changes suggested by community

[2022-06-10 06:05] shaheemazmalmmd commented on #305
Already satisfies the issue with different approach. Please  reopen if something is missing.

[2022-06-10 06:05] #305 closed

[2022-06-10 06:06] shaheemazmalmmd commented on #291
Resolved by PR https://github.com/fossology/fossology/pull/1677

[2022-06-10 06:06] #291 closed

[2022-06-14 07:12] Ayush7614 opened #2234 "Add GitHub Bots to fossology repositories"
Here is the list of GitHub Bots that can integrate at the beginning:
https://docs.google.com/document/d/1awz3U5ed9fLH4wWUhWrLsJ03f0PWMu48cmvvorfLBs4/edit?usp=sharing

We need to have project-specific bots later (Especially for Python and JS-based projects) to track code quality, builds and all. Please have a look and let me know what you think. You can also add more bot integrations that we can ha

[2022-06-14 14:13] avinal commented on #2234
The CI workflows have already been implemented here #2075. It may be beneficial to use a stale bot and DCO bot, rest I don't think there is much use for us.

[2022-06-15 17:52] Ayush7614 commented on #2234
Already Done @GMishx Sir

[2022-06-19 06:52] ChandanHJ opened #2236 "Getting error while building"
### Description

Getting error while building fossology

#### How to reproduce

Using build command to build it

#### Screenshots

![image](https://user-images.githubusercontent.com/42247568/174469393-48c9140d-05ad-4197-9439-b9dc07b820a7.png)

Help me to solve this and to install fossology

[2022-06-21 07:55] GMishx commented on #2236
Did you run the [utils/fo-installdeps](https://github.com/fossology/fossology/blob/master/utils/fo-installdeps) to install the dependencies?

[2022-06-21 08:31] rahulmohang commented on #2147
@GMishx , @SanjaySinghRajpoot , is this issue being worked on?

@buxtonpaul ,

"Nomos == License not Found
and Ojo == LicenseRefxxxx
and LicenseRefxxxx is in the main list of licenses
conclude the license per the Ojo finding"

I think, such a license concluding is happening in the latest stable release of Fossology. However, one side effect is that the reports will contain the text, 'License by OJ

[2022-06-23 08:26] GMishx commented on #2234
Can be good. But should be carefully looking only for docs and not code. Otherwise there will be many false positives.

It is not required in my opinion for our repos.

Will be good.

Can be used.

Not needed in my opinion but would like to go with what others say.

Don't we already have it for almost all repos?

Don't we already have it for almost all repos?

Where will it be helpful?

Don't we a

[2022-06-24 10:23] alpianon opened #2239 "fo-postinstall fails to install scancode if pip is not updated"
### Description

I'm trying to install Fossology 4.1.0 from sources on a fresh Debian 10 machine and I run into a problem when running the fo-postinstall command (see log below)

</details></p>

By installing a more recent version of pip (as it is done [here in the Dockerfile](https://github.com/fossology/fossology/blob/bb8a6d855f49b4efc2770c5e43d93bc478de433a/Dockerfile#L79)) solves the issue.

T

[2022-06-24 11:14] alpianon opened #2240 "Fossology depends on heirloom-mailx package for email notifications, but it is not available any more in Debian"
### Description

To enable email notification, the wiki says that package heilroom-mailx should be installed: https://github.com/fossology/fossology/wiki/Email-notification-configuration#setting-up-the-email-client

However, such package is not available any more in recent Debian versions (10+).

I managed to manually install it:

[code]

but it does not seem an optimal solution.

#### How to repr

[2022-06-24 13:14] dushimsam opened #2241 "Delete a specific user group via REST API"
### Description
There's a need of  the API to delete a particular user group via REST API.

#### Steps to be followed

1. Create ad in the main page (index.php) as a part of Group routes.
2. Add a new function in GroupController to delete a group with a  given Id.
3. Test the API.
4. Add the new API's documentation  in [https://github.com/fossology/fossology/blob/master/src/www/ui/api/documentatio

[2022-06-27 16:40] luckydb-0 opened #2242 "Error during installation on CentOS Stream 8"
#### Description
Trying to install from source on a CentOS machine I get the following error when launching the `fo-installdeps` script:
![Capture1 (2)](https://user-images.githubusercontent.com/59208832/175990172-942009f5-003c-4c0f-875b-97b22994831f.PNG)

The exact distro I'm using is:
![Capture](https://user-images.githubusercontent.com/59208832/175990180-b9f9f725-fa63-4bc1-a823-4baa47f75b2e.PNG

[2022-06-30 12:01] dushimsam opened #2246 "Check if user has a deletable group via REST API"
### Description
There's a need for the API to check if a particular user has any group that can be deleted.

#### Steps to be followed

1. Create new route in the main page (index.php) as a part of Group routes.
2. Add a new function in GroupController to check for the group's existence.
3. Test the API.
4. Add the new API's documentation  in [https://github.com/fossology/fossology/blob/master/src

[2022-07-02 12:34] GMishx commented on #2246
I would recommend the endpoint to be renamed as `/groups/deletable` to check a bunch of groups the current user can delete.

What do you think?

[2022-07-02 18:01] dushimsam commented on #2246
Yeap, that's awesome.
I'm going to update it.

[2022-07-03 07:19] #2234 closed

[2022-07-03 14:18] dushimsam opened #2249 "Retrieve group-members with corresponding roles via REST API"
### Description
There's a need for the API to retrieve all the users from a particular group with the corresponding permissions each user hold in that group.

#### Steps to be followed

1. Create a new route in the main page (index.php) as a part of Group routes.
2. Add a new function in GroupController to check for retrieving the users.
3. Test the API.
4. Add the new API's documentation  in [htt

[2022-07-06 07:52] soham4abc opened #2253 "`/jobs` endpoint should return the jobs created by the logged in User"
### Description

`/jobs` endpoint should return the jobs created by the logged in User

#### Steps followed and expected result

Currently the `/jobs endpoint sends all the jobs at once. This should not be the case. It should send only those jobs that is created by the Logged in user himself.

##### I would like to work on this issue.

[2022-07-06 14:25] soham4abc commented on #2253
Will also add an PR for the all jobs only if the logged in user is Admin. Already under process. After both the PR gets merged I guess we can close the issue then.

Any suggestions?

[2022-07-11 06:45] krishna9304 opened #2255 "Create a new POST route to create a new user via REST API"
## Description
Currently, the only way to add a new user is via fossology's old UI. Since, the same feature needs to be migrated in the new UI, there is a requirement of a POST route at `/users` that will create a new user.

## Steps to be followed
- Create a new POST route in the `index.php` file inside `www/ui/api` directory.
- Add a new method `AddUser`.
- Try to re-use the methods that are alr

[2022-07-11 12:01] krishna9304 opened #2257 "Create a new PUT/PATCH route to modify user details via REST API"
## Description
Currently, the only way to edit details of an existing user is via fossology's old UI. Since, the same feature needs to be migrated in the new UI, there is a requirement of a PUT/PATCH route at `/users/{id}` that will modify user details in the database.

## Steps to be followed
- Create a new PUT/PATCH route in the `index.php` file inside `www/ui/api` directory.
- Add a new method

[2022-07-12 15:16] dushimsam opened #2258 "Create a rest API to change the member's permission in a group."
### Description
There's a need for an API to change the permission of the user in a specific group.

#### Steps to be followed

1. Add the API route in the main page (index.php) as a part of Group routes.
2. Add a core function to handle this feature.
3. Test the API.
4. Add the new API's documentation  in [https://github.com/fossology/fossology/blob/master/src/www/ui/api/documentation/openapi.yam

[2022-07-16 05:55] krishna9304 opened #2265 "Create new REST routes for token related queries"
## Description
Currently, there is a requirement of token related features like `create_token` and `get_tokens` via the REST API for the Admin page.

## Steps to be followed
- Create a new POST route in the `index.php` file inside `www/ui/api` directory for creating a REST API Token.
- Create a new GET route in the `index.php` file inside `www/ui/api` directory for getting all the REST API Tokens

[2022-07-16 19:35] dushimsam opened #2267 "Create a REST API to delete a user from a group."
### Description
There's a need for the API to delete a member from a particular group.

#### Steps to be followed

1. Create new route in the main page (index.php) as a part of Group routes.
2. Add a new controller function to handle the feature.
3. Test the API.
4. Add the new API's documentation  in [https://github.com/fossology/fossology/blob/master/src/www/ui/api/documentation/openapi.yaml](ur

[2022-07-17 17:12] rettichschnidi opened #2268 "Commercial support and hosting"
When comparing license compliance software systems such as [FOSSA](https://fossa.com/product/open-source-license-compliance), [Mend](https://www.mend.io/open-source-license-compliance/) (formerly WhiteSource), [Black Duck](https://www.synopsys.com/software-integrity/solutions/open-source-security.html), etc., one big difference is that FOSSology seems to not have anyone offering commercial support

[2022-07-19 11:08] krishna9304 opened #2270 "Create a POST route to add or edit permissions for different uploads in a folder"
## Description
Currently, there is a requirement of API for managing the upload permissions for different uploads in a folder. I would like to work on this.

## Steps to be followed
- Create a new POST route in the `index.php` file inside `www/ui/api` directory for setting permissions for a upload in a folder for different groups.
- Add new methods `setUploadPermissions` in the `UploadController`

[2022-07-19 15:33] #2241 closed

[2022-07-20 10:24] soham4abc opened #2272 "Modify the `/uploads/:id/licenses` endpoint in order to ommit repeated Copyright Information."
### Description

Currently when we use the `uploads/:id/licenses` endpoint with the headers:

[code]

The response returns all the repeating copyright information which is undesirable.
The response should not have any repeating occurrences of copyright information.

#### How to reproduce

send a GET request to this particular URL: `localhost/repo/api/v1/uploads/<Insert_upload_id_here>/licenses?lic

[2022-07-20 10:58] GMishx commented on #2272
@soham4abc , instead of modifying the current endpoint, I will recommend to create a new endpoint for copyrights alone which can provide the information in required format.

[code]

[2022-07-20 11:04] soham4abc commented on #2272
Can we have a prescribed endpoint URL format for this new functionality ?

[2022-07-25 10:34] #2267 closed

[2022-07-25 10:46] #2272 closed

[2022-07-25 17:23] kannan1997 commented on #2229
Hi @GMishx,

Instead of Using
`$jwtToken = $accessToken->getToken();`
https://github.com/fossology/fossology/blob/4.1.0/src/www/ui/page/HomePage.php#L177

Can we use
`$jwtToken = $accessToken->getValues() ['id_token'];`  ?

We were facing the above issue while validating the signature.
This workaround helped to fix the issue.

Tried on
Fossology Version: 4.1.0
Provider: Azure Active Directory.

Pl

[2022-07-28 07:37] dineshr93 opened #2277 "Scancode error while scanning boost package FATAL scancode_wrapper.cc.196: JSON parsing failed * Line 15, Column 23""
### Description

ScanCode error failed

#### How to reproduce

Tried to scan [boost_1_64_0.tar.bz2](http://downloads.sourceforge.net/project/boost/boost/1.64.0/boost_1_64_0.tar.bz2) and got an error from ScanCode, see attached screenshot. I have also attached the error log from FOSSology, see 001070.txt.

#### Screenshots
![image](https://user-images.githubusercontent.com/4498415/181445597-0b862c5

[2022-08-01 03:18] soham4abc opened #2283 "Creaate REST API for the `clearing status` and `cleared/ToBeCleared/Total` response."
### Description

Creaate REST API for the clearing status and  cleared/ToBeCleared/Total response in the License browser page.

#### Screenshots

![image](https://user-images.githubusercontent.com/63705023/182065242-c7b7f078-3e33-4325-9187-d20db0ad6467.png)

The response required in the API can be understood from the Above screenshot of the old UI

PS : I would like to work on this issue.

@GMishx

[2022-08-04 11:25] Nandhanrajvir opened #2285 "raise AuthenticationError(description, response) fossology.exceptions.AuthenticationError: ('Authentication error', <Response [404]>)"
when we tried to connect Fossology through CLI we are getting the error when we tried to import token.

please find the details below .
    raise AuthenticationError(description, response)
fossology.exceptions.AuthenticationError: ('Authentication error', <Response [404]>)

[2022-08-04 11:27] Nandhanrajvir commented on #2285
![img](https://user-images.githubusercontent.com/110379111/182836117-0270f0de-b105-4807-af66-f4b141640e50.PNG)

[2022-08-05 11:47] rahulmohang commented on #2211
@GMishx @shaheemazmalmmd , can you please let me know a timeline to fix this issue? I remember this problem did not exist sometime ago.

[2022-08-08 12:44] GMishx commented on #2229
Hello @kannan1997, I am not very sure it will help. Is it possible to send a JWT token for inspection?

You might also wanna check id parameter here: https://github.com/fossology/fossology/blob/871739e03281e9cfe1ae76dd79beebd98d632d5e/src/www/ui/page/HomePage.php#L138

This is the key used for email in JWT token.

[2022-08-08 19:39] khushbooag4 commented on #1578
@GMishx I want to work on this??

[2022-08-08 19:42] khushbooag4 commented on #83
Is it still open? Can work on this?

[2022-08-08 19:49] khushbooag4 commented on #2047
@Shruti I can work on this. I have worked before on REST API.

[2022-08-11 05:28] dushimsam opened #2289 "INITIATE FOSsology maintenance operations via REST API"
### Description
There's a need for the API to initiate fossology Mantainance operations according to the user options in the request..

#### Steps to be followed

1. Create a new route on the main page (index.php) as a part of the Maintenance routes.
2. Add a new function in MaintenanceController to handle the functionality.
3. Test the API.
4. Add the new API's documentation  in [https://github.c

[2022-08-12 10:47] #2246 closed

[2022-08-12 11:06] #2257 closed

[2022-08-14 08:46] dushimsam opened #2291 "Import license file via REST API"
### Description
There's a need for the API to upload the license file.

#### Steps to be followed

1. Create a new route on the main page (index.php) as a part of the license routes.
2. Add a new function in LicenseController to handle the functionality.
3. Test the API.
4. Add the new API's documentation  in [https://github.com/fossology/fossology/blob/master/src/www/ui/api/documentation/openapi.

[2022-08-16 10:49] dushimsam opened #2293 "list license candidates via REST API"
### Description
There's a need for the API to return the list of the license candidates.

#### Steps to be followed

1. Create a new route on the main page (index.php) as a part of the License routes.
2. Add a new function in LicenseController to handle the functionality.
3. Test the API.
4. Add the new API's documentation  in [https://github.com/fossology/fossology/blob/master/src/www/ui/api/docu

[2022-08-16 12:58] NicolasToussaint commented on #2214
Notes after discussion:

- Every file in the LICENSES folder will be considered as a _Declared License_ automatically, once it has been cleared.
- The feature can be [de]activated via a new option in the Conf page (for each Upload) ; Feature activated by default for all new

Uploads.
- Add a new table in the Summary section of the Upload

To do next:
- For every _Declared License_, find a way to s

[2022-08-17 13:39] NicolasToussaint opened #2296 "DB migration error"
### Description

When migrating from 3.10 to 4.0, an issue whenever is so happens that there is no user with id 3 in the database.

During DB migration:
1. a new column is added in the table `license_candidate`, referring to a user primary key. The default value is set to 3: https://github.com/fossology/fossology/blob/43924f05229e03bfa1c86eb285127f9f0b93d409/src/www/ui/core-schema.dat#L1153
2. the

[2022-08-18 03:55] dushimsam opened #2297 "Delete license Candidate"
### Description
There's a need of the API to delete  a certain license candidate.

#### Steps to be followed

1. Create a new route on the main page (index.php) as a part of the License routes.
2. Add a new function in LicenseController to handle the functionality.
3. Test the API.
4. Add the new API's documentation  in [https://github.com/fossology/fossology/blob/master/src/www/ui/api/documentati

[2022-08-18 08:39] NicolasToussaint commented on #2296
And by the way, the workaround I applied ;

I had to manually create the new columns (with user 3, before I knew that was the problem), so you can create the new columns with a correct default value from the start:

[code]
If too late, all you have to do if update the rows to change the column `rf_user_fk_created`

[2022-08-18 09:25] legendarykamal commented on #2297
Hi @dushimsam can i get started with this 🙂

[2022-08-18 10:25] dushimsam commented on #2297
Hey, @legendarykamal I have completed it already locally, just going to make a pull request in time.😂

[2022-08-18 10:30] dushimsam commented on #2297
But we still have a lot of to do's on the license module we can appreciate your contribution,
you can refer to other issues or pick some of these

Example:

1. Rest-API to  Selecting license.
2. Rest-API to add the admin-standard-license comment.
etc.

[2022-08-21 18:22] legendarykamal commented on #2297
no problem @dushimsam can you guide me how to contribute to the examples listed?
PS;- I am new out here.

[2022-08-21 18:26] dushimsam commented on #2297
The project is all about writing REST API's in Slim PHP framework.
So i would recommend you to be comfortable in that framework for now.
Then you can refer to the previous REST API's to develop those as well.

[2022-08-22 05:41] kannan1997 commented on #2229
Hi @GMishx ,

Please find the observation below,

1, "**Signature verification failed**" for [accessToken:protected], but able to verify the signature for [id_token]

Unable to validate the signature via jwt.io for [accessToken:protected] (please find the below code block for more details)

### Please find the Structure(value) found inside $accessToken
https://github.com/fossology/fossology/blob/7

[2022-08-22 19:22] dushimsam opened #2299 "REST-API to select a list of licenses matching the given criteria."
### Description
There's a need for the API to list the licenses matching the given search criteria ( the filter-property and the license-family-name).
The specifications are **marydone** AND **shortname**.

#### Steps to be followed

1. Create a new route on the main page (index.php) as a part of the License routes.
2. Add a new function in LicenseController to handle the functionality.
3. Test th

[2022-08-24 17:06] #2265 closed

[2022-08-25 08:46] #2255 closed

[2022-08-29 16:50] #2299 closed

[2022-08-29 16:54] dushimsam opened #2302 "Add user to group via REST-API"
### Problem Description

When a certain user is deleted from the group, There's no existing API to bring him back into the group when needed.

#### Steps to be followed

1. Create a new route on the main page (index.php) as a part of the Group routes.
2. Add a new function in GroupController to handle the functionality.
3. Test the API.
4. Add the new API's documentation  in [https://github.com/fo

[2022-09-01 06:51] GMishx commented on #2229
Thanks for the info provided @kannan1997 , I have made the fields configurable in https://github.com/fossology/fossology/pull/2305

From your last comment:
1. The field is now configurable. You can use either access token or id token for authentication.
2. I tried mainly with 2 providers. One is internal to my company and other is oauth.com and they worked for me.
3. I am not sure that will be hel

[2022-09-01 07:01] krishna9304 opened #2306 "Creating a GET route to fetch all the jobs queued for an upload"
There is a requirement of a `GET` endpoint to get all the jobs queued for an upload.

## Steps to be followed
- Create a new POST route in the `index.php` file inside `www/ui/api` directory for getting the history of all the jobs queued based on an upload.
- Add new methods `getJobsHistory` in the `JobController` class.
- Try to re-use the methods that are already used in the backend from the `sho

[2022-09-01 12:29] krishna9304 opened #2308 "Creation of a POST route to import a report"
There is a requirement of a POST route that will import a report to an existing upload. I'd like to work on this.

Steps to be followed ---
- Create a new POST route in the `index.php` file inside `www/ui/api `directory for initiating a report import job.
- Add new method `importReport` in the `ReportController` class.
- Try to re-use the methods that are already used in the backend from the `Repo

[2022-09-02 04:16] kannan1997 commented on #2229
Thanks for considering my suggestion. (https://github.com/fossology/fossology/pull/2305)

Please find the suggestion on point (3) and (4).

In my Opinion, [2305](https://github.com/fossology/fossology/pull/2305) change may help in accessing in both accessToken and idToken, but due of limitation in external library GenericResourceOwner, it only provides below value, but not "upn".

*Note:* Even tho

[2022-09-02 05:41] #2249 closed

[2022-09-02 08:10] #2270 closed

[2022-09-02 10:27] #2289 closed

[2022-09-02 11:44] rahulmohang commented on #2211
@GMishx @shaheemazmalmmd

[2022-09-05 08:15] #2291 closed

[2022-09-05 11:36] #2302 closed

[2022-09-14 13:22] dushimsam opened #2318 "Create Admin-License via REST-API"
### Description
There's a need for the API to create Admin License.

#### Steps to be followed

1. Create a new route on the main page (index.php) as a part of the License routes.
2. Add a new function in LicenseController to handle the functionality.
3. Test the API.
4. Add the new API's documentation  in [https://github.com/fossology/fossology/blob/master/src/www/ui/api/documentation/openapi.yam

[2022-09-19 10:08] dineshr93 opened #2321 "Errors while file uploading the tar.gz packages"
### Description
File Uploading Some tar.gz packages (for example
https://files.pythonhosted.org/packages/c8/18/631398e45c109987f2d8e57f3adda161cc5ff2bd8738ca830c3a2dd41a85/gevent-21.12.0.tar.gz ) are not working

#### How to reproduce

Download the above mentioned file
upload manually
Triggers "This site can't be reached" browser error page

#### Screenshots

![brave_fqiaaWPfid](https://user-image

[2022-09-22 07:24] dineshr93 commented on #2018
Hi @GMishx

we just updated to https://github.com/fossology/fossology/releases/tag/4.1.0

we have the same problem now even after doing the maintenance job. May I have your help again please ?

![image](https://user-images.githubusercontent.com/4498415/191683891-7e46f7cb-003d-4d35-918d-c3756edc9803.png)

We have this

[2022-09-22 09:07] dineshr93 commented on #2018
Hi @dineshr93  we observed that if there is any scan jobs in the background while running mainetance job, then it doesnt help in speed up the loading. We tried again maintenance job when there is no scans it worked.

[2022-09-23 06:57] johanna4711 opened #2322 "ununpack agent: tar: ...: Cannot open: Permission denied"
### Description

I want to upload several files via the Python API (works fine). But some files can not be unpacked by the ununpack agent (see log; example file).
Then the uploaded and unpacked archive does not contain any files (screenshot).
A `sudo systemctl restart fossology` solves the issue. Is there something I'm missing?

#### How to reproduce

Should be reproducable with multiple file uplo

[2022-09-23 17:27] alpianon opened #2323 "lzip archives not supported"
### Description

Fossology does not support unpacking lzip archives. Packages uploaded in such format (like https://ftp.gnu.org/gnu/ed/ed-1.18.tar.lz) cannot be reviewed.

#### How to reproduce

Upload https://ftp.gnu.org/gnu/ed/ed-1.18.tar.lz to Fossology and try to browse it

### Versions

all

[2022-09-26 06:17] #2229 closed

[2022-09-26 07:06] johanna4711 commented on #2322
ok, I did some testing over the weekend.

It seems like, if the archive is a nested archive for instance like:

root-dir:
    - dir1:
        - file1.c
        - file2.c
    - dir2:
        - test.py
        - info.txt
    - INSTALL
    - Readme.md

and so on. The files in dir1 and dir2 can't be opened -> "permission denied". But if the archive looks like this:

 root-dir:
    - dir1:
        - fi

[2022-09-26 07:15] johanna4711 commented on #2322
Update 2:

error vanishes when the arichive is converted to a .zip file using python for instance.

[2022-09-27 10:44] GMishx opened #2324 "PHP 8 warnings in CLIXML"
### Description

On PHP8.1, CLIXML agent is throwing multiple warnings.

#### How to reproduce

1. Install FOSSology on PHP8
2. Upload a package
3. Export CLIXML report
4. Check the agent logs

### Versions

* Last commit id on master: 5657d041e5101334693aeace4bab590b0f2a6ac9
* Operating System (lsb_release -a):
[code]

### Logs

#### Job logs

[code]

[2022-09-27 11:36] shaheemazmalmmd commented on #2162
@kannan-seenivasan : The issue with author table is not reproducible from our end. Can you please share more info about  your environment ? is the process automated ?

**Is this an expected result or do we need to restrict such duplicates?**
we need to restrict the duplicates. it is not a expected behavior.

[2022-09-27 11:42] shaheemazmalmmd commented on #1697
@jb68 not able to reproduce the issue after tests on latest master. i think it was fixed by #1707 . please re open in case the issue persist on your side.

[2022-09-27 11:42] #1697 closed

[2022-10-05 08:33] alpianon opened #2329 "Scancode not working any more with Fossology (Installer installs latest/unpinned version of Scancode)"
### Description

I installed Fossology v4.1.0 from sources some time ago and it is working well, even with Scancode. The installed (working) version of Scancode was 30.1.0.

However, I created a new instance of Fossology v4.1.0 (always installing it from sources) and Scancode is not working any more with Fossology Scancode Agent:

![immagine](https://user-images.githubusercontent.com/3025020/19401

[2022-10-05 09:23] alpianon commented on #2277
maybe related to #2329 ?

[2022-10-05 10:20] alpianon commented on #2329
I opened a PR to fix the problem https://github.com/alpianon/fossology/pull/1

[2022-10-05 14:16] ka-els commented on #1470
I found 2 files php.ini:
/etc/php/7.2/cli/php.ini
/etc/php/7.2/apache2/php.ini

The one in apache2 directory did the right update of 'upload_max_size'.

But still I have the same problem as mentioned above:
If I upload it by GUI, the GUI will block and in the end, I can't see this upload job in jobs list.
Currently I use only the GUI at a Ubuntu 18.04.
Any hints ?

[2022-10-06 08:14] kannan-seenivasan opened #2330 "Limited details showed in $resourceOwner"
### Description

This is the continuation of Issue #2229.

Limited details showed in $resourceOwner

https://github.com/fossology/fossology/blob/85cf465677b61ccb2de7f022cfc3925114052af1/src/www/ui/page/HomePage.php#L198

Even optional Claims didn't helped.
[code]
For more detail, Please refer here https://github.com/fossology/fossology/issues/2229#issuecomment-1235049563

### How to reproduce

`St

[2022-10-06 12:27] kannan-seenivasan commented on #2330
### Possible and tested solution:

Please find the code suggestion below:

#### **Suggestion-1:**

Changing the below line https://github.com/fossology/fossology/blob/85cf465677b61ccb2de7f022cfc3925114052af1/src/www/ui/core-auth.php#L244

from `"scope" => ['email openid']`  to `"scope" => ['openid profile email']`

and

---

#### **Suggestion-2:**

Modified the below to get resourceOwner details f

[2022-10-08 15:24] MahidharMannuru5 commented on #1590
Hello,is this still open and can I work on this ?

[2022-10-19 07:51] #2211 closed

[2022-10-26 04:21] sarthakastic opened #2338 "About section UI breaks at several screen size"
### Description

For the screen width 1080px to 1000px the About description overlap with the floating navigation modal.

#### Screenshots

<img width="1710" alt="Screenshot 2022-10-26 at 9 45 47 AM" src="https://user-images.githubusercontent.com/72138026/197933702-f1bca162-a923-4ca8-88cd-a677734a851b.png">

[2022-10-26 06:46] rksingh2001 commented on #2338
Can I take up this issue?

[2022-11-10 10:24] adithyaakrishna opened #2341 "[Feature] - Add Fossology Rest API Swagger UI"
### Description

Fossology's Basic Rest API Calls at https://www.fossology.org/get-started/basic-rest-api-calls/ do not have a Swagger UI to help users easily access the REST API and its params.

Along with that, this file, https://raw.githubusercontent.com/fossology/fossology/master/src/www/ui/api/documentation/openapi.yaml might be a bit complex for people to refer and we can have our own Swagge

[2022-11-10 10:26] adithyaakrishna commented on #2341
I actually was setting up fossology locally and came across the docs, so I thought this would be a nice feature/enhancement to have

I have created a repo that demos the feature here, https://github.com/adithyaakrishna/fossology-swagger-ui

**Deployment Link**: https://adithyaakrishna.github.io/fossology-swagger-ui/

[2022-11-15 06:22] Laraibnehal commented on #2338
@sarthakastic is this issue assigned or can I take this issue ?

[2022-11-17 12:54] danger-ahead opened #2344 "Missing header on running `make`"
### Description

The header sstream is possibly missing in `OjoAgent.cc`. While running `make`, this is the error I encountered:
[code]

#### How to reproduce

After completing the previous steps, running `make` gives this error.

### Versions

* Last commit id on master: [9a0a6eb](https://github.com/fossology/fossology/commit/9a0a6ebbbee23c2adc794151015be425ac1c91cd)
* Operating System (lsb_relea

[2022-11-18 10:25] Jasper-Ben commented on #1777
Hi, we are experiencing the same issue with source code not being available in multiple uploads on the newest fossology release (fossology:4.2.1), so definitely an ongoing issue. Can we do anything to help debug this?

![image](https://user-images.githubusercontent.com/12223583/202679515-2acf76bd-2ccf-4de7-8ab4-85fc567c1939.png)

[2022-11-22 12:40] jatinmark commented on #2321
I want to on this issue can you assign it to me please

[2022-11-22 12:40] jatinmark commented on #2308
I want to work on this issue can you assign it to me please

[2022-11-23 16:00] Thuraabtech opened #2345 "unable to install on arm"
### Description

unable to install on 22.04 ubuntu arm vm on mac m1
fails while running fo-postinstall

#### How to reproduce

For a bug: Describe the bug and list the steps you used when the issue occurred.

For an enhancement or new feature: Describe your needs/expected results.

#### Screenshots

If applicable, add screenshots to help explain your problem.

### Versions

* Last commit id on mas

[2022-11-25 16:48] NicolasToussaint commented on #703
I would be very interested to know if that feature still sounds interesting to Fossology users here !

If yes, looks like the only point left is the name of the file...
For this, we could
- make this configurable
- accept multiple filenames
WDYT ?

[2022-11-28 07:07] timowolf commented on #703
@NicolasToussaint how about .runtimeignore

[2022-11-30 14:37] dineshr93 opened #2348 "Scancode ERROR: UNABLE TO IMPORT SCANCODE PLUGINS. in fossology 4.2.1.0"
### Description
After installing the new version 4.2.1.0 of fossology we tested scan code for boost_1_64_0.tar.bz2 component. It fails with below error.

#### How to reproduce

For a bug: Describe the bug and list the steps you used when the issue occurred.

For an enhancement or new feature: Describe your needs/expected results.

#### Screenshots

![image](https://user-images.githubusercontent.co

[2022-11-30 14:42] dineshr93 commented on #2329
I tried for 4.2.1.0 latest release , I got this error https://github.com/fossology/fossology/issues/2348