[2020-04-29 11:51] #1701 closed

[2020-04-29 11:52] #1684 closed

[2020-04-30 09:40] GMishx commented on #1697
Should be fixed by #1707

[2020-04-30 09:42] GMishx commented on #1631
Sure, please go ahead

[2020-04-30 13:04] dineshr93 commented on #1706
@NicolasToussaint For those who installs via docker It seems whatever port you are listening in fossology.conf must be exposed in [docker-compose.yml#L52](https://github.com/fossology/fossology/blob/795b19047a857ed8e622208bd74d689c8eefe4c2/docker-compose.yml#L52)

So if in fossology.conf `Listen 8880` is mentioned

then we must add `- 8880:8880 `  below line [L52](https://github.com/fossology/foss

[2020-04-30 13:39] NicolasToussaint commented on #1706
Indeed, you can also use a separate port to access the API url without LDAP authentication.
If you do that, you can even remove the redirection in the Apache configuration file.

That was not my setup because I didn't want to use a distinct port, but if that works for you, perfect !

[2020-05-04 05:07] timowolf commented on #703
I like it. I would propose to also be able to address complete folders like a docs folder and I would propose another name. I think .fossology-do-not-use is very long and specific.

How about: .oss-scan-ignore

[2020-05-04 09:06] NicolasToussaint commented on #703
@timowolf yes, I also had in mind to allow both files and folder paths.

Concerning the file name, I guess it all depends if we intend to work on seeing this feature implemented in other scanners or not - I personally do not have a strong opinion on which filename is best ; let's see what others in the community think ?

[2020-05-06 07:23] #1462 closed

[2020-05-06 07:27] #1620 closed

[2020-05-06 07:31] #1390 closed

[2020-05-06 07:54] #1334 closed

[2020-05-06 10:44] frannicot opened #1710 "Error with the FOSSology id in the "curl" command and with connection to "SW360/Re-Check connection" of Admi/Fossology"
### The description
I have 2 problems: on the one hand to have the FOSSology id with the "curl" command and on the other hand for the connection of SW360 with FOSSology (SW360 / Admi / Fossology).

#### How to reproduce
1. I got the id in the browser URL section to get my Fossology ID because I tried to get, without success:
`sudo curl -k -s -S -X GET "http://localhost/repo/api/v1/folders" -H "my

[2020-05-06 10:52] GMishx commented on #1710
Hello @frannicot,

Can you please share the output of the `curl`?

[2020-05-06 10:59] frannicot commented on #1710
Here are the curl outputs with 2 commands:
![2020-05-06_12h58_37](https://user-images.githubusercontent.com/32058875/81169618-6970f480-8f99-11ea-901f-5a36ab25f211.png)

[2020-05-06 11:48] GMishx commented on #1710
Looks like the host is not available. Can you please try the curl with `--location` flag as the second curl output says it want to redirect you?

[2020-05-06 15:43] jeremiah commented on #1710
It would be good if there were an 'canonical' example of using curl to get the token. I've seen the API described differently in different places and had similar difficulties using the token fetching API as well. It would also be good if there were a working API to test against - does the demo installation provide this? Just so one knows the API works?

[2020-05-07 04:37] dineshr93 commented on #1710
@GMishx I asked @frannicot to report this issue. I personally had a call & screen shared with him. It seems he has installed both Fossology & SW360 in the same Ubuntu box both were installed via source in a virtualbox in his windows PC. I am not sure if that is causing any problem.

[2020-05-07 09:34] frannicot commented on #1710
@GMishx Here are the curl output with second command and --location flag:
![image](https://user-images.githubusercontent.com/32058875/81276153-eca25100-9052-11ea-9696-be6ad96e4658.png)
I launched this command twice and I have the same error message.

@dineshr93 I installed Fossology & SW360 on the same Ubuntu VM.
He told me to try to install Fossology and SW360 on 2 separate Ubuntu machines. I do

[2020-05-08 13:04] GMishx opened #1715 "Add copyright export to fo_nomos_license_list"
### Description

With the PR #1713, the UI can export Copyright list as well.

It would be nice to have the CLI do it as well.

#### Steps followed and expected result

Check #1713

[2020-05-08 13:06] GMishx opened #1716 "REST API: Allow copyright export"
### Description

With PR #1713, the class `UIExportList` can export copyrights as well. Since the REST API uses the call to get license list, an option to export copyright list can be added as well.

#### Steps followed and expected result

Check #1713
Check #1608

[2020-05-08 13:23] GMishx commented on #1710
Hello @jeremiah , we have an API document which you can put into swagger and get the different commands like cURL or even generate a client. You can check it out here: https://github.com/fossology/fossology/blob/master/src/www/ui/api/documentation/openapi.yaml

Looks like there is some issue with your Apache routing as the error message you are getting is never generated by FOSSology. Do you have

[2020-05-11 09:29] #1631 closed

[2020-05-12 07:27] avneetsngh commented on #1689
The Pull request has been merged.
Closing this issue

[2020-05-12 07:27] #1689 closed

[2020-05-12 08:48] GMishx opened #1718 "Warning if ignore scm not chosen for upload"
### Description

I am getting warning from PHP if I did not chose ignore scm files while uploading the package.

#### How to reproduce

1. Upload a package without choosing any agent and ignore scm option.
1. Goto Jobs > Schedule Agents
1. Schedule some agents.
1. Check the Apache error log.

### Versions

* Last commit id on master:
* Operating System (lsb_release -a):

### Logs
#### Apache logs

[2020-05-13 05:41] lakshmibhavani1 commented on #1660
@mcjaeger I would like to see the same brackets < and > instead of the symbols  &lt and &gt respectively in the report.

[2020-05-14 05:37] #1698 closed

[2020-05-14 06:31] deveaud-m opened #1720 "Rest API: extend uploads GET with groupName and folderId"
Currently an API user is only able to see his "own" uploads with GET.
Some other methods support the parameter `groupName` but whether GET nor PUT.

It would be very helpful to be able to see and manage uploads from a given group.

Additionally, uploads listing shall accept a `folder` parameter to restrict listing of uploads in a dedicated folder.

[2020-05-14 06:52] JustinWonjaePark opened #1721 "delagent does not delete rows at upload table"
### Description

I deleted some uploads (which was success) but upload table on my DB(fossology) has rows for the upload_pk.
But when I go to browse, the deleted uploads are gone.

#### How to reproduce

Delete uploads via Web UI or with delagent at terminal

#### Screenshots

(following is an example for upload ID 2 deleted with delagent at terminal)
![image](https://user-images.githubusercontent

[2020-05-15 08:57] GMishx commented on #1721
Hello @JustinWonjaePark ,

Deletion of `upload_pk` was causing problems with reset of sequence of `upload_pk`.
You can read more about the issue at #1684 and about the fix at #1707.

[2020-05-15 09:03] frannicot commented on #1710
I saw with @GMishx who found my curl problem. I thank him very much. This is not a bug.
My apache configuration file located in /etc/apache2/sites-available/fossology.conf is incorrect. The redirect rule is missing to access the rest API.
I got the right file https://github.com/fossology/fossology/blob/master/install/src-install-apache-example.conf to replace my file in this directory / etc / apac

[2020-05-15 09:04] frannicot commented on #1710
This is not a bug. I close this issue.

[2020-05-15 09:04] #1710 closed

[2020-05-15 12:02] #1718 closed

[2020-05-17 02:39] jeremiah commented on #1710
@GMishx Thanks. I'm not going to use postman or swagger though, I'd like to test from the command line or use documentation similar to GitHub's API docs; https://developer.github.com/v3/ It is so much cleaner and easier to use and I don't need to sign up for some account or download some gigantic GUI built in npm.

I know there are a couple of documents describing the API and how to call it from c

[2020-05-18 02:23] JustinWonjaePark commented on #1721
Hi @GMishx,
Thank you for the answer!

[2020-05-18 04:15] GMishx opened #1724 "nomossa build failure"
### Description

With a built `lib` (running `make` at top level), the `nomossa` build fails.

#### How to reproduce

`make` top level directory, build `nomossa` (`make -C src/nomos/agent -f Makefile.sa all`)

### Versions

* Last commit id on master: 7cd0d95874406a6801977ae57e01293419020cd1
* Operating System (lsb_release -a):
[code]

### Logs

[code]

[2020-05-19 05:26] #1724 closed

[2020-05-20 08:53] woznik opened #1727 "Obligation feature improvement - export to csv and run on scanner results"
## Obligation feature improvement
ref: https://github.com/fossology/fossology/wiki/Obligations-management
FInal state - Work in progress

### Description

Have you ever though about improving functionality of Fossology Obligation feature
Currently Fosso 3.8.0 allows configure obligations on a specific conditions and provides a possibility to mark the findings in a proper way (RED, GREEN color in t

[2020-05-20 11:03] #1562 closed

[2020-05-21 04:54] GMishx commented on #1721
Hello @JustinWonjaePark,
Would it be okay for you to close the ticket if your query has been answered?

[2020-05-21 05:06] JustinWonjaePark commented on #1721
Hi @GMishx,
Yes, I'll close it. Thanks again.

[2020-05-21 05:06] #1721 closed

[2020-05-21 19:16] shaheemazmalmmd opened #1728 "tree view and histogram view are failed to capture latest deletions"
### Description

Histogram view and license tree view are unable to capture latest decisions that are made in single file view.

#### How to reproduce

* Create a candidate license "SomeLic"
* Upload a package and add this candidate license as decision to a file.
* Remove added candidate license.
* Go to license tree view. and check see the removed candidate license in list of licenses.

#### Scre

[2020-05-22 01:49] JustinWonjaePark opened #1729 "Some of job completion mails are omitted"
### Description

I've configured my fossology to send email notifications when a job is finished.
But from time to time, fossology omit to send the notification for some uploads.

I've looked into /src/scheduler/agent/database.c and found out
everytime when fossology omits the send, return value of email_checkjobstatus() was 0 for all jobs of the Upload
https://github.com/fossology/fossology/blob/

[2020-05-22 04:54] GMishx commented on #1728
Hello @shaheemazmalmmd,

I followed the steps described by you on latest master, but couldn't see the behavior

1. Add a candidate license to a file:
![image](https://user-images.githubusercontent.com/18077542/82632470-f06ad180-9c15-11ea-8b90-186e46fccfdb.png)
1. Tree view with license decision:
![image](https://user-images.githubusercontent.com/18077542/82632491-fe205700-9c15-11ea-8fa9-7ffac5a845

[2020-05-22 07:25] shaheemazmalmmd commented on #1728
@GMishx Instead of empty file can you please try adding it to a file which has some license findings ??

[2020-05-22 07:28] GMishx commented on #1728
Still the same result on file with license findings.

[2020-05-22 07:48] shaheemazmalmmd commented on #1728
There seems to be issue with only global decisions. and now that will get fixed with PR : https://github.com/fossology/fossology/pull/1682

[2020-05-22 07:48] #1728 closed

[2020-05-27 12:09] mcjaeger opened #1730 "SPDX 2.2 Generation (updates from 2.1)"
### Description

FOSSology currently generates the SPDX 2.1 formats.

Now with the 2.2. release, some update could be done

* update version info in document
* use attribution
* use json output

[2020-05-28 07:40] GMishx commented on #1730
Duplicate of #1603?

[2020-05-28 08:12] shaheemazmalmmd opened #1731 "Add upload_filename to deleted upload."
### Description

If upload gets deleted. upload name is missing only "delete" was showing. which is confusing. i think we need to add upload name with (deleted).

**Ex: upload_filename (deleted)**

#### How to reproduce

* Upload a package and delete it through UI.
* See the deleted file name as just "delete" in show jobs page.

#### Screenshots

<img width="954" alt="screenShot15" src="https://us

[2020-05-28 08:14] #292 closed

[2020-05-28 14:07] mcjaeger commented on #1730
ah my bad, I think so.

[2020-05-28 14:07] #1730 closed

[2020-05-28 14:08] mcjaeger commented on #1603
in particular:
* update version info in document
* use attribution
* use json output

[2020-06-01 12:41] #1353 closed

[2020-06-05 07:59] JustinWonjaePark opened #1734 "Decider is not scheduled at Upload from VCS"
### Description

While uploading from git repository(with upload from VCS),
I've checked to enable decider. (first two  on 12. Automatic Conclude...)
But when the job is queued, I found decider is not scheduled.

Interestingly, upload from file and upload from url works fine.

#### How to reproduce

Run Upload from VCS with decider enabled. (first two  on 12. Automatic Conclude...)

#### Screensho

[2020-06-05 09:08] NicolasToussaint commented on #1734
Same behaviour with version 3.8.1

[2020-06-09 08:43] JustinWonjaePark opened #1737 "Monk fails"
### Description

When I upload a tar file(around 600MB), monk fails while providing log below.
All other agents complete successfully.(Except decider. since monk fails, it does not start.)

As I cannot share the tar file, I suppose there is slight chance to get a solution here.
But I'd like to ask for any kind of clue.

Is there anywhere I would look into?

~+ I just found a strange result on Show

[2020-06-09 16:20] NicolasToussaint opened #1738 "Create a notion of "Projects""
### Description

For multiple reasons, I would like to be able to identify uploads to projects.

A project would be defined by:
- a project ID (as primary key)
- a project name
- a root folder in Fossology
- one or more Group IDs and associated access.
- a URL / ID / Free field to link the project to an external tool

As a suggestion, a new table entry could be created containing all info mentione

[2020-06-10 01:11] JustinWonjaePark commented on #1737
I just found out the reason why nothing was scanned with noms and ojo.
The same file were uploaded before and files were scanned before.

But I still don't understand why monk failed.
It scanned nothing even in earlier uploads.

And I found some Job Logs at ununpack agent as follows

2020-06-09 16:58:50 ununpack [0] :: JOB[981].ununpack[27621.localhost]: "ERROR traverse.c.230: pfile 479011 Command

[2020-06-10 07:55] #1304 closed

[2020-06-10 13:51] shaheemazmalmmd opened #1741 "Show message in case of empty timestamp"
#### How to reproduce

* Reset master to any commit before 00a68a13d180b24043173d95c3a1e0401953f245 .
* Clean browser session.
* Install fossology. Upload a package and goto showjobs.
* Now Pull the changes of master and install them. Reload same page.
* Page goes blank without showing any error in UI.

### Versions

* Latest commit ion master.

### Logs

[code]

[2020-06-11 04:46] GMishx opened #1742 "SPDX report contains duplicate copyrights"
### Description

SPDX agent (RDF and TV) adds duplicate copyright entries to the report.

The agent directly calls the function `getScannerEntries()` of `CopyrightDao`, which returns duplicate entries as it does not filter for `agent_fk` from `copyright` table.

#### How to reproduce

1. Upload a package on older version of FOSSology.
1. Update the FOSSology to get new copyright version.
1. Upload

[2020-06-11 05:34] GMishx commented on #1741
One solution would be to check if session has `timezone`. If not, then use the `$server_timezone`

https://github.com/fossology/fossology/blob/d9f6f6753ce5e4b11668375dfe039a8871b3b499/src/lib/php/common-ui.php#L300-L301

[2020-06-11 05:55] shaheemazmalmmd commented on #1741
Yes i have resolved it by logging out and login again. But i think it would be better to show a message. if time zone is empty.

[2020-06-11 06:56] DineshDevarajan commented on #1741
@GMishx

During user login , if the timezone is empty or unknown it is set to server timezone

https://github.com/fossology/fossology/blob/00a68a13d180b24043173d95c3a1e0401953f245/src/www/ui/core-auth.php#L206-L208

[2020-06-11 06:58] GMishx commented on #1741
Yes @DineshDevarajan , but the issue occurs when you already have a running session and the server updates (with is extremely rare but possible). In that case you'll not have timezone set in the session variables.

[2020-06-16 13:55] #1539 closed

[2020-06-16 13:55] #1687 closed

[2020-06-16 13:56] #1741 closed

[2020-06-16 15:58] darshank15 opened #1746 "Need to update table in database with latest VERSION file details."
### Description
Currently, the database table doesn't have latest information about version, build details, commit hash. We need all the latest build and version information in the database.

[2020-06-17 05:52] #1742 closed

[2020-06-19 05:26] #1703 closed

[2020-06-19 13:51] shaheemazmalmmd opened #1749 "Permission issue with all server jobs"
### Description

Admin -> dashboard -> all jobs is visible without logging in.

#### How to reproduce

* Install fossology.
* Go to login page and Admin -> dashboard -> all jobs to view the jobs.

#### Screenshots

<img width="372" alt="screenShot18" src="https://user-images.githubusercontent.com/10155976/85139438-0b0a8780-b262-11ea-84e5-9919b704c63a.PNG">

[2020-06-19 14:08] swinslow commented on #1703
Thanks @GMishx and @shaheemazmalmmd! Appreciate you handling this, I realize it's very much an edge case  :)

[2020-06-19 16:29] GMishx commented on #1749
I don't think that's an issue. It was clearly mentioned in the pull request #1709

[2020-06-20 08:26] chaithubk opened #1750 "[dunfell] some errors during unpack step in fossology server"
I am able to successfully generate the SPDX docs for all `dunfell` `core-image-sato` packages except the below packages (one is at `do_compile`, but others failed at `do_spdx`).

Summary: 5 tasks failed:
[code]

The error log for the above failures are below:

[code]
And then, I uploaded this `adwaita-icon-theme-3.36.1.tar.xz` source code to fossology server manually, and I noticed these errors.

[2020-06-22 21:38] JustinWonjaePark commented on #1737
I found a file that creates same issue.
Can anybody run scan and check if it creates error?
[https://drive.google.com/file/d/1pHhML0SKzo7Ruw1cJGKxQBxdwDCStErl/view?usp=sharing](url)

[2020-06-24 05:21] bharathkumar522 commented on #1668
Hi @mcjaeger  @GMishx as Surabhi mentioned i am also getting issues during installation and I followed the steps (https://github.com/fossology/fossology/wiki/Install-from-Source) but after fixing each issue I am getting the new issue. Please let me know any reference PPT/Video available.
Note: I tried to install in Ubuntu 18.04

[2020-06-24 05:31] bharathkumar522 commented on #1668
@Surbhi1406 do you have any documentation for installation. if yes please share

[2020-06-24 12:51] deveaud-m commented on #1738
@NicolasToussaint I like the idea! In my team we use the concept of a "clearing request", this is simply a collection of uploads that belong to a specific product/project and needs to be scanned together, very similar to the concept you describe here.

We tried using the `tag` feature of Fossology to label uploads belonging together:
1. set the tag using the file `info` tab
2. use the search UI to

[2020-06-24 14:08] jeremiah commented on #1738
I wonder if there is a need to consider how the various licenses work together in a project? While I think a lot will depend on how the project is built with regard to dependencies nonetheless the "project" grouping might be able to provide an overall scenario for how a given project with multiple licenses is licensed overall and which license applies to which software component.

[2020-06-24 14:29] l-x-u opened #1751 ""Folder id X does not have upload id Y or you do not have write access to the folder" error response from `/jobs` when the folder does have the upload and token does have write permissions."
### Description

Posting a request to `/jobs` with a valid upload id and folder id, where the folder in question contains the upload in question, using a read/write token from an admin account with full write access, results in the error message Folder id 62 does not have upload id 33 or you do not have write access to the folder.'

#### How to reproduce

Here's an outline of the sequence of reque

[2020-06-24 14:58] swinslow commented on #1738
Hi all, I have a wrapper framework around existing Fossology (3.6.0) that I use for project scanning, to try to accomplish something along these lines. The code is at https://github.com/swinslow/scaffold -- it is unfortunately lacking in documentation at the moment, mostly because I've just been using it myself and haven't written it up. This is probably overkill for many folks' use cases, but sha

[2020-06-24 16:40] NicolasToussaint commented on #1738
Many thanks for your detailed thoughts on this !

@deveaud-m Tags look good, I had never used them before, but it looks interesting to build on top of that.
I will need to investigate, as it requires a few steps to actually be able to use them... [more info here](https://github.com/fossology/fossology/wiki/Tagging) for the curious.

@jeremiah In my case, a project will often be composed of various

[2020-06-24 17:33] swinslow commented on #1738
@NicolasToussaint agreed -- if Fossology had a concept of "projects", I expect it would be very helpful.

I've found it particularly useful to be able to combine pulls from multiple repos into a single Fossology upload, so that I can do things like run bulk text matches, reuse prior results, export combined SPDX files, etc., at the "project" level. That has made the process faster for me when I'm

[2020-06-25 14:33] l-x-u commented on #1751
Update: upgraded fossology to `Version: [3.8.1], Branch: [heads/3.8.1], Commit: [#9103fa]`, this issue is still present.

[2020-06-25 15:19] l-x-u commented on #1751
Resolved by waiting for the 'Completed' status on /jobs?upload=X. Leaving the issue open as https://www.fossology.org/get-started/basic-rest-api-calls/ does not document the fact that an upload job needs to be waited for.

[2020-06-27 08:19] GMishx opened #1753 "Missing author table from recoding"
### Description

The PR #1651 introduced script to recode table data to `UTF-8`. The table `author` is missing from the list of tables to be recoded as it is populated by `copyright` agent.

https://github.com/fossology/fossology/blob/5e210308b5b87575e53eb89f19cd4935aceb42d8/install/db/dbmigrate_3.7-3.8.php#L37-L41

#### How to reproduce

Check the upgrade logs.

[2020-06-29 15:47] jeremiah commented on #1738
+1

I like the idea of a sort of "policy engine" across a diverse source code that may or may not become a binary but rather has another, maybe higher level, cohesion.

[2020-06-30 08:05] bharathkumar522 commented on #1562
Hi GMishx,
    curl -k -s -S -X POST http://localhost/repo/api/v1/uploads \
   -H "folderId: 8" \
   -H 'uploadDescription: created by REST' \
   -H 'public: public' -H 'Content-Type: multipart/form-data' \
   -F 'fileInput=@"/home/bharath/Documents/Software/zlib-1.2.0.9.tar.gz";type=application/octet-stream' \
   -H "Authorization: Bearer eyJ0eXAiOi..."

The above code works perfectly.
**when I t

[2020-06-30 08:12] NicolasToussaint commented on #1562
Hi @bharathkumar522 ,

You seem to have quote problem here.
The filename taken into account here is: `"/home/bharath/Documents/Software/zlib-1.2.0.9.tar.gz";type`

You could try
- `-F "fileInput=@/home/bharath/Documents/Software/zlib-1.2.0.9.tar.gz;type=application/octet-stream"`
- `-F "fileInput=@\"/home/bharath/Documents/Software/zlib-1.2.0.9.tar.gz\";type=application/octet-stream"`

[2020-06-30 09:18] bharathkumar522 commented on #1562
Hi @NicolasToussaint ,
          I tried both the ways you mentioned it doesn't work.

          I am getting an API error with python code.
          1. I converted the curl command with online tool(**https://onlinedevtools.in/curl**)
o/p  of the online tool is:

import requests
headers = {
    'folderId': '8',
    'uploadDescription': 'created by REST',
    'public': 'public',
    'Content-Type'

[2020-06-30 09:38] deveaud-m commented on #1562
@bharathkumar522 the `files` parameter should look like this:
[code]

See also the `requests` documentation: https://requests.readthedocs.io/en/master/user/quickstart/#post-a-multipart-encoded-file.

As an alternative you can also use the `fossology-python` wrapper: https://pypi.org/project/fossology/, it abstracts all the API calls for you!

[2020-07-01 10:00] bharathkumar522 commented on #1751
Hi @l-x-u ,
     I got the same issue today. Did you find any alternate ways to fix this?

[2020-07-01 11:18] bharathkumar522 commented on #1562
Thanks @deveaud-m.

Fossy wrapper simplified my work.

[2020-07-01 12:04] GMishx commented on #1750
Can you please provide the mimetype of the failed files?

And do these error failed your upload?

[2020-07-01 12:22] bharathkumar522 commented on #1562
HI @NicolasToussaint @deveaud-m,
            Is there any API available to get only copyrights, License found instead of report.

[2020-07-01 12:35] GMishx commented on #1737
Hello @JustinWonjaePark, the monk failure should be fixed by #1754

The ununpack errors can be ignored if the files failed are not very critical.

[2020-07-01 12:40] GMishx commented on #1562
Hello @bharathkumar522

You can export copyrights from the UI as of now. Just open the package, check the **Export List** option from the yellow bar, then head on to **Copyright List**.

There is an issue open #1716 to get this list from REST API as well.

[2020-07-01 13:04] deveaud-m commented on #1562
Regarding the licenses, they can be accessed via the API using `GET /api/v1/uploads/{id}/licenses`

See also the method [`upload_licenses` in fossology-python](https://fossology.github.io/fossology-python/uploads.html#fossology.uploads.Uploads.upload_licenses)

[2020-07-02 07:46] bharathkumar522 commented on #1562
Hi @GMishx, @deveaud-m,
           Please give your comments below.
            1. Through Rest API I successfully uploaded the .tar file to a folder.
            2. Triggered an Analysis job and getting the below error.
![image](https://user-images.githubusercontent.com/5959431/86330537-6fb3e200-bc65-11ea-98b5-d349fb8bbf92.png)
3. Upload id is also available please let me know how to give write a

[2020-07-02 07:52] GMishx commented on #1562
Hello @bharathkumar522,

Please check the issue https://github.com/fossology/fossology/issues/1751

Maybe you are not waiting for the upload to finish. You can try using the `wait` and `timeout` parameters for `schedule_jobs()` https://fossology.github.io/fossology-python/jobs.html#fossology.jobs.Jobs.schedule_jobs

[2020-07-02 08:14] DineshDevarajan opened #1755 "REST API : Ignorescm flag is ignoring the git files when ignorescm value is false"
### Description

When a zip file containing .git files is uploaded using REST API with  -H 'ignoreScm: false' it should contain .git files. Nevertheless we observed that the .git files are still ignored.

This flag is working when it is set as True or not passed.

Scenario | Ignore   scm | value | Expected   Behavior of .git folder | Observed Behavior
-- | -- | -- | -- | --
1 | Not Passed| 0 | pre

[2020-07-02 08:38] bharathkumar522 commented on #1220
Hi @robertvolkmann,
           I am running fossology without using docker, please let me know where can I find the log file

[2020-07-02 09:46] GMishx commented on #1220
@bharathkumar522 , the fossology.log can be found under `/var/log/fossology/fossology.log`. Also, you may find some logs related to fossology with Apache under `/var/log/apache/error.log` along with the per job logs under **Geeky Scan Details** (click on job number in recent job view).

[2020-07-02 09:49] bharathkumar522 commented on #1220
thanks @GMishx ...

[2020-07-02 11:02] #1755 closed

[2020-07-03 01:06] JustinWonjaePark commented on #1737
Hello @GMishx , thank you for the comment.
I also was suspecting ununpack for the reason.
The same error keep produced when I upload files over 500MB.

Anyway, I couldn't find exact reason why it fails so far but I needed to stop system to fail.
So, I tried version 3.8.1 (9103fa3) and it works properly so far.

I'll leave comment if I find more clues.

[2020-07-03 01:06] #1737 closed

[2020-07-03 07:58] chaithubk commented on #1750
These errors seems resolved now, and I got the spdx documents for all the above failed packages:
[code]

Am using meta-spdxscanner layer to generate the SPDX tag:value reports. Even manual upload worked fine on the portal. Don't know if there was any fix added now on the FOSSology side.

[2020-07-03 08:59] bharathkumar522 commented on #1562
Hi @deveaud-m,
         I tried the approach which you suggested and I am getting o/p as none. I checked with different scanner agents but output is empty.

--> LicenseAgent= foss.upload_licenses(foss.detail_upload(61),LicenseAgent.OJO,False)
print(LicenseAgent)

![image](https://user-images.githubusercontent.com/5959431/86451550-b292ba00-bd38-11ea-9d52-5abd308c43d9.png)

[2020-07-03 09:29] deveaud-m commented on #1562
Thanks for the feedback.

I didn't test the API call with all license agents... what do you get when using cURL:

* ``` /api/v1/uploads/{id}/licenses?agent=ojo```
* ``` /api/v1/uploads/{id}/licenses?agent=nomos```
* ``` /api/v1/uploads/{id}/licenses?agent=monk```
* ``` /api/v1/uploads/{id}/licenses?agent=ninka```

[2020-07-03 09:59] bharathkumar522 commented on #1562
I am getting the below error:
curl -k -s -S -X GET "http://172.17.0.1/repo/api/v1/uploads/61/licenses?agent=nomos" -H "Authorization: Bearer eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjE1OTM4ODczOTksIm5iZiI6MTU5MzcxNDYwMCwianRpIjoiTkRJdU13PT0iLCJzY29wZSI6IndyaXRlIn0.CAaFUK2hlM5_WWkkRkt6xkywvAEkf3JbZ_a6F7RbLP0"

![image](https://user-images.githubusercontent.com/5959431/86457723-bbd45480-bd41-11

[2020-07-03 10:17] bharathkumar522 commented on #1562
even I tried an alternate approach.
**Step 1:** I pushed the document through the rest API.

FOSS_URL = "http://172.17.0.1/repo"
FOSS_TOKEN = "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJleHAiOjE1OTM4ODczOTksIm5iZiI6MTU5MzcxNDYwMCwianRpIjoiTkRJdU13PT0iLCJzY29wZSI6IndyaXRlIn0.CAaFUK2hlM5_WWkkRkt6xkywvAEkf3JbZ_a6F7RbLP0"
username = "fossy"
foss = Fossology(FOSS_URL, FOSS_TOKEN, username)

**Step 2:**  U

[2020-07-03 10:27] deveaud-m commented on #1562
You need to make sure license scan jobs have been scheduled for your upload before getting the resulting licenses.

By default only the `unpack` agent is started if you didn't configure any other job by default. This can be done via the UI or via the REST API, see this code for example: https://github.com/fossology/fossology-python/blob/master/tests/test_base.py#L55

I think we should move this di

[2020-07-03 11:44] bharathkumar522 commented on #1543
Hi @deveaud-m,
        I am running fossology from Master source (i.e without docker). I want to configure PostgreSQL externally. Please share few inputs

[2020-07-07 11:55] bharathkumar522 commented on #1630
Hi @dineshr93,
           if you prepared any rough document. please share

[2020-07-09 06:02] GMishx commented on #1750
Thank you for the logs @chaithubk.

I tried uploading the `adwaita-icon-theme-3.34.3.tar.xz` from web UI on FOSSology (latest master, on Debian 10) and the package got unpacked without much trouble except two files:

[code]

Error says that the agent could not unpack the files while treating them as archives. However, the files will still exist in the upload (as binary blobs) and if you really do

[2020-07-09 06:08] GMishx commented on #1543
Hello @bharathkumar522,
There actually is a small catch (or bug) that the server running FOSSology should have a running PostgreSQL server, no matter where you are hosting your actual DB.

But, if you want to use external DB, you can edit the Db.conf file and update the parameters for it. Every script on FOSSology refers to the same file and thus every action done while installing or using FOSSolo

[2020-07-09 07:28] bharathkumar522 commented on #1543
Hello @GMishx ,
       I am running from deb package and the file path(/usr/local/etc/fossology/Db.conf)
| Existing | Updated|
| --- | --- |
| dbname=fossology; |dbname= testing; |
  host=localhost; | host=localhost; |
  |user=fossy; 	|user=user_1 ;|
|password=fossy;	|password=test123 ;|
 |client_encoding=utf8; | client_encoding=utf8 ;|

After the above changes i restarted the Apache server and op

[2020-07-09 08:01] #1749 closed

[2020-07-09 08:06] GMishx opened #1760 "Dropping support for Debian 8 and PHP5"
### Description

Since Debian 8 (Jessie) has reached it's EOL, we can remove it from the supported distro list.

Debian 8 was the only distro supported by FOSSology which was using PHP5 (PHP 7.4 is the latest release). Meaning that we can even drop support for PHP5 and put minimum requirement of PHP to 7.0 (because Ubuntu Xenial (16.04) still supports it).

Dropping PHP5 will allow upgrading of ma

[2020-07-09 08:09] GMishx commented on #1543
Can you please try checking the apache error log?

[2020-07-09 08:11] bharathkumar522 commented on #1543
In point 2 I attached a screenshot which generated last after changing the DB.

[2020-07-09 08:12] GMishx commented on #1543
That looks more like the access log than the error log. Can you please check on `/var/log/apache2/error.log`?

[2020-07-09 08:59] bharathkumar522 commented on #1543
Error msg:

[Thu Jul 09 13:05:26.632794 2020] [php7:error] [pid 4072] [client 127.0.0.1:46128] PHP Fatal error:  Uncaught Fossology\\Lib\\Exception: error executing: UPDATE users SET user_seed = $1 WHERE user_seed IS NULL; -- updateUserTable.randomizeEmptySeeds\n\nERROR:  relation "users" does not exist\nLINE 1: UPDATE users SET user_seed = $1 WHERE user_seed IS NULL;\n               ^ in /usr/loc

[2020-07-09 09:36] GMishx commented on #1543
After changing the database, you need to run `/usr/local/lib/fossology/fo-postinstall` to setup the database tables.

[2020-07-09 09:59] bharathkumar522 commented on #1543
Thanks a lot, @GMishx after running the above command it worked finally.

[2020-07-09 12:19] #1731 closed

[2020-07-09 12:19] #1753 closed

[2020-07-11 04:43] sjha2048 commented on #1760
Hi @GMishx , can I pick up this one?

[2020-07-13 12:39] GMishx commented on #1760
Hello @sjha2048, it would be great.
I will assign the issue to you then.

[2020-07-13 17:04] jb68 opened #1763 "Reuser errors after update to 3.8.1"
### Description

I am getting some errors after updating to 3.8.1 from 3.7. Some reuse jobs are failing but not all.

### Versions

* Last commit id on master: 3.8.1
* Operating System (lsb_release -a): built using official docker file

#### Job logs

[code]
Another log:
[code]

Any ideas what should I look at?

[2020-07-14 12:41] GMishx commented on #1255
Hello @arunazhakesan, does PR #1748 solves your purpose?

[2020-07-15 06:08] GMishx commented on #1763
Looks like some of the files are missing from your machine. Like from your logs, `uploadtree_pk` = `49627221` is missing it's pfile.
Or this is a directory?

Will it be possible for you to share the details from DB about that `uploadtree_pk` ?

[code]

[2020-07-16 14:38] l-x-u opened #1767 "Downloading unifiedreport from API results in unusable file, downloading from browser results in OK file"
### Description

I am triggering a report via API. When downloading that report via API when it is done, the file I receive is not the same as the file I get if I download the report from the Web UI. The file from the API is not a valid DOCX file, and appears empty when opened despite being several kb. I have attached the obtained files for the exact same report here in case some insight can be ga

[2020-07-16 18:19] chaithubk commented on #1750
Thank you @GMishx

[2020-07-16 18:19] #1750 closed

[2020-07-21 20:31] swinslow commented on #1136
Looping back on this old issue: I'm now on 3.8.1 and reportImport is not showing the errors I reported above. However, I am instead seeing a "No memory" error even when running a much smaller RDF file (about 14.4MB):

[code]

@mcjaeger or @GMishx, do you know if there is a way to increase the memory available to the reportImport agent so it does not fail here?

[2020-07-22 07:53] GMishx commented on #1763
Hello @jb68,
What I can understand here, you might have deleted some older upload and somehow the uploadtree id got assigned to a folder now.

The issue should be fixed by #1752.

For your system running on 3.8.1, you can try to manually delete the `clearing_decision` as:
[code]

[2020-07-23 16:54] jb68 commented on #1763
Thanks, I'll give it a try.

[2020-07-24 11:53] GMishx commented on #1751
Hello @l-x-u and @bharathkumar522, I've updated the documentation in Wiki: https://github.com/fossology/fossology/wiki/FOSSology-REST-API

Hope the process is more clear.

[2020-07-24 12:34] bharathkumar522 commented on #1751
Hi @GMishx,
             Thanks for the documentation.

[2020-07-25 19:01] darshank15 commented on #1489
I had good knowledge of Elastic search and its indexing , Kibana,

If you have idea about what data we need to index and what kind of indexing we want, Then I can write a script to push data into elasticserch and get better search functionality.
Also if interested from we can visualised those data on Kibana/ Grafana .

[2020-07-28 08:31] dineshr93 opened #1770 "Feature: Ability to cancell all the jobs of a single & multiple scan items"
### Description

Ability to cancel the all agents deployed for a single Scan or for all scan

#### Steps followed and expected result

Describe the steps followed by you and your expected results after following the steps.

#### Screenshots

1. Cancell all agents of a single scan
2. Calcell All agents of a multiple scan

![image](https://user-images.githubusercontent.com/4498415/88639715-b5d05a00-

[2020-07-28 13:29] darshank15 opened #1771 "Change fossdash code from python2 to python3"
### Description

As of now, fossdash script  `install/fossdash/fossdash-publish.py.in` was written in python2.
Now many pyhton2-libraries and python2 itself are going to deprecate in the future.
So needs to upgrade the code to python3.

[2020-07-28 13:45] darshank15 commented on #1771
Can someone assign this issue to me?

[2020-07-28 14:02] GMishx commented on #1771
Done :-)

[2020-07-28 20:44] sivaswami opened #1772 "Uncaught Exception: DateTimeZone: Unknown or Bad Timezone"
### Description

Please describe your issue in few words here.
Tried to upload a file using REST api and schedule an analysis. Hitting Timestamp issues.

#### How to reproduce
Describe the bug and list the steps you used when the issue occurred.
Invoked REST api through Postman / Curl to schedule a job for an uploaded entry.
#### Screenshots

If applicable, add screenshots to help explain your pro

[2020-07-29 05:34] DineshDevarajan commented on #1588
This issue is happening for us as well. Scheduler stops processing suddenly  and when we reload from web UI  (Admin -> Scheduler -> Select Operation :Reload -> Submit ) it starts to process the jobs.

[2020-07-29 21:39] #1772 closed

[2020-08-03 12:24] #1213 closed

[2020-08-05 09:30] lucian-balea opened #1775 "Option to highlight and count files with no license information"
### Description

Currently files with no license information are marked in grey and the status is overridden in green at aggregation. Additionally these files are not included in the counting.

Could an option be added at import to include such files in the counting and mark as not green at aggregation?
Note: changing manually the status of these files to "Do be discussed" provides expected result

[2020-08-06 06:24] darshank15 commented on #1771
Completed.
https://github.com/fossology/fossology/pull/1769/commits/6b0ffc947b2d7d3e1e70582c344fdd1a14f6c470

See squash git commit here. _refactor(fossdash script) : convert code from python2 to python3_

[2020-08-06 06:46] darshank15 opened #1776 "Refactoring of fossdash_publisher script"
### Description

Refactoring of fossdash_publisher script: Get all metric queries out of the script and put them into some configuration way.

[2020-08-06 13:17] DineshDevarajan opened #1777 "Uploaded file contents are missing in the License Browser and as well as in the Files Repository."
### Description

Uploaded file contents are missing in the License Browser and as well as in the Files Repository.

In License Browser it shows the below error :

**File contents are not available in the repository.
The File's Gold file is not available in the repository.**

I uploaded a file last month and when i checked it recently the contents are missing.

#### How to reproduce

Unable to find

[2020-08-06 13:41] darshank15 commented on #1776
Link to commit:  https://github.com/fossology/fossology/pull/1769/commits/aed5a17b8e2a99fcf14fa2b6b8830acfc55fdaed

[2020-08-12 09:50] shaheemazmalmmd opened #1778 "Browse page not getting loaded in IE, PHP fatal error for dateTimeZone"
### Description

Browse page is not getting loaded because of PHP fatal in internet explorer.

#### How to reproduce

* Login to fossology server from internet explorer.

### Versions

* Last master:

### Apache logs

[code]

[2020-08-14 08:45] mcjaeger opened #1779 "Archive15 is offline"
### Description

Please describe your issue in few words here.

#### How to reproduce

Describe the bug and list the steps you used when the issue occurred.

#### Screenshots

If applicable, add screenshots to help explain your problem.

### Versions

* Last commit id on master:
* Operating System (lsb_release -a):

### Logs

Any logs (if any) generated in

#### FOSSology logs

Logs generated unde

[2020-08-17 10:25] NicolasToussaint commented on #1379
Another option would be to convert the produced SPDX file to Excel using the API of an instance of the [spdx-online-tools](https://github.com/spdx/spdx-online-tools/blob/master/README.md#how-to-use-api) service.

This online tool can be tested here: https://spdxtools.sourceauditor.com/
I guess we should let the user configure the URL/Login/Password of a local instance rather rather than point to t

[2020-08-19 10:04] GMishx commented on #1775
Hello @lucian-balea ,

Does the feature provided in #1713 be helpful for your case? (Exporting copyright list with filter "No license")

[2020-08-19 10:07] GMishx commented on #1763
Hello @jb68 , did it solve your issue?

[2020-08-19 10:09] GMishx commented on #1751
Hello @l-x-u , hope the documentation is more friendly now. If the process it working for you, would you be okay to close the issue?

[2020-08-19 10:11] GMishx commented on #1767
Hello @l-x-u , can you please provide us with the API calls?

[2020-08-19 10:12] GMishx commented on #1770
Can you please describe your use case with such feature?

[2020-08-19 14:14] l-x-u commented on #1751
Hello again -- just double checking before I close it, are there plans to update this page on the website? https://www.fossology.org/get-started/basic-rest-api-calls/

[2020-08-19 14:19] l-x-u commented on #1767
Hello,

Here is the relevant JavaScript code performing the API calls with Axios:

[code]

[2020-08-19 14:26] NicolasToussaint commented on #1775
@lucian-balea, the red light means "there is license information in that file that has not been reviewed", not "there is a problem with the license of that file".

A few ideas:
1. Maybe we could have another colour then green, for the "No license found" status, and the folders that contain at least 1 such file. Maybe blue ?
1. What you need is close to a REUSE validation, see #1592
1. On the same

[2020-08-19 16:30] wla80 opened #1781 "Looking for pre-made risk level profiles"
Is there any pre-made risk level profile in fossology for open source projects? The default value of risk level is 0 for all licenses in fossology and the tool reported > 50 types of license in our open source project. It's not an easy task to go over these types of license and to assign the best suitable risk level

[2020-08-19 17:05] wla80 opened #1782 "Reuser agent always fails at some point"
I trigger the reuser agent using REST API:

        "reuse": {
          "reuse_upload": <reuse_upload_pk>,
          "reuse_group": <reuse_group_pk>,
          "reuse_main": true,
          "reuse_enhanced": true
        }

The reuser agent always failed after it scanned through a certain amount of files.

Logs from the docker container:
[code]

Is there a way to capture useful debug logs to unde

[2020-08-20 07:10] bharathkumar522 commented on #1751
Hi @GMishx,
             Is there any way I can get the info about licenses i.e,
![image](https://user-images.githubusercontent.com/5959431/90728289-45d08080-e2e2-11ea-85e6-d27ee670a7de.png)

[2020-08-20 09:55] GMishx commented on #1767
I am not very good with JS but the code looks appropriate. However I have 2 concerns:
1. Can you try changing the `Accept` header?
1. Are you sure the `reportContentsResponse.data` does not re-encode the data?

I just tried the same API with postman and it generated a perfectly valid docx file.

[2020-08-20 12:34] GMishx commented on #1781
The risk levels are organization specific. So it makes no sense providing a standard list.

For example, GPL is a serious problem but for other it is not.

[2020-08-20 12:35] GMishx commented on #1782
Can you please try to check the job logs from "Geeky scan details"?

[2020-08-20 12:38] GMishx commented on #1751
@l-x-u , we will have to update the same as the document from Wiki https://github.com/fossology/fossology/wiki/FOSSology-REST-API

\cc @mcjaeger

[2020-08-20 12:45] GMishx commented on #1751
Hello @bharathkumar522 , I don't believe FOSSology stores any such fields mentioned by you.

However, you can create a new feature request for license management from REST API.

[2020-08-20 14:44] l-x-u commented on #1767
Hi, thanks for the input! What should I change the `Accept` header to be?

[2020-08-20 16:17] wla80 commented on #1782
Hi @GMishx , I don't see any logs from "Geeky scan details" as well

![Screenshot from 2020-08-20 09-14-57](https://user-images.githubusercontent.com/13490408/90797641-bfa64100-e2c5-11ea-8af9-abce36b34841.png)

[2020-08-21 13:04] BerniStephens opened #1785 "Monk agent incorrectly identifies WebM for BSD-3-Clause license"
### Description

When using the FOSSology scanning tool Version: [3.3.0] on the IP http://download.savannah.nongnu.org/releases/lwip/lwip-2.1.0.zip I noted that the BSD-3-Clause license was always correctly identified by the Nomos agent, however, the Monk agent identifies the license as WebM.

#### How to reproduce

Download the IP http://download.savannah.nongnu.org/releases/lwip/lwip-2.1.0.zip a

[2020-08-23 14:18] darshank15 opened #1786 "Create and show Error,Fatal and warning log counter on Fossdash-Dashboard"
### Description

- Include code to maintain a counter for a number of **ERROR**, **FATAL**, and **WARNING** of fossology.
- Need to figure out the central logging mechanism.
- Fetch these data from our fossdash publisher script and push it into influxDB.
- Creates these counter Stats charts on the grafana dashboard.

[2020-08-24 15:04] NicolasToussaint commented on #1771
All good, closing

[2020-08-24 15:04] #1771 closed

[2020-08-24 15:05] NicolasToussaint commented on #1776
All good, closing

[2020-08-24 15:05] #1776 closed

[2020-08-24 15:11] darshank15 commented on #1786
++ @NicolasToussaint @GMishx,

[2020-08-24 16:12] NicolasToussaint commented on #1786
@darshank15, two separate remarks, not anwsering your auqtion, I know :+1:

1. Not sure how you were seeing things, but I think it would make more sense to separate the error counts from the scheduler and PHP (and maybe database?)
They could then be aggregated in Grafana to get a consolidated view.

1.  Somehow the graph show a full green bar when the value is zero... couldn't find why :-/
![image

[2020-08-24 16:40] NicolasToussaint commented on #1786
Looking at the source code, I'm not sure anymore if tracking the error count (this way at least) is worth the development effort, deep changes in the scheduler and particularly nomos source code, and the impact on performance (writing to an extra file at every log)...

Maybe error detection, and self-healing is a topic that should be tackled more generally within Fossology, and show data on the ex

[2020-08-24 18:14] wla80 opened #1787 "Looking for a REST API to kill (or stop) the job"
For example, after I triggered decider & reuser job together through REST API, if the reuser agent was failed, the decider agent which depended on reuser would stay at "pending" state forever. Thus, is there an API to force the status for a specific job

[2020-08-24 18:57] wla80 commented on #1781
Thanks @GMishx , I acknowledge such decision and if there is any risk-level template for any open (or closed) source project, could you point me to those. This would be a good reference for my team to define & decide the risk level for the licenses reported by fossology

[2020-08-26 09:27] bharathkumar522 commented on #1562
Hi @GMishx, @deveaud-m,
            I installed fossology in Linux VM and it got suddenly crashed so I installed everything freshly from source code and the observations are:
            1. I am seeing only one scanner and screenshot attached below.
             2. I use to communicate fossology through rest API(pip install fossology) but today class function names are changed and I updated the co

[2020-08-27 16:09] wla80 commented on #1782
Hi @GMishx , do you have any update on this?

[2020-08-28 07:24] parasgoyal12 commented on #1590
Hey is this issue open? I would love to contribute to it.

[2020-08-28 18:29] arunazhakesan commented on #1255
As far as I understood PR #1748, I guess it solves the purpose.

[2020-09-01 12:04] GMishx commented on #1255
Thank you @arunazhakesan , I'll tag the issue in the PR then.

[2020-09-01 12:06] GMishx commented on #1590
Hello @parasgoyal12 , Yes the issue is still open. Half of it is solved in #1735 as unit test cases. However, the functional/integration test cases are still pending.

[2020-09-01 12:09] GMishx commented on #1782
Hello @wla80 , unfortunately I do not have updates on the issue as I am not able to reproduce it.

Do you any pattern for this issue? Like it occurs only on specific package?
Are you running fossology on Docker?

[2020-09-01 12:13] DineshDevarajan commented on #1778
Hi @shaheemazmalmmd  i tried to use the fossology/fossology:latest image and tested this issue and browse page is working fine . Please let me know how are you testing this. is it the something like  [Install from source](https://github.com/fossology/fossology/wiki/Install-from-Source) ?

[2020-09-01 12:49] NicolasToussaint opened #1795 "ununpack agent with eot and woff files: "Can not open the file as archive""
# Description

When uploading `*.eot` and `*.woff` files, the ununpack agent shows error logs. (see below)

Example zip file (actual files taken from this [example project](https://github.com/gabrielecirulli/2048)): [ununpack-bug.zip](https://github.com/fossology/fossology/files/5156205/ununpack-bug.zip)

The jobs completes nevertheless, and has a green status in the job list page.

Looks a bit li

[2020-09-01 17:55] wla80 commented on #1782
Hi @GMishx , yes. I ran fossology in a local Docker container that connects to a remote db and I used a script to trigger the scan by using

`02:28:37 ++ curl -k -s -S -X POST http://localhost:38081/repo/api/v1/jobs -H 'folderId: 1206' -H 'uploadId: 1917' -H 'Authorization: Bearer xx' -H 'Content-Type: application/json' --data '{
02:28:37           "analysis": {
02:28:37           "bucket": true,

[2020-09-03 14:05] rlintu commented on #1785
As a workaround you can go to the license admin and open WebM license. Change `Detector Type` from `Reference License` to `Nomos`. After that monk does not recognize WebM license any more.

[2020-09-03 14:30] rlintu opened #1798 "License Browser view update extremely slow in 3.8.1"
### Description

License Browser view is extremely slow for large packages (~100k files) in 3.8.1. The slowness is visible in a production scale database where there are millions of items and clearing_decisions.

#### How to reproduce

Open the large package using the web UI.

#### Possible cause of the problem

 I identified the problem in `www/ui/async/AjaxExplorer.php` file. When I used 3.5.0 v

[2020-09-03 18:44] parasgoyal12 commented on #1590
Thanks @GMishx, I would request you to help me start, since I am new in this project and do not completely understand the codebase.

[2020-09-09 08:49] NicolasToussaint commented on #1653
Well it looks like the problem healed itself... the `.` has been added to the list of supported characters for masked variables.

See: https://gitlab.com/gitlab-org/gitlab/-/issues/37469

(although [the doc](https://gitlab.forge.orange-labs.fr/help/ci/variables/README#mask-a-custom-variable) is not up-to-date yet)

[2020-09-09 08:49] #1653 closed

[2020-09-09 13:01] mcjaeger opened #1799 "IMprove filter in FOSSology browsing list view"
For the fossology browsing list view:
* include sub folders
* allow not only for filename but also for description

[2020-09-09 13:44] rlintu commented on #1798
When I checked the database using `SELECT pid, datname, usename, query FROM pg_stat_activity;` command then very often the following query was on execution:

[code]

[2020-09-10 06:16] GMishx commented on #1798
Hello @rlintu ,

We also observed the issue. I am trying to fix it in PR #1576

[2020-09-11 08:29] SrikanthShyamanur opened #1800 "Rest end point {{baseUrl}}/jobs?upload=16 providing wrong information"
### Description

Rest end point {{baseUrl}}/jobs?upload=16 providing wrong information

#### How to reproduce

- Upload a vcs / file
- perform can
- perform delete of upload
when the upload is in process
- Query for job status  {{baseUrl}}/jobs?upload=16

It should provide proper information of each step, but it will override the status of each step with the latest step status.Check the JSON below

[2020-09-12 17:20] SrikanthShyamanur commented on #1800
More example:

Below its not clear which step has failed, but it is reflecting for all.

[code]

[2020-09-14 06:23] lakshmibhavani1 opened #1801 "REST-API: reuse component expects group id. Is there any endpoint to get group id from group name?"
### Description

In rest-api, the reuse component has a mandatory parameter reuse_group of type integer which expects group id. But there is no endpoint available to get a group id from the group name.

#### How to reproduce
Most of the endpoints have group parameter that expects group name of type string. But for the reuse component which has parameter reuse_group, expects group id of type intege

[2020-09-18 09:38] szrusko commented on #1076
any solution for this problem?

[2020-09-19 14:23] szrusko opened #1803 "wget_agent Fatal error git clone"
Hi,

I have a problem with "upload from version control system" option. So I have installed fossology from docker and source too, but in both ways I got the same error;

[code]

I have tried `git config --global http.sslVerify false `but it didn't worked.

Pls help.
2020-09-19 14:08:19 wget_agent [0] :: JOB[37].wget_agent[202.localhost]: agent failed with error code 23
2020-09-19 14:08:19 wget_age

[2020-09-21 07:48] mcjaeger commented on #1803
From the log output, you seem to attempt access to `git clone https://asdfsdfasdfasdf.git`

Are you is that a working URL?

[2020-09-21 07:50] mcjaeger commented on #1795
AFAIK, there is no true type (*.eot) lib on Linux that is why it is not working maybe. #915 is there too. for *.woff files I do not know.

[2020-09-21 08:04] C1ph3R-s commented on #1803
It my company git repo servers, so I do not want to publish that. It is just an example.

[2020-09-21 10:35] ag4ums commented on #1803
hello @C1ph3R-s , can you please git clone this `git clone -v https://asdffasdfasdfasdfads.git` on terminal using verbose to check for more detailed reason for failure.

[2020-09-21 10:56] C1ph3R-s commented on #1803
Hi @ag4ums , Sure but in this case as I have mentioned in my description, I have set up the g`it config --global http.sslVerify false` in my local machine, and in the docker image too so that is why I not understand this type of problem in the wget_agent.

`root@ubunu2004:~# git clone git clone -v https://asdffasdfasdfasdfads.git
Cloning into 'xyxyxy'...
remote: Counting objects: 252, done.
remote

[2020-09-22 06:21] GMishx commented on #1777
Hello @DineshDevarajan, I tried to follow the mentioned steps in **How to reproduce** on FOSSology latest master but it seems to be working for me. Maybe the issue was fixed as there were some changes done in delagent after 3.7.0 release.
<br />
<br />

All files will be removed from repository iff the file was referred only by the upload being deleted. For example if two uploads share some common

[2020-09-22 11:34] DineshDevarajan opened #1805 "REST API: Jobs end point says job status as queued when ununpack is failed"
### Description

Uploaded a file into fossology, the ununpack failed and the adj2nest job is still in the queued state.

[code]
REST API end point /jobs/id -> provides status as Queued
[code]
### Versions

* Last commit id on master: 650233
* Using docker image

**2 issues :**
1. when ununpack fails the job adjnest should also be failed or cancelled.
2. REST API : Job Controller -> getJobStatus is

[2020-09-23 09:53] ag4ums commented on #1803
Hello @C1ph3R-s even I found that over ssl its not working.

[2020-09-23 10:51] GMishx commented on #1767
Sorry for coming to it late, your comment got lost in my emails.

There is no `Accept` header required from FOSSology side and any value should not cause any issues. But I am not sure how JS handles it. Maybe changing it to something like `application/zip` to make sure it remains binary.

If I try to do the calls on Postman or curl or using the [fossology-python](https://github.com/fossology/fosso

[2020-09-23 10:53] GMishx commented on #1787
Currently the REST API does not have any such endpoint but definitely there can be a `DELETE` endpoint for it.

[2020-09-23 10:59] C1ph3R-s commented on #1803
@ag4ums Thanks, do you have any workaround for it?

[2020-09-23 11:07] GMishx commented on #1781
I am unaware of any such reference which I can forward to you. It actually depends on how you treat your licenses.

[2020-09-23 11:28] GMishx commented on #1782
@wla80 , unfortunately I could not reproduce the issue. Will it be possible for you to share the upload which is facing the failure?

[2020-09-23 11:37] GMishx commented on #1590
The idea what I have on my mind is to reuse some of the test cases already written for other agents and setup a test database.
Then with the help of `guzzle`, write a REST client which makes calls to the REST endpoints.

You can have a look on `agent_test` folders of some agents to get help in recreating a test database. Also, test cases from https://github.com/fossology/fossology-python/ can be u

[2020-09-23 11:50] GMishx commented on #1801
Currently there is no such endpoint. However, it would be better to replace the group id with group name in the request as it was done with #1568

[2020-09-23 12:04] GMishx commented on #1805
Thanks for pointing that out. Failure should be evaluated before others.
Also, can this change fix issue pointed in #1800 ?

[2020-09-24 07:19] sschuberth commented on #1603
And YAML please 😁

[2020-09-24 12:54] NicolasToussaint opened #1806 "Improve Keywords detection feature"
### Description

The Keywords detection works well, and could be of further if it were possible to associate a configured text to each keyword, of group of keywords. This text would be displayed next to the detected keywords in the GUI page.

The idea is to hint a the proper actions to be undertaken by the auditor / project when a given keyword is found.

#### Steps followed and expected result

1

[2020-09-24 13:01] NicolasToussaint commented on #1806
Additionally, we could at the same time implement a web UI based configuration of the complete Keyword feature, as deiscussed here: https://github.com/fossology/fossology/issues/1395#issuecomment-508302960

[2020-09-27 12:05] HeroicHitesh commented on #1715
@GMishx I guess this issue is fixed in #1713 so it can be closed to avoid any confusion.

[2020-09-27 12:07] HeroicHitesh commented on #1716
@GMishx I guess we can close this too as it's resolved in #1713

[2020-09-27 12:09] HeroicHitesh commented on #1595
@GMishx This issue seems to be fixed in #1560 and hence can be closed to avoid confusion.

[2020-09-28 07:49] GMishx commented on #1798
hello @rlintu ,

We just merged #1576 with some improvements. Can you please check if it is working better for you with the latest master?

[2020-09-28 10:43] GMishx commented on #1595
Hello @HeroicHitesh , I just tested the issue and it still exists in master branch.

[2020-09-28 10:45] GMishx commented on #1716
@HeroicHitesh , the issue to provide a REST API endpoint which can generate similar results as the UI merged by #1713 and it is still not done.

[2020-09-28 10:47] GMishx commented on #1715
@HeroicHitesh the feature is still not there in master, neither a PR exists. The issue thus still exists.

[2020-09-29 04:16] DineshDevarajan commented on #1805
@GMishx  Incase of Issue #1800 , can we delete a file while upload is in progress it wont appear in deletion list. Please let me know how to test issue #1800 . Tested by moving the failure check to first and this bug #1805 works as expected and gives the correct status.

[2020-09-29 07:39] GMishx commented on #1803
From the git manual `--global` is restricted to the user (root for you) and thus it might not work for `fossy` user. Can you please try using `git config --system http.sslVerify false` so that the SSL verification gets turned off for whole system?

[2020-09-29 07:46] GMishx commented on #1803
**Note:** If someone wants to work on this, there is a `--config` flag available for [git clone](https://www.git-scm.com/docs/git-clone#Documentation/git-clone.txt--cltkeygtltvaluegt) which can be used to set `http.sslVerify=false` from a checkbox in UI.

[2020-09-30 06:24] n-moria12 commented on #1222
I am Neha and I want to contribute but don't know where to start  .can u please direct me

[2020-09-30 07:43] GMishx commented on #1222
Hello @n-moria12, The idea here is to enable more logging from `wget_agent` agent by removing `>/dev/null`.

What I can suggest here is to check the code base of the agent and make use of verbose flag (which sets `agent_verbose`). And if the verbose is set, remove `>/dev/null` from the command before running it. Later you can figure out how to send the `-v` flag from scheduler.

[2020-09-30 08:39] C1ph3R-s commented on #1803
Yes the problem is the ssl.
I have solved this issue temporarily with git config --system http.sslVerify false setup and after that I rebuild the docker image.
So the problem is, you cannot clone the git without https, so the solution could be to the Dockerfile finetune.
If you could add https apache setup into the Dockerfile, it will probably solve the problem.

[2020-09-30 09:06] n-moria12 commented on #1222
Thank you. I will try

[2020-09-30 09:29] GMishx commented on #1803
So the idea is to install the CA certificates while building docker image or to configure apache to have SSL (serving from port 443)?

[2020-09-30 09:34] C1ph3R-s commented on #1803
Yes exactly.

[2020-09-30 12:43] GMishx commented on #1588
Hello @jb68 and @DineshDevarajan , can you please confirm if logrotate is enabled on your installations for fossology? If yes then PR #1808 should solve the issue.

[2020-09-30 19:59] mcjaeger commented on #1076
In case it is a similar cause as with git - the used certificate is not trusted by your system - this stack overflow article could help:

https://stackoverflow.com/questions/31544633/how-to-trust-an-expired-ssl-certificate-with-subversion

[2020-09-30 21:36] jb68 commented on #1701
We've been hit by this bug again.
We ramped our setup a bit, to start a scheduler on the host that we do the build so in this way we cut on upload files + we delegate the heavy work on a different host.
Now the table with issue is license_ref

[2020-10-01 08:37] GMishx commented on #852
Would PR #1804 will be helpful here?

[2020-10-01 10:01] GMishx commented on #1701
Hello @jb68 I think PR #1705 already solved the issue for most of the tables. Will do a review of the schema again and update here.

[2020-10-01 10:10] GMishx commented on #1587
The GSoC 2020 was a success. Kudos to @darshank15, @hastagAB and @Kaushl2208 on completing their projects under GSoC program.
And a huge thanks to @NicolasToussaint, @ag4ums, @shaheemazmalmmd, @sandipbhuyan, @amanjain97, @mcjaeger and @GMishx for mentoring the students and giving your time.

PRs from the GSoC 2020 can be found with [GOSC-20](https://github.com/fossology/fossology/pulls?q=is%3Apr+l

[2020-10-01 10:10] #1587 closed

[2020-10-01 10:37] GMishx commented on #1803
I am not very clear how adding SSL certificate to apache will help in `git clone`.

[2020-10-02 22:28] wla80 opened #1809 "Fatal error during license_ref db init: tables can have at most 1600 columns"
Our team reported similar error in https://github.com/fossology/fossology/issues/1701 before. We hosted the fossology server and the db in a remote server and each time a fossology scan is required, we run a local fossology container (from our workspace) that connects to the fossology db in the remote server.

`fossology/lib/php/Db/Driver/Postgres.php on line 79
[2020-09-30 19:24:08] /usr/local/sh

[2020-10-05 05:52] GMishx commented on #1809
Hello @wla80, can you please let us more about:
1. Which version of PostgreSQL you are running?
1. Sharing the output of following query:
[code]

[2020-10-06 22:43] wla80 commented on #1809
Hi @GMishx , thanks for following up.
1. `postgres (PostgreSQL) 10.14 (Debian 10.14-1.pgdg90+1)`
2.
[output.pdf](https://github.com/fossology/fossology/files/5337273/output.pdf)

[2020-10-07 05:04] GMishx commented on #1809
Thanks for providing the output. After matching the output you have shared with what I have with me, I noticed two things:

Output from my machine:
![image](https://user-images.githubusercontent.com/18077542/95287758-62ba1680-0884-11eb-8b01-a1ce2333604a.png)

Output shared:
![Screenshot_20201007_100549](https://user-images.githubusercontent.com/18077542/95288215-67cb9580-0885-11eb-9b36-47a30225f05

[2020-10-07 14:54] NicolasToussaint opened #1813 "Copyright agent: many false positives with 'é' characters"
### Description

I'd like to share a fix to reduce many false positives, but introduces a light risk.

The Copyright agent scans the data byte by byte to detect words as well as specific '©' (followed by space) characters.
This, without knowing if it's scanning UTF8, Unicode, or whatever.

The code is here: https://github.com/fossology/fossology/blob/b7a846ca391b091407b8173ec0f74a1dbab5bc46/src/co

[2020-10-07 16:48] wla80 commented on #1809
Hi @GMishx ,

I don't think we intentionally (or need to) modify such data in the db and I also confirm we didn't modify `src/www/ui/core-schema.dat`. Commit messages of this file

[code]

Nevertheless, how can we recover it in this case

[2020-10-14 08:29] GMishx commented on #1805
You can schedule the delagent while other agents are in progress but it will not be deleted immediately. Delagent is set to run in mutually exclusive mode meaning it will wait for other agents to finish first.

You can perform following operations to reproduce it:
1. Upload a package.
1. Schedule agents on the upload.
1. Kill/stop one of the agent to simulate failure (I choose softwareHeritage as

[2020-10-14 16:50] wla80 opened #1818 "Random deadlock is detected when multiple docker containers are launched simultaneously"
psql version: `postgres (PostgreSQL) 10.14 (Debian 10.14-1.pgdg90+1)`
fossology version: `3.8.1`

This issue happens randomly in our environment when we launch multiple fossology docker containers that connect to the same remote psql db

`19:09:27 PHP Warning:  pg_query(): Query failed: ERROR:  deadlock detected
19:09:27 DETAIL:  Process 649 waits for AccessExclusiveLock on relation 1550556 of dat

[2020-10-15 12:54] deveaud-m commented on #1767
@GMishx not really related to this issue but I can't get a zipped report even when using the header `Accept: application/zip`.

Whatever format I use, I always get the uncompressed report as output, even when setting the `Accept` header.

![fossy-zip-report](https://user-images.githubusercontent.com/11165188/96128949-42c6ca80-0ef6-11eb-8506-0a9fc03d9045.png)

I'm testing with the latest container

[2020-10-16 08:28] GMishx commented on #1767
The reports are always sent uncompressed from FOSSology API. I just suggested `application/zip` as docx file are essentially bunch of compressed files so JavaScript might treat it differently.
However, I see now the `Content-Type` header is missing in the response.

[2020-10-16 09:01] deveaud-m commented on #1767
Thanks @GMishx for the quick response, I interpreted the [OpanAPI specification](https://github.com/fossology/fossology/blob/master/src/www/ui/api/documentation/openapi.yaml#L897) as if Fossology was able to send compressed reports. `fossology-python` tests somehow used to work before, now they fail, I'll make an update.

[2020-10-16 11:49] GMishx commented on #1767
Oh, sorry for the confusion. Should we change it to something like `application/octet-stream`?

[2020-10-16 12:21] deveaud-m commented on #1767
No problem, actually I think the discussion is worth taking place :+1:

Looking at the HTTP standard, it looks like if the `Accept` header is empty, all kind of data format is accepted: https://www.w3.org/Protocols/rfc2616/rfc2616-sec14.html#sec14.1.

I would propose following steps:
* for now, set the generic clients to accept all formats in the HTTP request by default (no `Accept` header)
* the

[2020-10-16 15:41] Markus-Wild opened #1820 "Nomos Scheduler is very slow and blocks other agents"
### Description

While Scanning an Upload with more then 10000 files, nomos gets stuck with an ETA of >3 h. While this happens, no more Uploads are getting scheduled.  Very often the scheduler stops working at all and has to be restarted again manually.

#### How to reproduce

Uploading the Package will reproduce the scenario.

#### Screenshots
scheduler:43 revision:cc0b39 daemon:0 jobs:23 log:/de

[2020-10-20 15:04] DineshDevarajan commented on #1800
@GMishx
RCA:
Below issue happens when upload id is passed in /jobs endpoint  (http://localhost/repo/api/v1/jobs?upload=id)

getFilteredResults -> updateEtaAndStatus :

1. getFilteredResults  :  All the job's of the upload is taken and updateEtaAndStatus is called with each job object
2. But in updateEtaAndStatus function while getting the jobqueue value using getAllJobStatus() always upload id is

[2020-10-21 04:08] DineshDevarajan commented on #1800
@GMishx I tried to implement a function in JobDao.php to get the jq_job_fk or job id as input and return the jq_pk and jq_end_bits. After which i was able to successfully get the status as below. Please let me know if the approach is fine so i will create a PR to fix #1800

[
    {
        "id": 8,
        "name": "atarashi-master.zip",
        "queueDate": "2020-10-16 06:43:21.956237+00",

[2020-10-21 04:33] SrikanthShyamanur commented on #1800
In the above test result , both has same name **atarashi-master.zip** , one is **completed** and other is **Failed** - its confusing / or I am reading it wrong ? or is it an another issue ?

{
"id": 8,
**"name": "atarashi-master.zip",**
"queueDate": "2020-10-16 06:43:21.956237+00",
"uploadId": "8",
"userId": "3",
"groupId": "4",
"eta": 0,
"status": "Completed"
},
{
"id": 9,
**"name": "atarashi-mas

[2020-10-21 04:50] DineshDevarajan commented on #1800
@SrikanthShyamanur I was trying with the upload from file which is why id =8 and id =9 are with same files.
id = 8  is for unpacking the atarashi-master.zip and id=9 is for nomos and id=10 is for deleting the same.

When we use upload from VCS we will the name of job as wget. correct me if i am wrong @GMishx

[2020-10-21 05:17] GMishx commented on #1800
Actually the `/jobs` endpoint is simplified and needs to be enhanced. So right now, if you upload and package, start a scan and schedule nomos, monk, and ojo agents, download a report, you end up with 3 jobs. The upload part becomes a job with ununpack and adj2nest agents in it. The scan becomes the second job with 3 agents running inside it. And the report generation becomes the third job with th

[2020-10-21 05:19] GMishx commented on #1591
Should be fixed by #1812

[2020-10-21 07:01] SrikanthShyamanur commented on #1800
@DineshDevarajan

Consider below upload

![image](https://user-images.githubusercontent.com/58924156/96684424-2c5abc00-1399-11eb-8851-045db59372f8.png)

By seeing above screen shoot we can conclude. (Lets not consider spdx2 generation, Job/Dependency: 1860)

1. Upload is successful
2. Agents analysis has failed (as monk has failed )

Same when queried from _{{baseUrl}}/jobs?upload=266_ will get be

[2020-10-22 07:20] DineshDevarajan commented on #1800
@GMishx  I will enhance the jobs endpoint with job queue details as per the  json provided . Can we create a Feature request for this ?
So if we enhance the /jobs end point response , the fix for #1805 PR = #1812  is not needed ?

[2020-10-22 07:32] GMishx commented on #1800
That will be great! Can you please use #1301 as the feature request instead?
And please feel free to enhance the JSON data structure. I just wrote whatever came to my mind at the moment.
For PR #1812, maybe we can have it and merge it after 3.9.0 release and if your new PR is ready before it, then we can close #1812 and merge the new PR instead. How does that sound?

[2020-10-22 07:55] DineshDevarajan commented on #1800
That Sounds Great . I will start to work on enhancing the JSON response for /jobs end point.

[2020-10-22 08:37] GMishx commented on #1767
`Accept` header will be slightly difficult to achieve but yes, I will work on `Content-Type` to send correct headers from the server.

[2020-10-23 09:27] sebdubail opened #1823 "Ubuntu 20.04 not supported by fo-installdeps script"
### Description

Hi,

as requested in the "Install from sources" wiki, I'm reporting here that fo-installdeps script does not support my Ubuntu distro. (which is 20.04).

https://github.com/fossology/fossology/wiki/Install-from-Source

I guess there's no other information needed here :-)

#### How to reproduce

Run fo-installdeps on a Ubuntu 20.04 distro.

#### Screenshots

If applicable, add scre

[2020-10-26 17:42] wla80 commented on #1809
Hi @GMishx , I looked into fossology src code and for https://github.com/fossology/fossology/pull/1705, should licenseRef.json also be updated accordingly?

[2020-10-27 05:51] GMishx commented on #1823
Focal support is planned as part of #1760

[2020-10-27 11:09] GMishx commented on #1809
Hello, as per the logs shared, the issue is with schema mismatch which is stored in `src/www/ui/core-schema.dat`. The `licenseRef.json` just stores the license relate information (data). So it should not be issue with that.

However, I tried with PostgreSQL 10.4, 11, 12 and 13 but couldn't replicate the issue. I am not sure what am I missing here. Also the issue #1818 reported by you is because of

[2020-10-29 00:12] jjhhong opened #1826 "Does Fossology support Raspberry Pi?"
### Description

I am using the Linux raspberrypi 5.4.72-v7 version.

It seems that docker or vagrant only supports Debian.
Can I use the tool on the Raspberry Pi?

#### Steps followed and expected result

Do you have any plans to distribute tools for Raspberry Pi, if not possible?

#### Screenshots

If applicable, add screenshots to help explain your problem.

[2020-10-29 08:00] NicolasToussaint commented on #1826
Hi @jjhhong,

Why not run Fossology in Docker containers? That will work straight away.

[2020-10-30 20:43] wla80 commented on #1809
Hi @GMishx , for our fossology scan architecture, the fossology webserver & psql database are hosted in the same machine (point A) on a Azure cloud server, and each time we need to scan something, there might be 3 - 4 simultaneously scans happening in a separate machine (point B e.g.) and each scan is launched in separate local docker containers within the same machine created from `docker run -p

[2020-11-02 09:50] ag4ums commented on #1826
hi @jjhhong , we don't support RaspberryPi officially, but if you can install fossology on RaspberryPi (debian) and it works fine.

[2020-11-02 09:58] jjhhong commented on #1826
Thank you so much for your answer.
I want to install fossology tool in RaspberryPi.
And Then, Send it to 3rd Party(support IT Infra).

I will receive the fossology result report.

Anyway, Try to install in debian guide.

Thanks.

[2020-11-03 18:46] #1823 closed

[2020-11-04 23:00] sebdubail commented on #1823
Thanks a lot !

[2020-11-16 05:51] ananthmallarapu commented on #1716
@GMishx , is there any plan in releasing this functionality from API ? can you recommend a alternate way to get the copyright list exported in an automated way .

[2020-11-18 11:02] GMishx commented on #1716
Hi @ananthmallarapu , there is no plan as of now to implement this functionality.

For alternative way, you can have a look on SPDX reports which are more computer friendly rather than unified report.

[2020-11-19 17:01] NicolasToussaint opened #1833 "Detect 'foobar.license' files, as part of RESUE.Software standard"
### Description

Following discussion in #1592, this issue proposes a first step.

The idea would be to support the `file.license` way of declaring a license and copyright for binary files (or any file in which compliance text cannot be inserted, like `json`or `yaml` files)

Extract of the specification: https://reuse.software/spec/#comment-headers

I am not sure if the mechanism should be a new a

[2020-11-19 17:03] NicolasToussaint commented on #1833
Waiting for feedback on:
- where the processing should take place (Ojo agent, new agent, something else)
- if the Copyright should be handled together

Then we could start working on it soon.

[2020-11-19 17:17] NicolasToussaint commented on #1775
We do have the need to make sure that every scanned file has license information inside (or next to it).

Indeed, when publishing work, or even distributing source code under a proprietary license, all files should be appropriately tagged, and this is hard to ensure with Fossology today.

What do you think of the following scheme:
1. In column _Files Cleared_, add a 3rd number with the total numbe

[2020-11-19 21:49] lucian-balea commented on #1775
Hello!
The 3 proposals above would be great features for us as well.

Regarding #2, I would say that the blue color would apply when all files with licensing information have been cleared, but some files without licensing information remain and they have not been marked as irrelevant.
The project may indeed include files that do not need license information so they can be cleared. Then the tool wo

[2020-11-20 07:39] NicolasToussaint commented on #1775
Thanks @lucian-balea ,

Good thinking here, the Blue / Green scheme sounds perfect to me.

[2020-11-20 08:57] GMishx commented on #1833
(from discussion) .. We can use decider agent on FOSSology to copy decisions from `.license` file and copy it to the original file. By doing so, we can do the same thing with copyright from decider agent.

Or, we can create a new reuse agent to handle the standards from reuse.software

[2020-11-20 13:40] NicolasToussaint commented on #1833
Integrating in a Reuse agent sounds like a good way to go indeed.

Thinking about it, maybe a new agent dedicated to reuse.software standard would be make it easier to enable or disable from the Upload pages ?
Also, some additions to the standard are in the oven (like assign a license to a folder, recursively), so maybe these additions would be better handled in a separate agent.

[2020-11-23 12:53] olasd opened #1834 "Please set the user agent when doing external HTTP requests"
### Description

The plugin to retrieve license information detected by Software Heritage uses the default PHP GuzzleHttp client user agent, which makes it harder than it should be to identify it.

I don't know if there's other uses of HTTP clients in Fossology, but it would be nice if Fossology identified itself as such when crawling external resources. An ideal user agent string would:

 - clear

[2020-11-23 12:57] olasd opened #1835 "Please use canonical URIs for the Software Heritage license info plugin"
### Description

The fossology plugin retrieving license information from Software Heritage uses an upper-case URL, which triggers a 302 redirect to a lower-case version of the URL on every request.

It would probably be faster to generate the canonical, lower-case URL on the fossology side, rather than having swh redirect every request.

Thanks,
Nicolas Dandrimont - Staff Engineer @ Software Heri

[2020-11-23 13:21] olasd opened #1836 "Software Heritage license information plugin: please back-off when rate-limited"
### Description

The Software Heritage license information plugin throws requests to the Software Heritage archive, even after being answered with a 429 "rate limited" error code.

The Software Heritage archive provides headers to tell you how many requests are remaining, as well as the time remaining until the rate limit counter resets.

https://archive.softwareheritage.org/api/#rate-limiting

We

[2020-11-25 12:32] GMishx commented on #1835
Hello @olasd , thanks for reporting the issue. #1837 should fix it.

[2020-11-25 12:35] GMishx commented on #1834
Hello @olasd , thanks for reporting the issue.

I have created PR #1837 which adds the User-Agent to the HTTP requests. Currently I have set it as "fossology/<version>", example "fossology/3.9.0-rc2". Does this sounds helpful?

And for the server contact information, under Admin >> Customize, we have a field called "Support Email Address" which can be used here. But I am not sure if everyone will

[2020-11-26 12:39] #1835 closed

[2020-11-29 11:32] Aman-Codes opened #1840 "Broken Links in README.md"
### Description

- The link of [general documentation](http://www.fossology.org/projects/fossology/wiki/User_Documentation) in Readme.md is broken
- In the about section of Readme.md the link of fossology website is given as http://fossology.org/ which should be changed to https://fossology.org/ (changing http to https )

#### How to reproduce
Visit the [general documentation](http://www.fossology

[2020-11-29 12:15] tichnas commented on #1840
@Aman-Codes  For me, changing `http` to `https` also doesn't work. Can you please try once and share the correct screenshot as well. Thanks.

[2020-11-29 12:21] Aman-Codes commented on #1840
@tichnas
These are 2 different issues
1. The broken link http://www.fossology.org/projects/fossology/wiki/User_Documentation which neither opens on http nor on https.
2. The link of fossology website http://fossology.org/ ( which is working fine) given in readme is of http ( which redirect to https) can be changed to https in readme.

[2020-11-30 09:42] Pirx69 opened #1841 "ReDeployment of Fossology Docker fails due to Exception in Fossology StartUp Script"
### Description
We have created a Fossology pod running on Megatron based on the Fossology tag 3.9.0-rc2.
The PostgresDB is running externally in another pod (postgresql:11.9.0-debian-10-r48).
-
So far, so fine! Fossology worked fine until we finished our evalutation periode and decided
to reset the Postgres database.

Since that time the redeployment of the Fossology pod fails with the following

[2020-12-01 11:43] #1465 closed

[2020-12-01 11:44] #1280 closed

[2020-12-01 11:44] #1366 closed

[2020-12-01 11:45] #1805 closed

[2020-12-01 11:45] #1660 closed

[2020-12-01 16:08] jeremiah commented on #1826
Have you tried to use Raspbian? It is a Debian based distro for the Rpi and should run FOSSology in a container.

[2020-12-01 18:31] sayantan1413 commented on #1787
Hello I am Sayantan Bose and I want to contribute in this project but I am unable to understand from where I should start? So can you help me how to start contribute in this project ? @GMishx  @hastagAB

[2020-12-02 05:34] sameer1046 opened #1843 "Bulk Clearing False Positive in Copyright"
### Description

There is no way bulk clearing of junk characters in copyright section

#### Steps followed and expected result

There should be a feature "Find and Replace" {like in excel sheet) in copyright section.

You want to replace a phrase (e.g. "\n") in copyrights, then you will be able to remove all "\n" characters in all copyrights.

#### Screenshots

If applicable, add screenshots to h

[2020-12-02 09:42] ag4ums commented on #1843
Hello @sameer1046,
PR #1822 will resolve this issue. you can test this PR and provide your feedback.

[2020-12-03 08:44] #1255 closed

[2020-12-03 08:44] #1611 closed

[2020-12-03 11:30] NicolasToussaint opened #1845 "Ojo-Decider agent not triggerd via REST upload"
### Description

There is a different behaviour between UI and REST uploads concerning the ojo-decider agent: via the REST API, triggering a scan with the `"ojo_decider:": true,` does not trigger the ojo-decider agent.

#### How to reproduce
Upload a file with only the _ojo_ agent and _ojo_decider_ decider:
[code]
This is the triggered jobs list:
![image](https://user-images.githubusercontent.com/

[2020-12-06 13:30] Aman-Codes commented on #841
@amanjain97 @mcjaeger Can I work on this task ?

[2020-12-07 04:40] GMishx commented on #841
Hello @Aman-Codes , you can certainly start working on this.

[2020-12-07 08:56] #1720 closed

[2020-12-07 14:44] alpianon opened #1846 "SPDX tag:value report generation broken in Ubuntu 20.04 focal fossa"
### Description

When using fossology 3.9.0 in Ubuntu 20.04 (focal fossa), SPDX tag:value reports are incorrectly generated; some newlines are strangely missing so the report looks like this in all file sections and also in the package section:

[code]

#### How to reproduce

- Install fossology 3.9.0 from sources on Ubuntu 20.04
- Upload whatever package
- generate spdx tag:value report

The abov

[2020-12-09 08:09] #1846 closed

[2020-12-16 11:14] NicolasToussaint commented on #1833
We would like to work on this soon ;

I propose to handle this inside the existing reuse agent as first suggested.

We will see later if a dedicated new agent is created for the Reuse.Software standard.

[2020-12-16 13:09] NicolasToussaint commented on #1535
PR merged, closing issue

[2020-12-16 13:09] #1535 closed

[2020-12-17 13:07] mmurto opened #1850 "API doesn't work after PHP upgrade"
### Description

Calls to the REST API produce internal server errors with the latest build. Works fine on the commit just before the upgrade to PHP 7.

#### How to reproduce

Docker-compose up with commit https://github.com/fossology/fossology/commit/017a3f948f78c981b908b342581012c8ce076f95. Querying `api/v1/version/` returns Internal Server Error (500). Docker logs show:

[code]

Docker-compose

[2020-12-21 08:20] sjha2048 commented on #1850
confirmed that #1830 is causing this issue, can I try to investigate what's going on?
cc: @GMishx

[2020-12-21 08:35] GMishx commented on #1850
Sure @sjha2048 , that will be great help.

I also did a quick lookup myself, seems like [container-interop](https://packagist.org/packages/container-interop/container-interop) was kicked out. But the `flexsounds/slim-symfony-di-container` still seems to refer it.
https://github.com/leroy0211/Slim-Symfony-Dependency-Injection-Bridge/blob/dd4b6ffb9b6bd739eea9e4b7c98d28957d7164a0/src/ContainerBuilder

[2020-12-21 10:52] sjha2048 commented on #1850
I'll try to test it by including [container-interop](https://packagist.org/packages/container-interop/container-interop) / [container](https://packagist.org/packages/psr/container) in dependencies itself, although updating composer.lock should work, I'll get back to you asap.

[2020-12-21 17:01] sjha2048 commented on #1850
Hi @mmurto can you please checkout #1852 and test it out.

[2020-12-22 08:19] #1850 closed

[2020-12-22 08:57] mcjaeger opened #1853 "Search Page does not seem to be scoped the actual upload anymore"
### Description

When you are at some upload detail view, for example license browser, clicking on search in the yellow area shopuld scope the search, but it is not.

#### Screenshots

![image](https://user-images.githubusercontent.com/3418977/102869445-e4f5b800-443b-11eb-9682-212beb87bba1.png)

From this screenshot, search already should be limited to uu-4.5.zip

### Versions

* Last commit id on

[2020-12-24 06:29] GMishx opened #1858 "REST API: Can not list copied uploads"
### Description

If an upload created by other user is copied into folder of other user, REST API can not list the upload as it filters the result by user id as well.

#### How to reproduce

1. From User 1, upload a package in a folder.
2. From Admin user, copy the upload to another folder accessible by User 2.
3. From User 2, query for uploads, query for copied upload, the result will not contain

[2020-12-29 03:48] codeakki commented on #1344
I will start working on this issue sir if u provide me some guidelines! if this is the open issue?

[2020-12-29 07:44] mmurto opened #1859 "No indexes in pfile table on sha1 or sha256"
### Description

Table `pfile` is not indexed on `pfile_sha1` or `pfile_sha256`, making API queries with hash values extremely slow. The indexes were supposed to be added with https://github.com/fossology/fossology/pull/1748, but the index created by the UNIQUE constraints seems to only be effective on the first column.

Manual indexes on `pfile_sha1` and `pfile_sha256` fix the issue.

#### How to

[2020-12-29 12:20] GMishx commented on #1344
Hello @codeakki , you can look to file `src/copyright/ui/CopyrightView.php` which loads the data and `src/copyright/ui/template/ui-xp-view_rhs.html.twig` which is the template for the page.
You can try to copy the working of the **Scanner findings** tables.
**Note:** The scanner findings table works on `copyright` table whereas **Current decisions** table works on `copyright_decision` table.

[2020-12-29 12:32] mmurto opened #1860 "Add clearing decisions for files with no licenses found"
### Description

When querying the the API's `filesearch` endpoint with hash values, the API returns `NOASSERTION` for files with `No_license_found` as the scanner finding. If I open the file and submit `Identified`, a clearing decision is created and the API returns `NONE`.

Is there an easy way to automatically conclude files as such? The decider doesn't seem to help here. I'm not really sure wh

[2020-12-29 12:33] GMishx commented on #1843
Hello @sameer1046 , the PR #1822 was merged to master. Can you please check it and provide your feedback?

[2021-01-04 08:43] #1483 closed

[2021-01-05 08:51] #1859 closed

[2021-01-05 18:44] YashJipkate commented on #1801
Hi, @GMishx I would like to work on this.

If I understand correctly, the int type of the `reuse_group` (and corresponding `reuseGroup`) is to be **replaced** by string type in [Reuser.php](https://github.com/fossology/fossology/blob/479322e49e87f94f41d846452d6167ec85f63ea9/src/www/ui/api/Models/Reuser.php#L39)?

[2021-01-06 11:42] GMishx commented on #1801
Hello @YashJipkate ,

Yes, the type of `reuse_group` needs to changed to string and also in the [openapi.yaml](https://github.com/fossology/fossology/blob/master/src/www/ui/api/documentation/openapi.yaml). Please note that this will effect following line too.
https://github.com/fossology/fossology/blob/479322e49e87f94f41d846452d6167ec85f63ea9/src/www/ui/api/Models/ScanOptions.php#L152
The `$reuser

[2021-01-06 19:05] YashJipkate commented on #1801
Thanks @GMishx, please assign me and I'll get to working on it.

[2021-01-07 06:01] #841 closed

[2021-01-12 10:06] Toniprni opened #1868 "SPDX import does not conclude licenses based on hash values but on file name"
### Description

The SPDX report import does not find license conclusions if the viewable name of the package is different between two Fossology instances. SPDX import does not conclude licenses based on hash values but based on file name. I tried to move information between two different Fossology instances and used as a test package the gdbm-1.8.3. I changed the viewable name of the package into

[2021-01-12 14:11] Toniprni commented on #1693
This is also an issue when trying to import SPDX reports into Fossology from another Fossology. When exporting SPDX from Fossology, it concludes licenses as Disjunctive licenses and therefore adds the "Dual license" reference when importing to another Fossology even when the license is not actually a dual licensed file.

[2021-01-12 14:20] Toniprni commented on #1868
Also if a file has more than one licenses, SPDX export places them under Disjunctive licenses and not conjunctive even when the licenses are not actually dual licenses. This problem has also been addressed in issue #1693. When importing an exported SPDX from one Fossology to another, it adds unnecessary and false dual license hits due to the aforementioned issue.

[2021-01-14 11:17] C1ph3R-s opened #1870 "Could not connect to FOSSology database."
Hi,

I have an issue with db (postgres 9.2)
I have install fossology from source, when I have finished the install, I got this message in my browser.

`Could not connect to FOSSology database.`

Could you give me a solution for this?

Thanks,

[2021-01-15 18:25] #1801 closed

[2021-01-17 18:00] C1ph3R-s opened #1871 "Centos7 ansible role"
Hi,

Do you have any ansible role for fossology?
Or do you plan  to create one in the future?

Thanks,

[2021-01-18 12:18] Radhey1820 commented on #286
Can solve this issue of reducing Header footprint space?

[2021-01-18 12:51] shivamgoyal7 commented on #1477
Hello, @mcjaeger @GMishx I want to take up this task.

[2021-01-18 13:46] bighnesh0404 commented on #279
I would like to work on this issue

[2021-01-18 13:49] bighnesh0404 commented on #1344
I would like to work on this issue

[2021-01-18 14:08] GMishx commented on #1477
Hello @shivamgoyal7 , yes you can work on the issue. Mind if I assign it to you?

[2021-01-18 14:08] NicolasToussaint commented on #279
A system-wide preference would make sense too.
I actually had to patch the upload pages to force the private option by default for all uploads

[2021-01-18 14:09] GMishx commented on #279
Hello @bighnesh0404, mind if I assign it to you?

[2021-01-18 14:09] GMishx commented on #279
So there will be a system-wide preference which can be changed by admin and this will be the default value for each user until they change it?

[2021-01-18 14:16] NicolasToussaint commented on #279
Indeed, that sounds good to me:
- the system setting would propose 3 existing possibilities
    - _only for active group_
    - _all groups_
    - _public_
- the user setting would have the 3 above, plus _use system default_

So the default would be used for already existing and newly created users

[2021-01-19 08:38] ag4ums commented on #1870
hello @C1ph3R-s , this happen when your database is down, Could you please check if your database is up 'sudo systemctl status postgresql'

[2021-01-19 08:39] GMishx commented on #1870
Please verify if `/usr/local/etc/fossology/Db.conf` contains correct information for connection.

[2021-01-19 10:11] GMishx commented on #1836
Hello @olasd , sometimes we received the time in `X-RateLimit-Reset` which was in past, so the mechanism to ping the server every 30 seconds or so was introduced if the response code is `429`. Do you think this 30 seconds ping time needs to be increased?

[2021-01-20 09:22] NicolasToussaint opened #1873 "FossDash: Fix lilnks to documentation in configuration page"
Following the merge of @darshank15 's work into Fossology (see https://github.com/fossology/fossology/pull/1791), the links in the configuration page need to be updated to point to the main Fossology Wiki.

[2021-01-20 12:12] dineshr93 commented on #1798
Hi @GMishx This issue still remains in the recent version
fossology #82f63a41d   >3.10.0-rc1 (docker deployed)

Even for package for size 4 mb.

![image](https://user-images.githubusercontent.com/4498415/105173262-0fad5c00-5b21-11eb-8a16-8c26497ad783.png)

[2021-01-20 12:19] dineshr93 commented on #1798
I am using maching Ubuntu 18.04, As you can see in the above pic I have 4 cores & one of cores hitting at 100 % usage (right) while this license browser page is processing to list down the source folder section(left).

[2021-01-20 12:23] dineshr93 commented on #1798
I have installed the recent version in production & now I have been receiving complaints of slowness from them. I thought of sharing the screenshot cpu in case if it helps

[2021-01-20 12:52] GMishx commented on #1798
Hello @dineshr93 , that is very unfortunate. The high CPU usage should be because of database. Can you please share the link to the package? It will be helpful for us to investigate the issue.
Also, can you please check if there is some message in the docker log (from Apache)?

[2021-01-20 15:48] NicolasToussaint commented on #1833
Moving on, I propose the following use case:

1. User uploads source code with
    - `foobar.jpg` -> an image
    - `foobar.jpg.license` containing:
[code]
1. Upload options:
   - [existing] Ojo License Analysis, scanning for licenses using SPDX-License-Identifier
   - [existing] Automatic Concluded License Decider, based on ... scanners matches if Ojo findings are no contradiction with other find

[2021-01-20 17:25] dineshr93 commented on #1798
llvm 2.0 link that is scanned  https://releases.llvm.org/2.0/llvm-2.0.tar.gz

may I know how to access apache logs via docker?

[2021-01-20 17:42] dineshr93 opened #1875 "Copyright agent fails in version 3.10-rc1 for file size of 190 mb"
fossology 82f63a41d / >3.10.0-rc1 (docker deployed)

Ubuntu 18.04

Scanned file https://dl.bintray.com/boostorg/release/1.75.0/source/boost_1_75_0.zip
size 190 mb

https://dl.bintray.com/boostorg/release/1.75.0/source/boost_1_75_0.zip
![image](https://user-images.githubusercontent.com/4498415/105213543-1fdc3000-5b4f-11eb-9d33-fa9b6668fb84.png)

[2021-01-21 11:05] mcjaeger opened #1876 "Reuse of Copyright Statements: UI label misleading"
### Description

For copyrights, the reuse is always there, it depends on the file hash. So there are two type of copyright work that is being reused:

1. edit a particular copyright statement
2.  deactivate a false positive copyright statement (usually something catched from a license text ...)

Both are automatically reuse at all uploads, thus the UI element:

<img width="440" alt="Screenshot 20

[2021-01-25 05:00] Aman-Codes opened #1878 "Docs: Update Readme.md"
### Description
A proposal to add/update the followings points in the [README.md](https://github.com/fossology/fossology/blob/master/README.md) file
1. Add the link of fossology [YouTube channel](https://www.youtube.com/channel/UCZGPJnQZVnEPQWxOuNamLpw) (as a badge at the top of readme)
2. In the About section the link of [Check out Who Uses FOSSology!](http://www.fossology.org/projects/fossology/

[2021-01-25 08:37] C1ph3R-s commented on #1870
I have solved that issue, thanks!

[2021-01-25 08:48] janwels89 commented on #1136
I can confirm this problem still exists with large rdf-files (complete qt source code)
[code]

[2021-01-25 09:39] janwels89 commented on #1411
Can confirm this
FOSSology Version: [3.10.0.9], Branch: [master], Commit: [#38cee0]
[code]

[2021-01-25 10:55] janwels89 commented on #1763
I am Running into the same problem on Version: [3.10.0.9]
[code]

[code]
returns ```(0 rows)```

[code]
returns ```DELETE 0```

[2021-01-25 11:40] mcjaeger commented on #1136
hello,

how many megabytes is the archive and how many the spdx file?

Kind regards, Michael

[2021-01-25 14:15] swinslow commented on #1136
@mcjaeger When I was seeing this issue back in July (on 3.8.1) it was for an SPDX file that was only about 14.4MB.

[2021-01-26 04:59] Aman-Codes commented on #83
@mcjaeger Is this issue still open for work ?
If yes then what is the desired workflow required for **Password Reset** ?
As currently the admin(user: fossy) can create new users with some temporary password and after logging in with that credentials the user can change the password

[2021-01-26 07:58] janwels89 commented on #1136
@mcjaeger my SPDX-File is 130MB. I scanned a complete qt package (around 2GB)

[2021-01-27 05:32] GMishx commented on #83
Yes the issue is still open for work.

For the desired workflow, there should be a "Forgot password" somewhere near the login inputs. When the user clicks on it, it should ask for the username and then generate a temporary password and send it over to the email address provided by the user during registration.

The admin user can change the password for other users but it is an additional operatio

[2021-01-27 05:47] GMishx commented on #1870
Thanks for confirming it @C1ph3R-s , can you please close the issue if it is resolved?

[2021-01-27 05:56] GMishx commented on #1136
I did a small research a while back, it is a known issue in the project FOSSology is using to read the SPDX files -> https://github.com/easyrdf/easyrdf/issues/350

However, the fix is in new versions of `easyrdf` which requires PHP 7.1.0. FOSSology currently tags minimum dependency of PHP to 7.0.8 (used by Ubuntu Xenial LTS).
We can try to create a patch from the PRs in the project and apply them

[2021-01-27 06:32] GMishx commented on #1411
Hello @helloWorldHitech @jb68 @sweynson @janwels89 ,

Since I am not able to replicate the issue you are facing on my dev machine, I would request you to help us by testing the PR #1879. Please do let me know if you need some assistance like pushing a Docker image with the patch.

[2021-01-27 07:52] NicolasToussaint commented on #83
A "Forgot password" would not make sense, and even be confusing when Fossology is configured to use External Authentication.

Would it be possible to only show the link when External Auth is off, with `CONF_EXT_AUTH_ENABLE=false` in the configuration file?

https://github.com/fossology/fossology/blob/19d85bd77e0004206caf69a185377a65787543ec/install/defconf/fossology.conf.in#L96

[2021-01-27 08:02] Aman-Codes commented on #83
Thanks for the points. I will start working on it

[2021-01-27 16:15] C1ph3R-s commented on #1870
sure

[2021-01-27 16:15] #1870 closed

[2021-01-28 14:03] Prodyte commented on #1876
hey, I would like to do this.

[2021-01-28 14:35] GMishx commented on #1876
Hey @Prodyte , sure. I will assign this to you.
Just one addition, please check the title text for the _i_ image as well. I am not sure what it says at the moment 😅

[2021-01-28 16:24] Prodyte commented on #1876
it says 'use to copy only deactived copyright decisions from the reused package'

[2021-01-29 05:37] GMishx commented on #1614
Since Debian Jessie is deprecated and FOSSology also dropped support to it, we can change the `heirloom-mailx` to `s-nail` as all the other packages support it.

[2021-01-29 05:57] #1836 closed

[2021-01-29 08:16] NicolasToussaint commented on #1614
Hi,
Looks like I should have clarified my previous message
My problem was that the `-S` option used when calling `mailutils` was not supported by `s-nail`.

I found the problem I had back then, when using `s-nail` :
[code]

I had to force back `mailutils` with:
[code]

[2021-01-29 08:28] GMishx commented on #1614
Hi Nicolas,
Yeah your situation was explained clearly. So while preparing the patch to change the package name, the link to binary `mailx` should be changed to `/usr/bin/s-nail` in https://github.com/fossology/fossology/blob/147bd6839beda5dd9db5325414e3a9e8914cd9d0/install/defconf/fossology.conf.in#L92

So this will solve the issue with different mail clients being used as default on different mac

[2021-01-29 09:00] #1876 closed

[2021-02-01 08:17] ag4ums commented on #1875
hello @dineshr93 , could you please provide the log from "Geeky Scan Details"  for failing copyright agent.

[2021-02-01 08:25] GMishx commented on #1798
Thanks for proving the link to the package.

You can check it from the `docker logs` command for your container.

[2021-02-01 11:25] GMishx commented on #1798
Hello @dineshr93 ,
I just uploaded the llvm package on my local machine on latest master. The License Browser loaded in 1.68s.

![image](https://user-images.githubusercontent.com/18077542/106452346-c01a4900-64ad-11eb-9c4a-3376fe4f1365.png)

What I am suspecting from this result is that there is some issue with your DB and thus the ajax call is getting a 500 error. If that's the case, then
1. The t

[2021-02-02 08:57] #1840 closed

[2021-02-02 08:57] #1878 closed

[2021-02-02 12:05] #1411 closed

[2021-02-02 12:05] #1763 closed

[2021-02-03 09:01] shaheemazmalmmd opened #1884 "Remove log from reuse agent"
### Description

When i reuse a component, the agent log is getting printed which is not required.

#### How to reproduce

* Upload component x-01,
* Do some clearing.
* Upload  component x-1.5 by reusing the x-01.
* Go to show jobs view and click on job-id of reuse.

#### Screenshots

<img width="555" alt="screenShot10" src="https://user-images.githubusercontent.com/10155976/106722757-5b392d00-66

[2021-02-03 09:04] #1136 closed

[2021-02-03 18:56] swinslow commented on #1136
Thank you @GMishx and others! This will be a huge help.

[2021-02-04 08:23] mcjaeger opened #1885 "Copyright deactivation reuse not good for irrelevant files"
### Description

Deactivated copyright statement is reused among all occurences of the file in all uploads. This is Ok for false positives.

Deactivated copyright statements also result from setting files irrelevant. This is good for the scope of the upload, however, it does not make sense for sharing this globally.

Example: upload contains different source codes for different processor architect

[2021-02-04 17:10] mv-pecchia commented on #1885
We are faced with the problem that as soon as we mark a file as irrelevant in an Upload Z (FOSSology version 3.9.0),
that the correct copyright holder statements contained in the irrelevant files are then not only disabled in the copyright holder list of the upload itself, but also in other Uploads A till X, even though the license analysis of these uploads was complete and any file itself were ma

[2021-02-05 07:24] Aman-Codes commented on #614
The mod-name was changed from `content_delete` to `content_unlink` in #830
So I believe we can close this issue if no more changes are required

[2021-02-05 07:50] GMishx commented on #614
I guess yes. Can't find `content_delete` anywhere in the codebase.

Thanks for pointing @Aman-Codes

[2021-02-05 07:50] #614 closed

[2021-02-17 19:39] cvanslyke opened #1892 "GET request to REST api: /api/v1/uploads/<id>/licenses limits response to 2.0Mb"
### Description

I've got several completed and scanned uploads of large files (OS distributions). I'm attempting to make a curl call to get the licenses for an upload, and the json response cuts off after 2.0Mb of data is received. The resulting json is incomplete and invalid.

This works fine for smaller software packages. I executed the curl command for several uploads. Larger uploads abruptly

[2021-02-18 09:35] mcjaeger opened #1894 "SPDX RDF generation isues"
### Description

Gary o neill has revealed some verification issues with the SPDX RDF output in this thread: https://github.com/eclipse/sw360/pull/1097 namely:

* One of the files has 2 concluded licenses (the cardinality is 1)
* The package has an empty disjunctiveLicenseSet
* Noassertion using the URI http://spdx.org/licenses/NOASSERTION which should be http://spdx.org/rdf/terms#noassertion as d

[2021-02-18 17:52] SyedAnwarHashmi commented on #1884
Hello,
I'd like to get started on this issue. I am a bit unclear on the mentioned components x-01 and x-1.5. Can you elaborate on what they represent and in which package I can find them?

[2021-02-22 11:58] GMishx commented on #652
@shaheemazmalmmd I think the issue was resolved by #1761. Can you please check?

[2021-02-22 12:00] b-thebest commented on #1858
Hi, I am new to open source, Can I work on this issue?

[2021-02-22 12:13] GMishx commented on #1858
Hello @b-thebest , thank you for your interest. I think @OmarAbdelSamea is also working on the same issue.

[2021-02-22 12:15] GMishx commented on #1884
Hello Anwar, I think what @shaheemazmalmmd meant with component x-01 is a random component X with version 01 and thus x-1.5 will be a higher version 1.5 of the same package.

You can use any popular component from github which has at least 2 releases to test out the issue.

[2021-02-22 12:20] b-thebest commented on #1858
Okay, no worries

On Mon, Feb 22, 2021, 5:43 PM Gaurav Mishra <notifications@github.com>
wrote:

[2021-02-23 04:49] shaheemazmalmmd commented on #652
@GMishx : yes this issue should be closed. just tested.

[2021-02-23 04:49] #652 closed

[2021-02-23 15:51] SyedAnwarHashmi commented on #1884
Hello,

I followed the steps to reproduce the bug. I first added the twig 1.4.3 component and did some clearing after which I added the 1.4.4 component. The reuser status was complete with 26 items and 6 job-ids. However, when I checked the job-id I could not find any logs.
I have attached a screenshot of my browser.  I like to request further guidance on this.

![Screenshot 2021-02-23 at 9 10 28

[2021-02-23 16:07] GMishx commented on #1884
Hello, you need to check the log for **reuser** (job ID 140 from the screenshot)

[2021-02-23 16:16] SyedAnwarHashmi commented on #1884
A similar result for 140 as well.
![Screenshot 2021-02-23 at 9 45 35 PM](https://user-images.githubusercontent.com/68942638/108872797-95409200-7620-11eb-8fda-b012d2e35a57.png)

[2021-02-23 16:19] GMishx commented on #1884
Ah, maybe you need to select the "Advance reuse" option while scheduling it?

[2021-02-25 05:26] GMishx commented on #1858
Fixed in #1764

[2021-02-25 05:26] #1858 closed

[2021-02-25 09:11] GMishx opened #1896 "REST: Require "Assigned to" information in fossology API"
### Description

Requesting to provide "assigned to" information in the existing APIs so that while fetching the upload we can have info about whom the particular package is assigned to for clearing as well.

#### Steps followed and expected result

While fetching upload information from REST API (`/uploads` or `/uploads/<id>/summary`), get the assigned user's ID.

#### Screenshots

![2021-02-25 1

[2021-03-01 06:06] GMishx opened #1900 "Missing component Group in API documentation"
### Description

While testing a new PR, I discovered following error in Swagger Editor.

![image](https://user-images.githubusercontent.com/18077542/109458071-1c0ec800-7a82-11eb-8897-ce8fd5c18bf8.png)

Looks like the component information for `#/components/schemas/Group` was missed in #1872.

#### How to reproduce

Load the `src/www/ui/api/documentation/openapi.yaml` in Swagger editor.

### Versi

[2021-03-01 06:08] GMishx commented on #1900
Hello @piotreke12 , can you please help us?

[2021-03-02 07:36] shaheemazmalmmd opened #1902 "Fix warnings in make for Ubuntu 20.04.2 LTS"
### Description

Few warnings are getting appeared while make.

#### How to reproduce

In  a clean instance, do make

Or

Use make clean in existing instance and make

#### Screenshots

<img width="923" alt="warnings" src="https://user-images.githubusercontent.com/10155976/109613953-e805d680-7b57-11eb-98c4-983c544e348b.PNG">
<img width="838" alt="warnings1" src="https://user-images.githubuserconte

[2021-03-02 09:53] piotreke12 commented on #1900
Sure @GMishx , please assign this problem to me (I missed it somehow during previous PR validation)

[2021-03-02 10:02] GMishx commented on #1900
Thank you Piotr, I will assign it to you.

[2021-03-02 14:14] AlanHohn opened #1903 "Nomos JSON output invalid, possible race condition"
### Description

I've noticed some cases where the JSON output from standalone Nomos isn't valid. It appears to be the result of a race condition, as I see what looks like overlapping output.

I see that a semaphore is being used to control simultaneous printing, and that seems to be working fine. I think the issue is that `printf` is buffering output. Because the output is not a terminal, `printf

[2021-03-02 16:22] NicolasToussaint commented on #1845
Still the case for me with master ;
@GMishx are you on the case, did you reproduce ? (asking because you self-assigned it)
Do you need a hand or precisions ?

[2021-03-02 16:38] NicolasToussaint commented on #1639
@adityabisoi, are you still on the case ?
Do you need more input ?

[2021-03-02 16:59] adityabisoi commented on #1639
@NicolasToussaint I forgot to remove my assignment, please assign this to other interested contributors.

[2021-03-03 07:58] #1903 closed

[2021-03-03 08:45] GMishx commented on #1845
Thank you for the reminder @NicolasToussaint , I totally forgot about this issue. Will try to push the patch soon.

[2021-03-03 11:35] NicolasToussaint commented on #1845
Thanks @GMishx
I also realized that this happens when uploading from VSC (Git URL) too.

[2021-03-05 05:52] Aman-Codes commented on #1112
@GMishx Can I work on this issue
https://github.com/fossology/fossology/blob/f6ba00362685916e099a5337e3b195e0b9925cef/src/www/ui/user-edit.php#L106-L114

Adding the below 3 lines after line 111 in the above code might solve the issue
[code]

[2021-03-05 11:43] GMishx commented on #1112
Hello @Aman-Codes , sounds like a good solution.

Also, noting @shaheemazmalmmd 's comments, it will be nice to restrict the username editing to just the admin users (`Auth::isAdmin()`).

[2021-03-05 15:05] C1ph3R-s opened #1907 "Local scan, Large file"
Hi,

I would like to scan a large file, unfortunately I can not upload it into fossology.
Do you have any solution for scan a local file on server without upload?

Thanks,

[2021-03-05 15:21] NicolasToussaint commented on #1907
Hi @C1ph3R-s ,

Could can either increase the max size of uploaded files, see here: https://github.com/fossology/fossology/wiki/Configuration-and-Tuning#configuring-php.

If you can upload the file directly to the server, (eg. via ssh), then you can scan it using, in the menu : _Upload_ -> _From Server_
There is a restriction on the folder where Fossology can read from, that is configurable from t

[2021-03-05 18:29] SyedAnwarHashmi commented on #1907
Hello @C1ph3R-s

Try using this command. sudo fossology/install/scripts/php-conf-fix.sh --overwrite
This increases the upload limit.

[2021-03-08 10:06] #1900 closed

[2021-03-09 05:48] GMishx commented on #1845
Hello @NicolasToussaint , I tested this with latest master and on 3.9.0, it is working for me on both the versions.

<table>
<tr>
 <th>FOSSology version</th><th>Request</th><th>Jobs</th>
</tr>
<tr>
  <td>3.9.0</td>
  <td rowspan="3" style="width:300px;overflow-x:hidden;overflow-y:auto"><pre>curl --location --request POST 'http://localhost:8081/repo/api/v1/jobs' \
--header 'folderId: 1' \
--header

[2021-03-09 05:48] GMishx commented on #1845
Can you please check again or let me know which version you are on so I can debug it?

[2021-03-11 11:46] avinal commented on #1902
Hello @shaheemazmalmmd,

I did some research and came up with the following observations/suggestions. Since suppressing/fixing warnings are critical to the application it is only wise to discuss before changing anything.

### Warning 1
[code]
https://github.com/fossology/fossology/blob/ae63dbd1a7e237628843c08ad57f837717d539bc/src/nomos/agent/nomos.c#L187

*Reasons*: Appending `\n` to the `filename

[2021-03-12 07:34] Aman-Codes opened #1911 "Fix: HTML and CSS Errors"
### Description

#### HTML Errors:

* `</br>` present in [/src/www/ui/template/admin_obligation-upload_form.html.twig](https://github.com/fossology/fossology/blob/master/src/www/ui/template/admin_obligation-upload_form.html.twig#L41-L49) in line 41 and 49
* `</hr>` in [/src/www/ui/template/ui-clearing-view_bulk.html.twig](https://github.com/fossology/fossology/blob/master/src/www/ui/template/ui-cl

[2021-03-12 07:59] NishealJ opened #1913 "Migrate from Travis to Github Actions"
### Description
Fossology currently uses Travis, but moving into GitHub action will be more convenient and versatile for building+running tests.
Read more at, https://github.com/fossology/fossology/wiki/Google-Summer-of-Code-Proposals-2021#migrate-from-travis-to-github-actions

The list of jobs that has to be migrated from Travis to Github Actions are:

- [x] Syntax Check (#1919)
- [x] Static Code

[2021-03-16 05:41] GMishx commented on #1902
Wow, thanks @avinal for making such detailed observation and comments.

Just a few comments on some warnings you've mentioned:
* **Warning 1**: It will be better to `strncat()` than `sprintf()`. It will improve the performance and make more sense while reading the code.
* **Warning 7**: Should be solved by #1807
* **Warning 8**: Should be solved by #1807 as well.

Other solutions proposed looks go

[2021-03-16 05:50] avinal commented on #1902
Thanks @GMishx, I will open a PR soon with suggested changes. 👍🏼

[2021-03-16 08:33] avinal opened #1920 "Upgrade this project from PHP 7 to PHP 8"
### Description

The project currently uses PHP 7.x and is partially incompatible with PHP 8. It would be preferable to upgrade this project to PHP 8 for better compatibility with the latest technologies.
PHP 8 changelog: https://www.php.net/manual/en/migration80.incompatible.php

#### How to reproduce

Since most of the incompatible changes are syntax changes. We can run a syntax check on our cod

[2021-03-16 14:20] silverhook opened #1921 "Enable upload of specific commit from GitHub and GitLab (through WebUI)"
### Description

Currently FOSSology already offers many ways how to upload source code to it through its WebUI, but its Git uploader is limited only to the head of `master`.

I propose – at least for GitLab and GitHub – to enable a way to upload a specific tag or commit.

#### Steps followed and expected result

Both of these source forges include a way to obtain the source code at the specific g

[2021-03-16 19:43] avinal commented on #1902
I saw #1807 and many of the changes that this issue demands are already taken care of in that PR. Since most of the warnings here just need to be suppressed(there is no risk), I did just that and some additional changes. Should I wait till that PR merges so that it doesn't cause conflict with my PR? @GMishx

[2021-03-17 04:15] GMishx commented on #1902
Instead of waiting for the PR to be merged, you can create your branch from the branch in the PR. That way it will not cause any conflicts in future, will have many fixes already and a simple rebase to master (if required) will be enough before merging.

[2021-03-17 05:01] avinal commented on #1902
Nice trick, will do that. Thanks 👍🏼

[2021-03-17 06:14] GMishx commented on #1921
Hello @silverhook !

FOSSology already allows you to define a branch or a tag while cloning, thanks to @piotreke12 in #1688 .

![snap](https://user-images.githubusercontent.com/18077542/111422570-e8d06800-8714-11eb-9ccc-9e043d5f539a.png)

We can do something for a specific commit in similar fashion. Just need to add a new input for commit id while uploading similar to
https://github.com/fossology/

[2021-03-17 08:50] vedantjangid opened #1922 "hey I am new to opensource and have not done this before so if any one can help me with tis then it would be so much helpful and the gesture will be much appreciate"
### Description

Please describe your situation in few words here.

#### How to reproduce

For a bug: Describe the bug and list the steps you used when the issue occurred.

For an enhancement or new feature: Describe your needs/expected results.

#### Screenshots

If applicable, add screenshots to help explain your problem.

### Versions

* Last commit id on master:
* Operating System (lsb_release

[2021-03-17 08:59] GMishx commented on #1922
Hello @vedantjangid , welcome to the world of Open Source!

How can we help you with this issue? Can you please provide more information on the same?

[2021-03-17 18:28] as2539-ctrl commented on #1921
hello! I like to work on this issue can you please guide me how can I start.

[2021-03-17 18:59] silverhook commented on #1921
Oh, I somehow missed the tag option. Thanks, @GMishx! That helps me quite a bit already, but having also a per-commit option would be even better.

Does the commit (or tag?) info get stored somewhere in the upload info as well? Might be useful to generate a Package URL and/or other identifiers for where the source code came from.

[2021-03-18 09:02] itssingh commented on #1922
@vedantjangid could join fossology slack channel, could find link for the same here https://github.com/fossology/fossology#fossology and have some discussions:)

[2021-03-18 09:47] GMishx commented on #1921
That is an interesting idea. Right now it not saved in a usable manner but we can save it as an external link in `report_info` (Report Configuration).

[2021-03-18 09:49] GMishx commented on #1921
Hi @as2539-ctrl , please have a look at my comment above. It refers to the relevant code sections. You might also need to check the twig template for the same page (`upload_vcs.html.twig`).

[2021-03-18 11:03] silverhook commented on #1921
To clarify, with Package URL I mean:
https://github.com/package-url/purl-spec

…which can also be integrated into the SPDX file output (I’m not 100% sure if `PackageDownloadLocation:` is PURL or whether it’s just supported as an additional field though):
https://spdx.github.io/spdx-spec/3-package-information/#37-package-download-location
https://github.com/spdx/spdx-spec/blob/development/v2.2/chap

[2021-03-19 05:31] vedantjangid commented on #1922
So basically if any one can help me get started with open source like I don't know open source as ive mentioned it above the basic question raises in my mind and many of the new members who come here daily for such query is where do i get started and how if anyone can help me do so

[2021-03-19 09:42] itssingh commented on #1922
You could find blogs and videos online. One of such and my own favourite is (https://stackoverflow.blog/2020/08/03/getting-started-with-contributing-to-open-source/). Feel free to ask many questions but please don't ask what you could find easily online :)

[2021-03-19 10:16] itssingh commented on #1920
@avinal @GMishx can I work on this ticket?

[2021-03-19 10:49] GMishx commented on #1920
Yes you can. No one is assigned to it.
@avinal, are you planning to work on it?

[2021-03-19 11:14] avinal commented on #1920
Yeah @itssingh, go ahead, I am working on other issues 😅.

[2021-03-19 11:18] GMishx commented on #1920
I am assigning this ticket to you then if it fine.

[2021-03-19 16:56] mukeshmjn commented on #1911
Hi, please assign this to me I want to contribute

[2021-03-19 20:36] sritasngh opened #1924 "Integrating Scancode Toolkit"
### Description

The scancode toolkit is a very established license scanner similar to nomos or monk. It implements a number of different approaches and integrates these into one application for identify and classifying license relevant content in packages.

The basic idea is to use the command line interface from the scancode package in order to be called right from the fossology application. Fos

[2021-03-22 09:11] GMishx commented on #1911
Hello @mukeshmjn , thank you for your interest in contributing to the project but there is already a PR fixing it: #1912

[2021-03-23 04:18] GMishx opened #1927 "Assigned To filter on browse page"
### Description

If the uploads are filtered by "Assigned To" and person navigates away from the page or reloads the page, the filter is lost.

#### Steps followed and expected result

1. Upload some packages and assign them to individuals.
2. Filter the uploads assigned to someone.
3. Navigate back and forth from an upload.
    - The filter on "Assigned To" is lost.

#### Screenshots

![image](ht

[2021-03-23 04:21] GMishx opened #1928 "Need to select multiple deactivated copyright statement and undo them once."
### Description

There is already a feature to select multiple copyright statements and deactivate them by one click.
It will be nice to also have the same feature for already deactivated copyright statements to activate them.

#### Screenshots

![image](https://user-images.githubusercontent.com/18077542/112092297-389fab00-8bbd-11eb-929c-43397b9bb9bd.png)

[2021-03-23 07:37] GMishx commented on #1922
Hi @vedantjangid , since this is not specific to FOSSology and about Open Source community in general, I am closing the issue now.
You can still use this space for communication or open a new discussion: https://github.com/fossology/fossology/discussions

[2021-03-23 07:37] #1922 closed

[2021-03-23 09:17] vedantjangid commented on #1920
Can you assign it to me i can help with it .

[2021-03-23 09:23] GMishx commented on #1920
Thank you for your interest @vedantjangid , but @itssingh has already opened a PR #1925 on it.

You can still look at some other issues from https://github.com/fossology/fossology/contribute.

[2021-03-24 11:12] BJSwaroop commented on #1928
I want to work on this issue. I know basics but I think I can do it. Please assign it to me

[2021-03-24 11:19] GMishx commented on #1928
Hi @BJSwaroop , thank you for showing interest. I have assigned the issue to you. A good start will be looking at
https://github.com/fossology/fossology/blob/aaec8d420e0d58f4e7663a9694e1fae44b42def6/src/copyright/ui/ajax-copyright-hist.php#L423

and
https://github.com/fossology/fossology/blob/aaec8d420e0d58f4e7663a9694e1fae44b42def6/src/copyright/ui/template/histTable.js.twig#L83

[2021-03-24 14:03] AshuKV commented on #1927
Can I work on this issue? Kindly assign it to me.

[2021-03-25 08:51] mcjaeger commented on #207
(proposed solution)
* setup addtional debian source installs using the docker test (is present already)
* * covering dbian 9 / debian 10 and u18 and u20 LTS

[2021-03-25 11:39] GMishx opened #1929 "Display error while changing upload permission"
### Description

If the scheduler is not working while adding new group permissions to an upload with reuse, a blank page is presented instead of showing error message.

#### How to reproduce

1. Upload a package and do some clearing.
2. Change the upload status to "Closed".
3. Create a new group.
4. Kill the scheduler daemon.
5. Goto Admin >> Upload Permissions and find the upload.
6. Add the new

[2021-03-25 14:06] Rohan27s commented on #1924
Hey, I have gone through the scancode toolkit and want to work on this issue.

[2021-03-26 10:40] dineshr93 opened #1930 "Extend the validity of the API token from one month to 3 months"
### Description

Using fossology 3.9.0 release 33f5b5a

Currently we are updating the fossology token in SW360 every month because the validity of a token in 1 month.
Can this be extended to user defined months? or atleast be extended to three months.?

[2021-03-26 10:47] GMishx commented on #1930
Hello @dineshr93 , there is already an option **Max token validity** in the Customize page under Admin menu.

[2021-03-26 19:06] rkh-hash opened #1932 "Postgres is unavailable - SCRAM authentication requires libpq >= 10"
### Description

I'm using the docker image `fossology/fossology:3.9.0`.

Authentication failed when `scram-sha-256` is configured for password encryption on the server side (PostgreSQL server v12.2).

The reason: `SCRAM authentication requires libpq version 10 or above`.

 As specified into PostgreSQL documentation,

(cf https://www.postgresql.org/docs/12/runtime-config-connection.html)

[code]

[2021-03-27 16:07] vijay938 opened #1933 "m1"
### Description

Please describe your situation in few words here.

#### Steps followed and expected result

Describe the steps followed by you and your expected results after following the steps.

#### Screenshots

If applicable, add screenshots to help explain your problem.

[2021-03-27 16:10] #1933 closed

[2021-03-28 03:16] hk022 commented on #1932
I can contribute in this organization.

[2021-03-28 04:30] mayurrajurkar opened #1934 "I get error while installing"
### Description

Please describe your issue in few words here.

#### How to reproduce

Describe the bug and list the steps you used when the issue occurred.

#### Screenshots

If applicable, add screenshots to help explain your problem.

### Versions

* Last commit id on master:
* Operating System (lsb_release -a):

### Logs

Any logs (if any) generated in

#### FOSSology logs

Logs generated unde

[2021-03-28 04:31] itssingh commented on #1932
Hi @hk022! Welcome to FOSSology:) We have a slack channel to discuss you could get link [here](https://github.com/fossology/fossology#fossology). You can start with introducing yourself, read contribution guidelines and continue with any good first issue. feel free to ask queries. All the best!

[2021-03-28 04:40] itssingh commented on #1934
Are you following this video https://www.youtube.com/watch?v=q12KwmPYZG4? Also can you give more context about things you have done and on which os are you trying to set up?

[2021-03-28 05:29] avinal commented on #1934
Hello @mayurrajurkar Please attach the respective logs, either screenshot or log files.

[2021-03-28 05:29] avinal commented on #1934
Hello @mayurrajurkar Please attach the respective logs, either screenshot or log files.

[2021-03-29 06:52] Shruti3004 opened #1935 "Grammatical error in the documentation of About fossology"
### Description

grammatical error in the documentation of about page of fossology

#### How to reproduce

src/www/ui/template/about.html.twig

#### Screenshots
![WhatsApp Image 2021-03-29 at 12 21 47](https://user-images.githubusercontent.com/56133783/112797717-6dae7080-9089-11eb-814e-a1d72cae13d7.jpeg)

[2021-03-29 06:53] Shruti3004 commented on #1935
@GMishx i want to wrok on this issue

[2021-03-29 11:09] itssingh commented on #1929
@GMishx I would like to work on this issue:)

[2021-03-29 11:14] itssingh commented on #1873
@NicolasToussaint I would like to debug.

[2021-03-29 11:52] GMishx commented on #1932
I think this issue can be solved by using Debian 10 as the Docker base image since it supports PostgreSQL 11.
While doing so, we can update the Postgres version in the composer file as well.

Just have to make sure that these changes should not break existing docker-composer installations.

[2021-03-29 11:53] GMishx commented on #1935
Sure, assigned it to you.

[2021-03-29 11:54] GMishx commented on #1929
Sure, assigning it to you.

[2021-03-29 14:02] rkh-hash commented on #1932
Hi @GMishx ,
So `fossology/fossology:3.9.0` does not fully supported PostgreSQL 12 ... ?

I'm going to try that but It's seems to be an important change. I mean that it might break other dependencies ?

[2021-03-29 14:15] GMishx commented on #1932
FOSSology supports PostgreSQL 12 (also 13 unofficially) but the Docker image is based on Debian 9 which ships with older version of Postgres.
Updating it with Debian 10 will bring Postgres 11 libraries and update the `libpq` too (which is already supported).

[2021-03-29 15:35] rkh-hash commented on #1932
That's why I said that's it's not **fully** supported because I cannot use SCRAM for password encryption 🙁 .

Furthermore, if you just upgrade Debian distribution, for example `php-7.0-cli` cannot be installed.

See below the error when I change the Debian distribution :

[code]

[2021-03-29 19:16] Shruti3004 opened #1938 "Connection of Apache engine to the Node Engine"
### Description

Since its UI is going to migrate on one of the framework/library of js, currently there is not a connection between apache engine and node engine.

#### Steps followed and expected result

/src/www/ui/api/index.php
`options` request is need to be added for every group

/src/www/ui/api/Controllers/AuthController.php
Need to add a `function` for the verification of options request

[2021-03-29 19:17] Shruti3004 commented on #1938
@GMishx I want to work on this issue

[2021-03-30 07:41] codeakki opened #1939 "Page not Found"
While opening a link of nomos agent such error displayed
![image](https://user-images.githubusercontent.com/76440986/112951617-2a233780-9159-11eb-940e-8d0e5af6adee.png)

It might be due to the new Doxygen version
now the page is located here: https://fossology.github.io/d1/d42/nomos.html

[2021-03-30 08:59] Shruti3004 commented on #1938
Hey @GMishx I have done with the conversion of code https://github.com/viv9k/FOSSOLOGY-UI-POC into react where i set up the connection between apache engine and node engine plus i am fetching the license and users as well, I am adding you as a collaborator you can check the codebase although i get it reviewd by vivek sir, the code architecture is clean and there is no redudancy in the code.

[2021-03-30 09:36] NicolasToussaint commented on #1873
Hi @itssingh,

Thanks ; this should be seen with @darshank15, who developed FossDash, who was also asking for details on how to fix a long time ago, sorry for being long to reply.

The thing is that the FossDAsh configuration page contains a pointer (see screenshot) to a [documentation page](https://github.com/darshank15/GSoC_2020_FOSSOlogy/wiki/Configuration-for-Fossdash-metric-reporting) hosted

[2021-03-30 09:54] Shruti3004 opened #1941 "A proxy error occured while processing the request for documentation"
### Description

The documentation link is redirecting the page to http://archive15.fossology.org/projects/fossology/wiki/User_Documentation
which is not available

#### How to reproduce

Help>Documentation
/src/lib/php/UI/Component/Menu.php
line 38
`menu_insert("Main::Help::Documentation", 0, NULL, NULL, NULL,
"<a href='http://www.fossology.org/projects/fossology/wiki/User_Documentation'>Document

[2021-03-30 10:02] Shruti3004 commented on #1941
@GMishx I want to work on this issue

[2021-03-30 10:30] darshank15 commented on #1873
Hi Team,

Thanks to @Nicolas for the guide and direction,
@itssingh <https://github.com/itssingh> Nice to hear that you are
interested in contributing to an open-source fossology. It would be great
fun.

The above issue really good for beginners, What you have to do is take
permission to make/Edit Fossology Page, Then Copy my steps of configuring
Fossdash from HERE
<https://github.com/darshank15/G

[2021-03-30 10:46] itssingh commented on #1873
@NicolasToussaint @darshank15 Thank You for detailed explanation.

[2021-03-31 11:26] Shruti3004 commented on #1941
@GMishx Should I update the link to this https://github.com/fossology/fossology/wiki?

[2021-03-31 11:30] GMishx commented on #1941
Yes, better.

[2021-04-01 14:46] KoukiHama opened #1943 "Non admin User delete their own upload files."
### Description

Currently, even if you are the one who uploaded the file, you cannot delete the file unless he is an admin user.
The function of setting that allows the user to delete their own upload files is useful.

I got comments about this in [slack.](https://fossology.slack.com/archives/C6NH0BY5N/p1617256046110600?thread_ts=1617111566.104400&cid=C6NH0BY5N)

You can start by changing the req

[2021-04-01 18:29] badboyguss commented on #1943
Can I work on this issue?

[2021-04-02 19:22] Piyussshh commented on #1935
I can remove these Grammatical errors.

[2021-04-05 05:47] GMishx commented on #1935
There is already a PR #1937 for this.

[2021-04-05 09:23] Aman-Codes opened #1946 "Update dependencies having security vulnerabilities"
### Description

- Currently fossology is using jQuery version 3.3.1(released on 20 Jan 2018) which has 3 security vulnerabilities
upgrade to latest version of 3.6.0 (released on 2 march 2021)
Reference: https://snyk.io/vuln/npm:jquery?lh=3.3.1

- Currently fossology is using select2 version 4.0.5 (released on 26 oct 2017) which has 1 security vulnerability
upgrade to latest stable version of 4.0.

[2021-04-05 11:48] Shruti3004 opened #1950 "Broken link in Upload instructions of scheduler documentation"
### Description

In Upload > Instructions the scheduler documentation is redirecting to the broken link.

#### How to reproduce

/src/www/ui/template/upload_instructions.html.twig line 82
`<a href="http://www.fossology.org/projects/fossology/wiki/Sched-20">{{ 'Scheduler documentation'| trans }}</a>.`

#### Screenshots

![Screenshot from 2021-04-05 17-10-12](https://user-images.githubusercontent.co

[2021-04-05 11:48] Shruti3004 commented on #1950
@GMishx i want to work on this issue

[2021-04-05 13:32] rkh-hash opened #1951 "Upgrade PostgreSQL database"
### Description

The goal of this issue is to upgrade the PostgreSQL version.

Be aware that for existing installation, you have to upgrade PostgreSQL instance.
May we able to automate these database upgrading operations ? or at least a script ?

#### Steps followed and expected result

See comments [here](https://github.com/fossology/fossology/pull/1936) for more details.

[2021-04-05 14:16] Kaushl2208 opened #1952 "Support Fossology installation on derived Distros (PopOS/ElementaryOS..etc)"
### Description

Currently, Fosslogy installation does not work on Debian derived distros.

cc:  @GMishx  @sjha2048

[2021-04-05 14:16] Kaushl2208 commented on #1952
I would like to take this up.

[2021-04-05 15:53] AshuKV commented on #1927
@GMishx Is it possible to add other contributors also to work on this issue?

[2021-04-05 17:39] Shruti3004 opened #1953 "Documentation of UI Architecture"
### Description

https://github.com/fossology/fossology/wiki/UI-Architecture-Overview
As mentioned in the documentation, the user interface directory structure is as follows:
`ui/common/  - All common code is stored here.`
`ui/html     - This directory contains all static HTML pages`
`ui/images   - This directory contains all image files`
`ui/plugins  - All code for plugins is stored here.`
`ui/te

[2021-04-05 17:40] Shruti3004 commented on #1953
@GMishx can you please guide me over it.

[2021-04-07 06:31] GMishx commented on #1950
Yes sure.

[2021-04-07 06:34] GMishx commented on #1951
Note: The version upgrade is related to `docker-compose.yml`

[2021-04-07 06:37] GMishx commented on #1952
Sure.

[2021-04-07 06:38] GMishx commented on #1927
Yes, we do not have any rules against it :slightly_smiling_face: Infact Open Source spirit encourages collaboration.

[2021-04-07 14:36] dineshr93 commented on #1894
Hi @mcjaeger

I got a error related to this ticket escpecially when parsing the rdf file (SPDX2_boost_1_59_0.zip_1611659988-spdx.rdf) of size **84 mb**

[code]

[SPDX2_boost_1_59_0.zip_1611659988-spdx.rdf.zip](https://github.com/fossology/fossology/files/6272370/SPDX2_boost_1_59_0.zip_1611659988-spdx.rdf.zip)

[2021-04-08 10:16] itssingh opened #1960 "copyright detects paragraph which is not part of the copyright"
### Description
I have scanned a file containing copyright, email and MIT license. Copyright result gives a next line paragraph(part of MIT License) in copyright/email result.

#### How to reproduce

Input file used: https://drive.google.com/file/d/1GtTwi3k1jYyjLl4J5dROHFm9mA8EBjP_/view?usp=sharing
Upload from file
check for copyright/email/url

#### Screenshots

![image](https://user-images.githu

[2021-04-08 16:36] Shruti3004 commented on #1953
@GMishx  please look to it

[2021-04-12 12:43] #1950 closed

[2021-04-13 04:54] drej opened #1963 "Agent version doesn't upgraded (Docker-compose version)"
### Description

Agent version doesn't upgraded after FOSSology upgrade

#### How to reproduce

I setup an instance of FOSSology using docker-compose. After uploading some files (database size 3.5GB, docker volume of repository is about 40GB), I upgrade FOSSology from 3.7.0 to 3.8.1.
Everything looks fine but I found that scanner version is still 3.7.0 in the Brower - [Upload file] - Scanner detai

[2021-04-13 05:14] GMishx commented on #1963
Hello @drej , the version you are seeing here is the agent version which last ran on that particular upload. For the new uploads you should see the 3.8.1 version.

And for the recoding step is optional at the moment but is recommended as the postgres encoding changed from `SQL_ASCII` to `UTF-8`. This will cause issues when upgrading database in future.
You can run this process in background like o

[2021-04-13 06:40] drej commented on #1963
@GMishx Hello, thank you for answering.
Unfortunately even the new uploads are still using the 3.7.0 version.
On my second FOSSology with not so much file uploaded, it shows me here that my latest run was using an old version of agent and I can rerun the agent with newer version if I like. I cannot see the same notification on my original FOSSology.

I also checked 'agent' table in database and fo

[2021-04-13 14:33] silverhook opened #1964 "Include ClearlyDefined score in Spasht"
That we now can access ClearlyDefined.io through FOSSology is pretty neat, but the data there is of mixed quality.

Luckily each package on ClearlyDefined.io includes a score. Filtering by that score would be really useful.

For example, if a package has a score of at least 87%, I would say that data is complete enough that a scan with FOSSology will not give me any new findings. If that could be

[2021-04-15 06:01] GMishx commented on #1963
Does that mean you have agents with version 3.7.0 and 3.8.1? That should be solved by a simple restart of scheduler daemon/docker container.

If that is not the case, can you please tell us the steps you followed to update the existing container?

[2021-04-15 07:40] drej commented on #1963
I mostly use the docker-compose.yml file in the source directly except that the mail program in docker-hub image didn't work for me so I build my own image on it.

[code]

My upgrade steps were just like below:

[code]

[2021-04-15 07:44] GMishx commented on #1963
Interesting. I am not sure what is going wrong here. I will give it a try from my end (upgrading from 3.7.0 to 3.8.1) and get back to you.

[2021-04-15 07:50] drej commented on #1963
Thank you very much.
I remember that I did a downgrade from 3.8.1 to 3.7.0 to see what would happen then back to 3.8.1 again. I don't know if that could be the reason of all this stuck :(
and I have more than 3.7.0 and 3.8.1 in my database:
![image](https://user-images.githubusercontent.com/1217733/114833539-aa5cc480-9e0a-11eb-9a49-d293d1dd790d.png)

[2021-04-15 10:28] Aman-Codes commented on #1303
Hello @GMishx, I would like to work on this issue.
Just wanted to clarify that do we need delete all personal_access_tokens WHERE active = 'f' OR expire_on < today
Or we want an option to specify the value of X (delete tokens expired X days ago)

[2021-04-15 11:02] GMishx commented on #1303
With the audit perspective, it is nice to keep the tokens for a predefined set of duration. So the "expire X days ago" sound a nice solution.

[2021-04-15 11:57] Aman-Codes commented on #1303
@GMishx  What would be the right place to save that value?
1. In sysconfig table in database so that it's value can be edited from the Admin>Customize page.
But that may also require to create a dbmigrate script to add the new row in earlier versions of fossology.

2. In UI provide an input box to enter the value each time the maintagent job is scheduled.
In CLI provide the value as additional com

[2021-04-15 12:04] GMishx commented on #1303
IMO, it should be put into the sysconfig table for easy access (you do not need migration script for this table).
Then the agent should accept it as a CLI parameter which will be fed by the UI reading from sysconfig table. So, if someone wants to run the agent from CLI, they can pass their own value without touching sysconfig.

What do you say?

[2021-04-15 12:07] Aman-Codes commented on #1303
Yes that sounds good. Will add it in sysconfig table.

[2021-04-15 12:23] GMishx commented on #1963
I used the exact same Dockerfile you shared and did the test with 3.7.0 and 3.8.1.
In a step by step manner:
1. I replaced the content of `Dockerfile` with what you shared for 3.7.0
2. Did `docker-compose up` and did some uploads.
    All good, they showed 3.7.0 agent versions.
3. I edited the `Dockerfile` and replaced 3.7.0 with 3.8.1, did `docker-compose down`.
4. Built a new image with `docker-

[2021-04-15 16:42] itssingh commented on #815
This page has info required to understand how to create a new agent  https://github.com/fossology/fossology/wiki/How-To-Create-An-Agent  and theis has some basics of agents https://github.com/fossology/fossology/wiki/Writing-a-FOSSology-agent-(new-work-in-progress). It would be nice if two pages are merged. What's say @mcjaeger @GMishx ?

[2021-04-16 16:13] sameer1046 opened #1966 "Same file upload warning in a folder"
While uploading a file in a folder, if the same file is already uploaded it should give a warning that the file is already uploaded.

[2021-04-21 17:54] dineshr93 opened #1968 "RDF/XML report has invalid uri for NOASSERTION"
### Description

The RDF/XML report generated from fossology has invalid uri for NOASSERTION

#### How to reproduce

upload any oss package in fossology & download the sample rdf/xml report from it.
Try to validate those rdf report in official spdx online validator tool https://tools.spdx.org/app/validate/

#### Screenshots
**Error screenshot**
![image](https://user-images.githubusercontent.com/44

[2021-04-21 18:05] dineshr93 commented on #1968
This also affects two places during report import I guess

[reportImport/agent/SpdxTwoImportSource.php#L252](https://github.com/fossology/fossology/blob/fb2d5e54311f084d65ec63daa9f5261cc7085b27/src/reportImport/agent/SpdxTwoImportSource.php#L252)

[reportImport/agent/SpdxTwoImportSource.php#L263](https://github.com/fossology/fossology/blob/fb2d5e54311f084d65ec63daa9f5261cc7085b27/src/reportImport/

[2021-04-22 04:49] Aman-Codes commented on #1364
Hi @silverhook @GMishx
The wiki page https://github.com/fossology/fossology/wiki/Access-Control and https://github.com/fossology/fossology/wiki/Permissions-and-Groups are exactly identical so one of them can be deleted.

[2021-04-22 08:54] mmurto opened #1969 "Edit short name in license administration"
Short name for licenses can't currently be modified in license administration. Would modifying them cause issues somewhere? It would be useful for custom licenses.

[2021-04-22 12:57] silverhook commented on #1364
Good catch, @Aman-Codes.

I just changed the content of Premissions-And-Groups to point to Access-Control, in case anyone still looks at that page.

[2021-04-22 13:01] dineshr93 commented on #1968
But the existing rdf file is parsed correctly by sw360 if we make this change then we have to make sure sw360 parser does not  throw error.

[2021-04-23 11:12] C1ph3R-s opened #1970 "Nginx config"
Hi ,

I would like to redirect httpd (8081) to nginx (443) port.

Do you have any suggested config for nginx?
Do you have any solution for change /repo uri for / ?
Thanks,

[2021-04-26 08:09] GMishx opened #1972 "Limiting job status scope to child jobs only"
### Description

While testing PR #1955, found following thing.
For an upload, there are only 2 failed jobs (readmeoss and ojo) but the REST API says `"status": "Failed"` for every single job even when all child job has `"status": "Completed"`.

Maybe the `"status"` of a job can be limited only to its child jobs' statuses.

#### Screenshots

![image](https://user-images.githubusercontent.com/18077

[2021-04-26 09:22] GMishx commented on #1970
I have never worked with nginx before but maybe following can help
[code]

And you can remove the `/repo` in apache too by just removing `Alias /repo /usr/local/share/fossology/www/ui` from `/usr/local/etc/fossology/conf/src-install-apache-example.conf` and adding `DocumentRoot /usr/local/share/fossology/www/ui` in either port 80 or 443 configuration file.

Hope this information will be helpful.

[2021-04-26 12:26] GMishx commented on #1968
Seeing https://github.com/fossology/fossology/blob/3599708c68c7868141162ca7c623c13d368b365c/src/spdx2/agent/template/spdx2-file.xml.twig#L46 and https://github.com/fossology/fossology/blob/3599708c68c7868141162ca7c623c13d368b365c/src/spdx2/agent/template/spdx2-package.xml.twig#L53 seems issues not in twig files but the issue might be here: https://github.com/fossology/fossology/blob/3599708c68c786

[2021-04-26 13:50] dineshr93 commented on #1968
[SPDX2_commons-lang3-3.9-sources.jar_1619444663-spdx.rdf.txt](https://github.com/fossology/fossology/files/6377530/SPDX2_commons-lang3-3.9-sources.jar_1619444663-spdx.rdf.txt)
attaching rdf report(added .txt for github support)

One more observation that I have noticed is
 uri for noassertion is correct in some place of the file & incorrect in few places as well

[2021-04-26 19:40] #1843 closed

[2021-04-26 19:40] sameer1046 commented on #1843
Its implemented

[2021-04-27 20:54] NicolasToussaint commented on #1513
Since we're working on the integration of other parts of REUSE.Software specifications, we can also take care of the SPDX Copyright keyword.

[2021-04-29 04:13] Parathps7 commented on #1939
Hi ,I want to work on this issue.

[2021-04-29 10:59] avinal opened #1973 "PHP exception while running CLI tools `cp2foss`, `fossjobs` etc."
### Description
FOSSology CLI tools throw PHP exceptions while passing array arguments to the command.

#### How to reproduce
##### `cp2foss`
1. Upload file/folder/from version control using CLI by running following command
[code]
2. The following PHP exception is thrown (*Note: The last argument `-q` accepts an array of arguments separated by commas)
[code]
#### Screenshots
![image](https://user-

[2021-05-03 04:23] GMishx opened #1977 "The port for web container need to be reverted"
The port of web container in docker-compose was changed to 8082. It needs to be reverted back to 8081 as per the readme instructions.

https://github.com/fossology/fossology/blob/3599708c68c7868141162ca7c623c13d368b365c/docker-compose.yml#L57

[2021-05-04 07:39] #1977 closed

[2021-05-04 12:42] C1ph3R-s commented on #1075
Hi,

Have anyone a working solutions for this?  Can anyone present it?

Thanks,

[2021-05-04 12:48] C1ph3R-s commented on #1970
Thanks,

Solution:

After you remove or comment out this line  `DocumentRoot "/var/www/html"`  in /etc/httpd/conf/httpd.conf, and modify to `DocumentRoot "/usr/local/share/fossology/www/ui"`, you could create you own nginx.conf conf.
[code]

[2021-05-04 12:48] #1970 closed

[2021-05-06 03:14] dineshr93 opened #1980 "API simultaneous scan Error: How to increase no of simultaneous scan from 10 to 20"
### Description
I have been triggering 50 fossy scan simultaneously via API. It is showing below message in api response if it simul scan reaches 10.
**Max 10 FOSSology Process can be triggered simultaneously. Please try after sometime.**

How to increase no of simultaneous scan from 10 to 20 & more

#### How to reproduce
Been using details from below api guide for triggering the fossy scan for 20

[2021-05-06 10:09] GMishx commented on #1980
Hello @dineshr93 ,

I feel these endpoints and responses are not exposed by FOSSology, maybe SW360?

Any ways, you can change the number of simultaneous jobs FOSSology can run by editing `/etc/fossology/fossology.log` or `/usr/local/etc/fossology/fossology.conf` and look out for following lines:
[code]

The format is `{simple name} = {qualified domain name} {configuration directory} {Max simultane

[2021-05-06 14:20] dineshr93 commented on #1980
@GMishx  Thanks for the info. Yes i am triggering the scan via sw360

[2021-05-06 14:20] #1980 closed

[2021-05-06 15:39] dineshr93 commented on #1980
Hi @GMishx Two more question.

Since I am runnng the fossy in docker container I think to increase the peformance of machine I need to install fossy from src or increase docker ram right?
after changing the fossology.conf how to restart the scheduler? sudo service apache2 restart right? or is there any step I need to take care?

[2021-05-06 16:09] GMishx commented on #1980
Hi @dineshr93 ,

I am not 100% sure but yeah that will improve nomos, copyright and monk at least. Otherwise installing on the machine allows FOSSology to use the complete resources.

You need to restart the fossology daemon `sudo service fossology restart` (do check the docker logs, it sometimes required 2 restarts).

[2021-05-07 06:02] todd101 opened #1983 "Jobs processed slowly on continuously receiving the "Software Heritage X-RateLimit-Limit reached" message"
### Description

Hi,

    I am now trying to analyze the OSS compliance of one software package using Fossology built from Github source on Ubuntu 18.04 by the following steps.

1.  Upload the *.tar.gz file by compressing the software package.
2.  Check the status in the "Job" menu.

    Everything went well when uploading a small tarball composed of 8 files. However, the job was blocked on the So

[2021-05-07 06:59] C1ph3R-s opened #1984 "Missing response , /repo/api/v1/uploads, api"
Hi,

I have a working solution for automate my licence check, but unfortunatelly my api does not work well.
So when I want to list my upload ids from api, it give back for me empty response.

Request
`/repo/api/v1/uploads`

Response:
`[]`

Until now, it worked well.

Do you have any idea for that?

Thanks,

[2021-05-07 07:34] GMishx commented on #1984
Can you please check the Apache error logs `/var/log/apache2/error.log`?
Or if you are running on Docker, then please check the container logs `docker logs -f <container-id>`

[2021-05-07 07:54] C1ph3R-s commented on #1984
Hi,

I use httpd with nginx, so you can check logs below (no any error):

==> access_log <==
[07/May/2021:09:50:19 +0200] "GET /repo/api/v1/uploads HTTP/1.1" 200 2 "-" "curl/7.61.1"
[07/May/2021:09:50:21 +0200] "GET /repo/api/v1/uploads HTTP/1.1" 200 2 "-" "curl/7.61.1"
 [07/May/2021:09:50:22 +0200] "GET /repo/api/v1/uploads HTTP/1.1" 200 2 "-" "curl/7.61.1"

==> nginx access.log <==
[07/May/2021:

[2021-05-07 07:55] GMishx commented on #1984
Anything on the error logs?

Can you please try `/repo/api/v1/uploads/<upload-id>` and see if it works?

[2021-05-07 08:00] C1ph3R-s commented on #1984
Sure, where can i check upload id in gui? Unfortunately, I always check these with api calls.

[2021-05-07 08:05] C1ph3R-s commented on #1984
Meanwhile I have found, it

<img width="581" alt="Screenshot 2021-05-07 at 10 04 49" src="https://user-images.githubusercontent.com/12477373/117418482-c3452b00-af1b-11eb-94ba-6d32af99211d.png">

so the response:

[code]

[2021-05-07 08:05] GMishx commented on #1984
Oh, in that case, there can only be something in the codebase being wrong which should be noted in the error log.

In the GUI, if you open any of the upload, you get this URL> `http://localhost/repo/?mod=license&upload=44&folder=1&item=60301&show=quick` and there is the upload id, 44.

[2021-05-07 08:08] GMishx commented on #1984
So maybe you are in wrong group? Do check header `groupName: <your-group>`

[2021-05-07 08:14] C1ph3R-s commented on #1984
That's could be an options, how can I check that?

[2021-05-07 08:15] GMishx commented on #1984
You can do that in two ways:

1. From GUI, check the group from the drop-down in the top right corner.
2. From REST, send the required group name via `groupName` header.

[2021-05-07 08:22] C1ph3R-s commented on #1984
I have a user for uploads (username:asdf), so currently i'm use `asdf`  user in `asdf` group.

[2021-05-07 08:34] C1ph3R-s commented on #1984
Where can I find this error log?

[2021-05-07 09:11] C1ph3R-s commented on #1984
I have generated a new token, and it gave back this, now:

[code]

[2021-05-07 09:27] todd101 commented on #1983
After running more than 4 hours, the job terminated on failure.

By checking the log generated under Geeky Scan Details, it seemed that the failure was caused by losing connection to the host. Does it mean the scheduler lost connection to the Fossology service? What is the possible reason of this failure?

    Thanks.

          Todd

2021-05-07 16:59:15 softwareHeritage [0] :: JOB[187].softwareHe

[2021-05-07 10:05] GMishx commented on #1984
I am not sure what is going on there. But your last message definitely means something went wrong.

You need to check your error logs. It should be marked with `error_log` directive in your nginx config (see [this](https://linuxize.com/post/nginx-log-files/)).

[2021-05-07 10:10] C1ph3R-s commented on #1984
I pasted logs here: https://github.com/fossology/fossology/issues/1984#issuecomment-834148484 , but unfortuantelly not any error in these.

Do you have another idea?

[2021-05-07 10:18] C1ph3R-s commented on #1984
Probably It will be a permission issue.

[2021-05-07 10:19] dineshr93 commented on #1980
Hi @GMishx  One more question if I plan to migrate the docker setup to native from source setup, how to retain the existing data which is currently available in docker volumes?

[2021-05-07 10:29] GMishx commented on #1983
Hello @todd101 ,

The Software Heritage API performs a rate limiting on the REST API. Please see [their website](https://archive.softwareheritage.org/api/#rate-limiting)

So the logs `INFO :Software Heritage X-RateLimit-Limit reached. Next slot unlocks in 00:58:49` mean that the server has hit the rate limit and will be waiting for next 59 minutes (depends upon `X-RateLimit-Reset` sent) before sen

[2021-05-07 10:38] GMishx commented on #1980
You need to connect to the docker container running the fossology and get a dump of fossology database.
[code]

Then on your other host, restore it from the `dbdump.sql` file.
[code]

And if you are migrating from old Postgres version, you might want to [re-code DB to UTF-8](https://github.com/fossology/fossology/wiki/Migration-to-UTF-8-DB#fixing-pg_dump-fast)

[2021-05-07 10:54] GMishx commented on #1984
https://github.com/fossology/fossology/issues/1984#issuecomment-834148484 only contains access logs. Please check for error logs configured for nginx.

Also, not getting the uploads in `/api/v1/uploads` can be a permission issue, but getting `<script>(function (c) {if (c && c.groupCollapsed) {` in response means a 500 error on server.

[2021-05-07 11:11] #1477 closed

[2021-05-07 11:13] #279 closed

[2021-05-07 11:14] #1896 closed

[2021-05-07 11:15] #1112 closed

[2021-05-07 11:16] #1911 closed

[2021-05-07 11:17] #1884 closed

[2021-05-07 11:24] #1946 closed

[2021-05-07 15:11] C1ph3R-s commented on #1984
Thanks, I have solved the issue.
I have another question, Do you have an idea to kill all jobs in queue?

[2021-05-07 15:14] GMishx commented on #1984
Nice that the issue was resolved.

And the jobs can be killed only from the GUI at the moment. You need to goto Jobs > My Recent jobs.

[2021-05-07 15:21] #1984 closed

[2021-05-07 19:46] Obilivion commented on #1983
Interesting... Just yesterday I had a call with Roberto from Softwareheritage.
He told me, that I should contact you from Fossology to tell you to use the BULK Api, instead of the single file requests. They would like to reduce the traffic by using bulk request.

Maybe you can contact them if it does not work for you?

[2021-05-08 02:13] todd101 commented on #1983
Hello GMishx,

    Thanks for pointing out this issue was caused by reaching the rate limit of the REST API sent to the server of the Software Heritage. I think that's the reason why the Software Heritage analysis works for smaller files. I will see if I could get higher rate limit by setting the authentication tokens.

    Thanks.

      Todd

[2021-05-08 13:37] todd101 commented on #1983
Hi Obilivion,

    Thanks for sharing the BULK API information.

    As you mentioned, it's reasonable to reduce the traffic by using the bulk API instead of sending the REST API for
each single file.

    By checking the release note, the Software Heritage Analysis agent was added in 3.8.0 release candidate 1.
In 3.8.0 release, I saw the note of the Software Heritage Rate limiting item as GMishx

[2021-05-10 08:40] dineshr93 opened #1987 "How to delete the licenses created accidently ?"
### Description
(This is not a bug. Just a request for help)
Someone in our team has accidently created this license with name 10.2 & 10.7 & now we cant able to delete them.

#### How to reproduce
Not sure how the license included there.. Is there a way to trace which account has added those license?

#### Screenshots

![image](https://user-images.githubusercontent.com/4498415/117630261-4e702c00-b

[2021-05-10 08:43] dineshr93 commented on #1987
If not possible to delete in UI, Please help us with the table that we need to look to delete

[2021-05-10 09:41] SiddarthHS commented on #1987
In License Administration, I can see that license ''10.2" under License family name, however, I cannot list the license in order to make it inactive.

![image](https://user-images.githubusercontent.com/40847708/117639462-8db17380-b1a1-11eb-9e49-8356e5cd8a71.png)

[2021-05-10 10:29] GMishx commented on #1987
It is not possible to delete the license from the UI but it can be deactivated so that monk does not pick it for scanning. To do that, just find the license in License Administration, edit it and mark **"Active"** as No.

To delete it, you need to find the license in `license_ref` and `license_candidate` tables. You can search with column `rf_shortname` being the shortname or `rf_fullname`.

[2021-05-11 10:48] zacchiro commented on #1983
Heya, Software Heritage co-founder here. I think there are two intertwined matters here. Let me see if I can clarify them and then we can discuss what's the best way forward.

1) rate-limit: yes, there is a rate limit quota. By default it is quite low, as observed. Registered users get 10x the default quota (since last week). And people can get in touch with us to request rate limit lifting for sp

[2021-05-12 10:33] todd101 commented on #1983
Hello Zacchiro,

    Thanks for providing your comments on this issue.

    Since I am a newbie to Fossology and Software Heritage, sorry if I ask any stupid questions.

    Instead of digging into the rate-limit or bulk API design philosophy, I would like to know what user can do to leverage the
Software Heritage archive to check for OSS compliance. By using the Fossology toolkit, we can run lice

[2021-05-12 10:58] zacchiro commented on #1983
Dear @todd101, to be clear, it is called the "Software Heritage agent" within FOSSology, but it has not been developed by us at Software Heritage. Rather, it is my understanding that it has been developed by FOSSology developers in the past in the context of a Google Summer of Code project. I don't know much more than that, so I think FOSSology people will be more qualified to answer your question

[2021-05-13 09:59] dineshr93 commented on #1987
Hi @GMishx , Since we have installed the fossy via docker-compose, how to access the psql shell in the postgresql running docker ?
I cant able to invoke the psql in docker to access the above db..

I have done following
![image](https://user-images.githubusercontent.com/4498415/118109968-20d8ec00-b3e2-11eb-9e56-19796c3d09d2.png)

and when i checked `cat /var/lib/postgresql/data/pg_hba.conf`
![imag

[2021-05-13 10:36] GMishx commented on #1987
Oh, you need to use `psql -U fossy -d fossology -h db -p 5432`. Password will be `fossy` by default or what you've put in `docker-compose.yml`.

[2021-05-13 13:09] dineshr93 commented on #1987
docker ps

docker exec -it fossology_db_1 bash

psql -U fossy -d fossology -h db -p 5432

password: (as in docker-compose.yml)

\c fossology

select rf_pk, rf_shortname from license_ref;

delete from license_ref where rf_pk in (id1,id2);

ctrl+D (to quit)
exit (until you see the user)

[2021-05-13 13:09] #1987 closed

[2021-05-13 14:24] #1303 closed

[2021-05-17 06:27] drej commented on #1963
I think I figured out what's happened there.
Before I upgraded my FOSSology to 3.8.1, it was 3.7.0-rc1 on my server.
I upgraded FOSSology from 3.7.0-rc1 to 3.8.1 then downgraded it to 3.7.0 (not rc1!!!). Therefore I got an agent table like below:

- 3.7.0-rc1 agents
- 3.8.1 agents
- 3.7.0 agents

When I upgrade to 3.8.1 again, no new agent records add to agent table because it was there already.
I

[2021-05-17 08:50] dineshr93 opened #1989 "missing license text for spdx licenses in sw360 report fetched from spdx"
### Description

Not sure if it is related to fossy. But the reporting feature of sw360 is tied to fossy spdx clearing

https://github.com/eclipse/sw360/issues/1217

#### Screenshots

refer https://github.com/eclipse/sw360/issues/1217

### Versions

* Last commit id on master: Version: [3.10.0], Branch: [HEAD], Commit: [#82f63a]
* Operating System (lsb_release -a):

[2021-05-17 10:03] dineshr93 opened #1990 "Is there a way to check upload already exists & Avoid double upload for fossy clearing"
### Description
Is there a way to check a file to be upload, already exists & Avoid double upload for fossy clearing or in other words is there a way to find & reuse existing spdx results via sw360

    Last commit id on master: Version: [3.10.0], Branch: [HEAD], Commit: [#82f63a]
    Operating System (lsb_release -a):

[2021-05-17 10:19] dineshr93 opened #1991 "Bulk recognition can be improved further (on regexes, line break tolerance, comment indicators, …)"
### Description
Bulk recognition can be improved further on below points
1. enable regexes,
2. line break tolerance,
3. comment indicators,

and

Enable "**Apply decision to all future occurrences of this file**" for bulk recognition as well, which will save lot of re efforts.

[2021-05-17 12:29] GMishx commented on #1963
Thank you for detailed analysis on the situation @drej.
So, whenever the fossology scheduler runs, it sees if the agent with current version and revision already exists in DB. If not, it creates a new entry for it. Otherwise, leave it as is.
And at other places like UI and while inserting a new entry in DB, the last created agent ID is used from the table.

The upgrade/downgrade made FOSSology thi

[2021-05-18 15:08] NicolasToussaint commented on #1833
Teaser: with @bartos and @piotreke12 we have been working on this, with a new REUSE.Software agent (shortened ReSo)

There are still quite a few things to fix and polish, but the main feature is here:
![Fossology_Reuse](https://user-images.githubusercontent.com/22956329/118675984-55421300-b7fb-11eb-96b1-dca694f9aae2.gif)

We will clean and publish the feature soon, there will be plenty of room for

[2021-05-20 00:50] todd101 commented on #1983
Dear All:

    Thanks GMishx, Obilivion, and Zacchiro for your help on this issue.

[2021-05-20 00:50] #1983 closed

[2021-05-25 07:06] Amit-Morade commented on #1928
Can I work on this issue.
If yes I would need to know what languages has been used as I can see JS and PHP. If anything else has been used please mention.

[2021-05-25 07:13] Amit-Morade commented on #1966
Can I work on this issue? I think I can solve this.

[2021-05-25 07:21] Amit-Morade commented on #1371
Can I work on this issue?

[2021-05-25 07:33] GMishx commented on #1966
Hi @Amit-Morade , thank you for your interest. I will assign the ticket to you then :+1:

[2021-05-25 07:34] GMishx commented on #1371
Yes sure, I will assign the issue to you :-)

[2021-05-25 13:14] #1938 closed

[2021-05-26 08:15] alexeyhohlov opened #1999 "question/save results of analysis without source code"
Dear all,
Is it possible to remove all sources after the scanning on copyrights/licenses, but save information about the found licenses and don't store scanned code?

[2021-05-26 09:40] GMishx commented on #1999
Hello @alexeyhohlov , you can export the license/copyright scan results in forms of various reports. Most popular being Unified report and SPDX RDF.

The SPDX and DEP5 reports are machine readable and can be translated with help of tools.

Do checkout our video: https://youtu.be/TZqU5ZALI7U?t=3570

There is also an option to export the results in form of CSVs. While in an upload, look for **"Expor

[2021-05-27 06:11] GMishx commented on #1990
Hello @dineshr93 , there is an endpoint called `/filesearch` build for this. Please check if this will solve your purpose:
https://github.com/fossology/fossology/blob/e779fb062e5b4a5f91da2a19e86150b7c0442835/src/www/ui/api/documentation/openapi.yaml#L1030-L1061

[2021-05-27 07:24] #1928 closed

[2021-05-28 09:57] C1ph3R-s opened #2002 "Info, data store, git, on-premise"
Hi,

I have some questions about the workflow in fossology.

So first of all, where store datas when it clone a repo from git?
How can I check, fossy will not upload my datas to cloud or anywhere?
Fossology it an on-premise solution right?

Sorry but I didn't find any info about these on the website (or I have missed something)

Thanks.

[2021-05-29 18:03] C1ph3R-s opened #2003 "Fossology Api, uploads, folder contents"
Hi,

I have a problem with API.

So when I want to list my uploads, with this command:

`curl -k -s -S -X GET -H "Authorization: Bearer $fossy_api" $Fossology_API/uploads?limit=1000 | jq -r '.[]`

It gives me back only the first folder content. Do you have any idea for that?

[2021-06-01 08:47] deveaud-m commented on #2003
According to the OpenAPI specification, the `limit` option must be in the header: https://github.com/fossology/fossology/blob/master/src/www/ui/api/documentation/openapi.yaml#L271

Your cURL command should be build like this:
[code]

Could you give it a try?

You can also use the OpenAPI editor to better visualize and understand how to use parameters for your rest calls: https://editor.swagger.io/

[2021-06-01 12:27] GMishx commented on #2003
Adding to reply of @deveaud-m , the endpoint also has `recursive` header. You can set it to `true` or `false` to include child folders or not.

[2021-06-01 12:57] GMishx commented on #2002
Hello @C1ph3R-s ,

When you upload a file from GIT, it is cloned in `/srv/fossology/repository/$(hostname -f)`. Once cloning is complete, the contents are them moved inside `/srv/fossology/repository/localhost/` based on file hash. The cloned folder is then removed from disc.

To check the location where your files are stored, please check the `path` variable in `/usr/local/etc/fossology/fossology

[2021-06-01 13:15] Aman-Codes commented on #2003
Also there are some GitHub actions available like [this](https://github.com/peter-evans/swagger-github-pages) to automate the deployment to GitHub pages.
I have even deployed it on https://aman-codes.github.io/SwaggerApiDoc/ long time back

[2021-06-02 10:55] C1ph3R-s commented on #2002
Thanks, That is what I have searched. :)

[2021-06-02 10:56] #2002 closed

[2021-06-03 11:41] C1ph3R-s commented on #2003
@deveaud-m Thanks, This setup has been solved my issue

[2021-06-03 11:41] #2003 closed

[2021-06-03 12:44] prsmahajan commented on #1972
Hi, I would like to work on this issue, can you suggest me to get started?

[2021-06-03 12:44] prsmahajan commented on #1966
Hi, I would like to work on this issue, can you suggest me to get started?

[2021-06-03 13:17] GMishx commented on #1972
Thank you for your interest @prsmahajan . I will assign the ticket to you.

And for pointers, when PR #1955 gets merged, the following functions needs to be updated:
https://github.com/fossology/fossology/blob/9053f619aaab5e59ed37bdbf86f2a2969f8c76de/src/www/ui/api/Controllers/JobController.php#L223 https://github.com/fossology/fossology/blob/9053f619aaab5e59ed37bdbf86f2a2969f8c76de/src/www/ui/api

[2021-06-03 13:18] GMishx commented on #1966
Hello @prsmahajan, thank you for your interest. You can contact @Amit-Morade as he is also interested in working on this issue.

[2021-06-03 17:40] sameer1046 opened #2006 "Facility to upload folder to fossology"
### Description

Currently fossology support file upload functionality.
When a folder has lot of components u need to upload one by one.

#### Steps followed and expected result
in upload tab there should be one feature to process the uploaded compressed file as a folder and after uploading that, a parent folder should be created and all files inside that folder should be processed as files accord

[2021-06-04 12:25] deveaud-m opened #2007 "REST API: filter criteria for list of uploads"
### Description

In our continuous effort to automate Fossology workflows, we regularly check all uploads available on a given instance.

When the instance is under heavy utilization, listing all available uploads can consume lots of resources.

Having the possibility to filter the list uploads according to different criteria would help us a lot, e.g.:

* all uploads with clearing status `closed`

[2021-06-07 16:10] prsmahajan commented on #2007
Hi, I want to contribute to this issue, Can anyone suggest ways to get started?

[2021-06-08 20:33] dineshr93 commented on #1990
Thanks.. When working with sw360 it automatically uploads to fossy from sw360 without checking if already exists in a given folder id.

[2021-06-08 20:47] dineshr93 commented on #1987
@GMishx  In continuation to this ticket, I am trying to update the Apache 2.0 license text in table license_ref
because apache 2.0 there is unnecessazy spaces.  check [ReadMe_OSS_fastjson-1.1.54.android-sources.jar_1623183009.txt](https://github.com/fossology/fossology/files/6619464/ReadMe_OSS_fastjson-1.1.54.android-sources.jar_1623183009.txt)

I tried below update script but it did not work

[co

[2021-06-09 04:07] GMishx commented on #2006
We had a discussion on the issue and finalized that instead of letting FOSSology create folders based on archive content (which can lead to unwanted results for person unaware of it), ability to provide multifile upload will be better. Doing so, user can create folders as they need and then upload multiple files at once using the web UI or REST API.

[2021-06-09 04:15] GMishx commented on #1987
I think you can give line breaks in Postgres strings. So something like this should work
[code]

Otherwise, this update can be done from the UI as well under the Admin menu > License Admin > Select license and then find Apache-2.0 and edit it from there.

[2021-06-09 08:19] #1963 closed

[2021-06-11 11:45] deveaud-m commented on #2007
I suppose you'd need to understand how uploads are retrieved from the Fossology DB and which SQL parameters can be added to filter those.

Afterwards, that's just a matter of providing the corresponding options via the REST /uploads endpoint.

But I think @GMishx can provide more details on the way to go.

[2021-06-11 17:34] GMishx commented on #2007
Here is the Upload Controller which handles the calls to `/uploads` endpoint: https://github.com/fossology/fossology/blob/master/src/www/ui/api/Controllers/UploadController.php#L97

It uses Db Helper functions where you'll find the SQL queries: https://github.com/fossology/fossology/blob/master/src/www/ui/api/Helper/DbHelper.php#L98

The relevant information should be contained as columns of `uplo

[2021-06-13 07:58] sameer1046 opened #2012 "Every user of Fossology is a group itself"
In Fossology, **Admin>>Groups>>Manage Group User** every user is a group itself, which is invalid from the point of view of an web application.

Fossology should not show all users as groups and show only groups that has been created by admin..

[2021-06-15 06:49] drej opened #2014 "After adding a license comment, the 'Processing' textbox shows forever"
### Description

FOSSology 3.8.1 ON RHEL 7&8
After adding some license comment text, the page shows me a textbox with 'Processing' then the page won't change anymore.
I can still make some changes, like add an user decision license, and I check the db found the change has been recorded into the db.
I can leave that page using FOSSology as usual but that 'Processing' box would never disappear.

If

[2021-06-15 07:48] #1927 closed

[2021-06-17 11:16] Aman-Codes opened #2017 "Add /users/self API"
### Description

Create a new API `/users/self` in fossology which returns the user details of the user who calls that API.
As currently Get request to `/users` returns data of all the users in the system for the admin.

#### Steps followed and expected result

Create a new API which return the user details of that user only by checking the API token

[2021-06-17 16:16] dineshr93 opened #2018 "Very slow in loading the license browser page"
### Description
i recently upgraded to latest version of fossy 3.10.0

the license browser page was loading very slowly. check below gif screenshot

should i do the maintenance ? as mentioned here https://github.com/fossology/fossology/issues/1279?
if so how long it will take ? days or hours?

#### How to reproduce
upgrade the existing production server with lots of previous uploads to latest vers

[2021-06-17 17:37] GMishx commented on #2018
Hello @dineshr93 , I guess this is due to large amount of data change (since you recently upgraded the version). The maintenance will definitely help, specifically the reindexing and vacuum analyze.

It takes approx 4 hours for a database 250 GB in size. So about 1 hour per 60 GB of DB (Admin > Dashboards > Overview).
It is highly advisable to run it when no one is using the server as the maintena

[2021-06-17 17:53] dineshr93 commented on #2018
It is now speedy. Thanks

[2021-06-17 17:53] #2018 closed

[2021-06-18 00:35] wla80 opened #2020 "Add clearing decision based on the combination of licenses"
Fossology detected > 10k files with GPL3.0+ & Autoconf-exception in our code base. As an admin, it's horrible for me to go through such large list of files to add the clearing decision. Is there a way to enforce a policy that

1. do not report the files strictly with GPL3.0+ & Autoconf-exception licenses on the fossology UI
2. or enforce the clearing decision for files strictly with GPL3.0+ & Auto

[2021-06-18 07:51] JustinWonjaePark opened #2021 "Nomos misses a GPL-2.0 expression"
### Description

When I scan libidn2-2.0.5 source code, nomos missed a expression for GPL-2.0
while it catches LGPL-3.0 with similar expression.

The expression was as below.

Where you can find the file : https://gitlab.com/libidn/libidn2/-/blob/libidn2-2.0.5/lib/bidi.c

#### How to reproduce

Scan libidn2-2.0.5

### Versions

* Last commit id on master: #08952d

[2021-06-18 08:35] mxmehl commented on #1833
Great request and proof of concept, thank you!

One minor request: is "ReSo" the best name for the agent? I'm not sure I would understand that REUSE is meant by that. Is "reuse" or so already blocked or misleading?

[2021-06-18 10:33] NicolasToussaint commented on #1833
Indeed, we were facing the following issue *REUSE.Software* is too long to be used everywhere in the interface and the term *reuse* already refers to an option that reuses the results from previous scans...

Although the full name *REUSE.Software* might fit in the table:
![image](https://user-images.githubusercontent.com/22956329/122548176-4c7a7200-d031-11eb-9f1d-838ac62213f7.png)

I will follow t

[2021-06-21 01:42] alan7622 opened #2025 "/api/v1/search permission issue"
I have a group called test and I set fossy fossy to upload file as (Visible only for active group), however when I used the API
=>
curl -X GET "${{ parameters.fossologyUrl }}/api/v1/search" -H "Authorization: $(mytoken)" -H 'accept: application/json' -H 'groupName: test'  -H 'searchType: allfiles' -H 'filename: ${{ parameters.queryService }}.tar.gz'

it gave me a response {"code":403,"message":"Up

[2021-06-21 12:29] GMishx opened #2026 "Password not working from CLI"
### Description

Due to recent changes in UI about the password hashing, the C/C++ agents stopped authenticating from CLI.
The agents are still using SHA1 and expect the hash to be 40 characters in length (causing overflow error).

But the major problem is in finding a standard library to perform [bcrypt encryption](https://en.wikipedia.org/wiki/Bcrypt) in C/C++ to match the hashing from UI.

http

[2021-06-22 06:22] shaheemazmalmmd opened #2027 "Remove unnecessary log using maintenance agent"
### Description

Whenever we use re-use agent, Some unnecessary  logs gets created. which is not required though.
also we can remove the logs which are older then 1 year or 6 months.

#### Steps followed and expected result

* Upload a package using some older package through re-user agent.
* After the scan gets completed click on job id and check the log.

#### Version

On latest master

[2021-06-24 16:04] Shruti3004 opened #2031 "REST API: Pagination feature in the Search request"
### Description

Pagination feature for the `/search` request, on the UI we are seeing the files at different pages in the current implementation, but on making the request it is giving all the files at once and we have to apply filter on our UI but that will anyhow create the load on server.

#### Screenshots

![Screenshot from 2021-06-24 21-34-04](https://user-images.githubusercontent.com/561337

[2021-06-25 03:59] Shruti3004 commented on #2031
@GMishx while making the search page i get to know actually it is giving 100 responses only but thre is no pagination thing mentioned in the swagger, and how we will get the further files.

[2021-06-25 04:04] Shruti3004 opened #2032 "REST API: Upload filter in the api"
### Description

At present, we are having pagination system in the upload api but since in the current implementation of Browse page we are having search filter on each of the category, if user search for any file and if that file doesn't exist on that page index then we are not able to deliver the correct data, or we have to make the request for all the files which in return increase the load on

[2021-06-28 11:02] GMishx commented on #1990
@dineshr93 Then SW360 can use this endpoint and provide the feature to prevent duplicate uploads.

[2021-06-28 11:03] GMishx commented on #1999
Closing the issue for now, please reopen @alexeyhohlov if required.

[2021-06-28 11:03] #1999 closed

[2021-06-28 11:03] #1990 closed

[2021-06-28 11:04] GMishx commented on #2032
Duplicate of #2007

Closing here.

[2021-06-28 11:04] #2032 closed

[2021-06-28 11:11] GMishx commented on #2014
Please check the network tab in the developer tool for your browser and check if there is a 500 error when you perform this operation.

Please share the Apache error log so we can help you further. They will be available at `/var/log/apache2/error.log` on the `web` container. Or even check the `docker logs -f web` and please share the logs.

[2021-06-28 11:25] GMishx commented on #2025
I am not sure, there is no permission check on the REST API for `/search`. There is one in library but it simply ignore the inaccessible uploads and does not throw an error.

You can also check the group you are using with `groupName` header value.

[2021-06-28 11:28] GMishx commented on #2031
Apparently, there is already a limit and pagination in the library. Just need to expose it from API.

https://github.com/fossology/fossology/blob/6fcd4005a4b5783e67377231fdca11e5d5dc7c4a/src/www/ui/search-helper.php#L42

[2021-06-28 13:44] lakshmibhavani1 opened #2035 "Db migration issue (3.10) - duplicates in license_ref table."
### Description

During db migration for 3.10 release we faced the following issue :

ERROR:  duplicate key value violates unique constraint "rf_md5unique"
DETAIL:  Key (rf_md5)=(0855ee4fd461fcdec4e9663993XXXX) already exists.

**fossinit.php** is trying to update the license **Info-ZIP** in the license_ref table, but due to the UNIQUE constraint, it fails since there were duplicates.
We have foun

[2021-06-29 07:21] #2017 closed

[2021-06-29 07:26] #1973 closed

[2021-06-30 04:18] drej commented on #2014
@GMishx Thank you for responding.
There is a 500 error when loading jquery.min.js
![image](https://user-images.githubusercontent.com/1217733/123900983-116b2d80-d9a5-11eb-9d29-227d326f7658.png)
and I checked the error.log:
[code]

[2021-06-30 04:30] GMishx commented on #2014
Oh, looks like issue with some non-UTF8 characters in license text. It should've been fixed by #1994 and #1996

[2021-06-30 06:10] drej commented on #2014
@GMishx Thank you for answering
I tested the latest version on Docker hub (ver 3.10.0.83), the keep showing 'Processing...' has gone, but I found another thing:
![image](https://user-images.githubusercontent.com/1217733/123909634-4763de00-d9b4-11eb-8a1d-85a47581bd7b.png)
The license text in background has broken, which is showing fine in the popup textbox.

[2021-06-30 06:35] GMishx commented on #2014
:grimacing:

Can you please provide the text phrase for testing?

[2021-06-30 06:41] drej commented on #2014
@GMishx It is also in the first comment:
[code]
By the way it means "Japanese" and "change a line" :)

[2021-07-01 05:07] drej commented on #2014
@GMishx I think a little change could fix this problem:
file: src/www/ui/ajax-clearing-view.php
function getBuildClearingsForSingleFile()
![image](https://user-images.githubusercontent.com/1217733/124068504-9c1b5d80-da75-11eb-842b-fceb2928a6c2.png)

[2021-07-01 05:19] Aman-Codes opened #2037 "Rest API: Improve error handling to prevent 500 error code"
### Description

1. Whenever any unsupported method is called on the API it returns 500 Internal Server Error.
Instead it should return Error 405 Method Not Allowed.

![image](https://user-images.githubusercontent.com/54680709/124068841-e215f880-da58-11eb-8006-4050fd4cb09b.png)
Postman Request

2. Also we get some junk response from the API. I believe this is due to debug log statement used by Fos

[2021-07-01 06:04] GMishx commented on #2037
Should be partially fixed by #2000 . Need to implement same for `notAllowedHandler`.

[2021-07-01 06:35] rahulsachdeva2 commented on #1470
Increased the upload_max_filesize and post_max_size in php.ini and restarted the apache and fossology service but the new update size not reflecting in fossology

[2021-07-02 12:19] C1ph3R-s opened #2039 "Password change with API"
Hi,

Is it possible to change the user password via API?
I have tried this step in postgresql, but when I wanted to login with new pass, fossy gave me back this message:
`The combination of user name and password was not found.`

The way what I have tried to change fossy user password:

[code]

Any idea for the automatization for this step?

Thanks,

[2021-07-02 15:45] GMishx commented on #2039
Hi @C1ph3R-s , unfortunately updating password is not that straight forward. Currently, FOSSology supports 2 methods to store passwords in DB
1. Salted SHA1 (upon next login, will be changed to second stronger method)
2. BCrypt (stronger the SHA1 for storing password)

To store password in SHA1, you need to first generate a salt (random text) and prepend it to password like `echo -n "thiswillbemys

[2021-07-06 18:07] Shruti3004 opened #2041 "Getting all the headers in response from the Rest APIs"
The Access-Control-Expose-Headers response header indicates which headers can be exposed as part of the response by listing their names.
By default, only the 6 CORS-safelisted response headers are exposed:
`Cache-Control`, `Content-Language`, `Content-Type`, `Expires`, `Last-Modified`, `Pragma`
If we want clients to be able to access other headers, you have to list them using the Access-Control-Ex

[2021-07-07 07:48] #2041 closed

[2021-07-08 03:33] Shruti3004 opened #2045 "REST API: Added the isCandidate parameter in getLicenses Api"
### Description

Currently the api `/license` gives the all licenses whether it is candidate or not, and then for the candidate License page we are sorting the response by checking `isCandidate= true`, so in this way we are not able to properly get all the licenses as specified in the entries of candidate license page.

### Screenshots
![Screenshot from 2021-07-08 09-03-17](https://user-images.git

[2021-07-08 03:34] Shruti3004 opened #2046 "REST API: Created the single request for the upload and analysis"
### Description
The current implementation of upload has three processes:

- Create a post request request at `/upload` api.
- Make a get request recursively on `/upload/{id}` untill the agents `ununpack` and `adj2nest` have complete their work it will return 503 that the unpacking has not been started.
- When the 2nd step get completed then we have to schedule the analysis on the upload. This wil

[2021-07-08 03:51] Shruti3004 opened #2047 "REST API: Edit request for the Uploads"
### Description

Currently, we are not having REST API for edit the uploads, we are making PATCH request for moving the upload we need to expose the edit upload from api.

Refrence: [https://github.com/fossology/FOSSologyUI/pull/77](https://github.com/fossology/FOSSologyUI/pull/77)

[2021-07-08 07:51] #1833 closed

[2021-07-09 06:36] #2045 closed

[2021-07-09 22:44] OmarAbdelSamea opened #2049 "Bundle all agents UI folder inside web Debian package"
### Description
Currently, UI folders are installed separately. Each agent UI folder is installed with it'd Debian package, Which will require a hectic procedure for a system with separate machine for each agent.

#### Expected result
All UI folders bundled inside web debian package

[2021-07-12 05:47] Shruti3004 opened #2050 "REST API: Upload from URL"
### Description

In the current implementation of Rest API for upload from URL some parameters are missing:

- Enter comma-separated lists of file name suffixes or patterns to accept.
- Enter comma-separated lists of file name suffixes or patterns to reject.
- maximum recursion depth (inf or 0 for infinite):

![Screenshot from 2021-07-12 09-45-49](https://user-images.githubusercontent.com/56133783

[2021-07-14 13:03] rlintu opened #2053 "Database migration fails from 3.8.1 to 3.10.0"
### Description

Database migration fails from 3.8.1 to 3.10.0.

#### How to reproduce

run ./fo-postinstall

#### Screenshots

First I tried 3.10.0 release dbmigrate_copyright-event.php. I ran fo-postinstall twice and both case I got following errors (row numbers were different though):
[code]
Then I tried dbmigrate_copyright-event.php from master branch. Now I got:
[code]
### Versions

Source: 3

[2021-07-14 13:16] DineshDevarajan commented on #2053
@rlintu  i am also facing the same issue . is the uploadtree table containing primary key > 100000 .

[2021-07-14 14:24] rlintu commented on #2053
Thanks for the quick reply. Unfortunately I didn't fully follow you.
The uploadtree_pk is from 1 to 58565032.
I initialized ```$i =1;``` but the result was the same.
How should I modify it?

[2021-07-15 03:56] DineshDevarajan commented on #2053
In my case the below query is not inserting data into table

[code]

  this is causing the $i value to be null and causing the error in

           SELECT 1 FROM migrate_copyrights_events_event(200000, )

We may need to check the query to see why it fails. In your case it is the author table , may be there is not pfile_fk match for uploadtree_pk initial values of 0 to 100000.

[2021-07-15 04:06] Aman-Codes opened #2054 "REST API: default group on login"
### Description

What default group should be displayed on the header when a user with multiple accessible groups logs in.
Currently, get request to `/groups` only returns the list of all the accessible groups.

#### Steps followed and expected result

API to return the default group of the user.

#### Screenshots

![image](https://user-images.githubusercontent.com/54680709/125727193-49aaa126-6a2a

[2021-07-17 13:02] avinal commented on #2049
Hello @OmarAbdelSamea, if I understood correctly, you are suggesting that all the `ui` folders should be included in the `fossology-web` Debian package.

Before going any further into the issue, I want to confirm few things
- What will be the final install location for each of the `ui` folders, if packaged in `web`?
- Can the same purpose be solved by adding symlinks to the `web` package instead o

[2021-07-17 13:14] OmarAbdelSamea commented on #2049
Hi @avinal, basically I'm suggesting to add all agents to `/usr/share/fossology` then create a symlink from `/etc/fossology/mods-enabled` to `/usr/share/fossology`.
- I'm sorry but I didn't get the point of creating a symlink to the web package.
I'll explain the use case of this issue:
If the web package is installed in a separate container it won't have the required UI folders for each agent as a

[2021-07-17 13:42] avinal commented on #2049
I got the situation. What you are suggesting is to move all the `ui` folders to the `web` package and add a symlink for these folders in their respective agents. Is that so? We would need to check if this works for normal machine install via these packages too and without causing a lot of configuration changes.

One thing I am not sure is, how feasible it will be to do that. Most probably it will

[2021-07-17 13:54] OmarAbdelSamea commented on #2049
- You don't need to copy only UI folders from the agents, you woud be adding the whole agent folder to `/usr/share/fossology` and for the normal install I think checking if these folders already exist would be enough.

- Not sure either. Maybe @GMishx would have an answer to this.

[2021-07-17 14:04] avinal commented on #2049
You mean a package with all the agents in one, that would be simple to do then.

[2021-07-17 14:55] kartikkumar783 opened #2058 "Frequently asked questions about fossology Installation and working"
### Discussed in https://github.com/fossology/fossology/discussions/1942

<div type='discussions-op-text'>
I want to increase upload limit more than 700MB , I am using fossology through Docker containers

</div>

[2021-07-19 08:57] GMishx commented on #2058
Please check response in the discussion: https://github.com/fossology/fossology/discussions/1942#discussioncomment-1020675

[2021-07-19 08:57] #2058 closed

[2021-07-20 06:59] eschenbachertq opened #2059 "Adding a comment resets the clearing status"
### Description

1. The starting point is a file whose clearing status is "Identified". No comment was added to the assigned license:
![image](https://user-images.githubusercontent.com/7579200/126275395-904c8336-1a2b-4fbb-be42-65458c687b8b.png)
The clearing status is displayed in green in the tree view:
![image](https://user-images.githubusercontent.com/7579200/126275484-71ec0f9d-f866-4f8a-a265-f2

[2021-07-20 08:18] eschenbachertq opened #2061 "Wrong description in tooltips"
### Description

The descriptions for two tooltips when determining the clearing decision type are incorrect:

- "Do not use"
![image](https://user-images.githubusercontent.com/7579200/126286424-8d2166d5-0e36-4f33-8818-7d454e7facb5.png)

- "Identified"
![image](https://user-images.githubusercontent.com/7579200/126286443-a2a9c39f-780a-4ccf-94d9-5c065292fd07.png)

### Versions

* Release 3.10.0 (com

[2021-07-20 08:46] eschenbachertq opened #2062 "Delete "wrong" entry from bulk history"
### Description

It would be a helpful function if you could remove "wrong" entries from the bulk history.

#### Steps followed and expected result

1. Schedule new bulk via "Bulk recognition", whereby the user makes a mistake (wrong reference text or license)
2. monkbulk and deciderjob are executed -> incorrect license assignments are generated due to incorrect user input
3. The "faulty" bulk app

[2021-07-20 10:50] msalvinik commented on #1984
@C1ph3R-s how do you solved the issue? thanks

[2021-07-20 11:59] eschenbachertq opened #2063 "Multi file ReadMe_OSS does not contain all license texts"
### Description

If you create a multi-file ReadMe_OSS from two uploads, for example, it does not contain all of the licenses for the two uploads.
The copyrights, however, are correctly merged from both uploads.

#### How to reproduce

- Generate and download ReadMe_OSS for each individual upload
- Generate and download multi-file ReadMe_OSS
- Compare the content of the multi-file ReadMe_OSS with

[2021-07-21 06:23] #2053 closed

[2021-07-25 17:50] avinal opened #2066 "`fossology-common` package contains files from `fossology-db` package"
### Description

- `fossology-common` package contains files from `fossology-db` package
- `fossology-db` package does not contains the required files

#### How to reproduce
- Download the latest tar from the [Release](https://github.com/fossology/fossology/releases) page.
- Untar and inspect `fossology-common` and `fossology-db` package.
[fossology-db_3.11.0~rc2-1_amd64.zip](https://github.com/fo

[2021-07-29 13:27] C1ph3R-s commented on #2039
Unfortunately it is not working. After I have changed the pass the GUI did not work with it. So I cannot login with the new pass.
Do you have any idea for that?

[2021-07-30 05:38] GMishx commented on #2039
Can you please try following?
1. Take a salt as `1ef3qwe`, or some other random character.
2. Keeping password as `fossy`.
3. Calculate checksum with "salt+password"
    - `echo -n "1ef3qwefossy" | openssl sha1`
    - hash: `609d2b673fd823a483fb9ce7e2817cb737d1e11e`
    - Note, there is no character between salt and password
4. Update the values in DB, replace `salt`, `hash` and `username` accordi

[2021-07-31 09:02] dineshr93 opened #2072 "A tab for File includers statement extracters (#include, import, FROM, require etc )"
### Description
Goal of this section is to index on pages with different includers listed below
To trace the dependencies
![image](https://user-images.githubusercontent.com/4498415/127734706-b16bf23a-d332-4308-b7d6-13413b90842d.png)

#### Steps followed and expected result

click the tab & examine what dependencies are being used by the files of this lib

#### Screenshots

![image](https://user-im

[2021-08-02 11:01] C1ph3R-s commented on #2039
it has worked very well, thanks.

[2021-08-02 11:06] #2039 closed

[2021-08-06 10:59] GMishx commented on #1991
Preliminary PR: https://github.com/fossology/fossology/pull/2073

[2021-08-09 11:36] eschenbachertq opened #2078 "Clearing status remains unchanged"
### Description

The starting point is a file for which the scanners have not found any license-relevant information, the scanner result is "No_license_found".
![image](https://user-images.githubusercontent.com/7579200/128699738-208fffec-1f60-4879-9b2d-ec066485808e.png)

If you now set the Clearing Decision Type manually to "No license known"
![image](https://user-images.githubusercontent.com/7579

[2021-08-11 02:08] Shruti3004 opened #2079 "Rest: getting the response on page set to "0""
### Description

On api call we are getting response even on when the page is set to 0.

#### How to reproduce

Make resquest on `/uploads` with header as page 0.

#### Screenshots
![Screenshot from 2021-08-11 07-35-02](https://user-images.githubusercontent.com/56133783/128958756-b9f4ec31-7d35-4601-a92a-20e27d79b1d8.png)

[2021-08-11 04:42] #2079 closed

[2021-08-15 12:00] itssingh opened #2081 "Create an API end-point for copyright"
### Description

Add a new API end-point for showing detected copyright similar to license `uploads/{id}/licenses`.

#### Expected result
[code]

#### Screenshots current status

![image](https://user-images.githubusercontent.com/43489890/129477797-12a51e0e-e8e5-4d46-988f-b742d6a8b0b7.png)

[2021-08-18 05:53] #1964 closed

[2021-08-19 18:18] avinal opened #2084 "Fix FOSSology agent tests"
### Description

Most of the FOSSology agent tests were written in the last decade and haven't been improved too much in recent years. As we are migrating to a new CMake-based build system, now would be a good time to renovate and modernize the tests. This will help reduce clutter and workarounds we had to adapt to run tests from CMake. However, for the time being, the main focus is to fix the tes

[2021-08-20 06:05] #2007 closed

[2021-08-20 06:43] shaheemazmalmmd opened #2085 "Unable to add a new license text for scanner found license by ojo"
### Description

* Unable to add a new license text for scanner found license by ojo.

#### How to reproduce

* Scan a package with new license "X-license" using OJO.
* Add newly added license data(X-license) to license ref file.
* Run postinstall script
* License text is still "License by OJO." new text is not getting updated.

### Versions

* Latest commit on master:

### Logs

See #2069

Also,